/** Pages **/

.actionable-head {
	@extend .tpl-featured;
	
	.container {
		padding: $base*1.5 0;
	}
	
	.entry-title {
		@include header-title(section);
		color: $color-white;		
		margin-bottom: 8%;
	}
	
	.entry-summary {
		@include body-text();
		color: $color-white;
		position: relative;
		
		h3 {
			@include post-title(featured);
			color: $color-white;
		}
		
		p {
			margin-top: $base/2;
		}
	}
	
	.entry-cta {
		margin-top: $base;		
	}
	
	.help-button {
		@include ghost-button(15px, $color-link-three, $color-white);
		letter-spacing: -0.5px;
	}
	
	@include for(medium-screens) {
		.container {
			padding: $base*2 0;
		}
	
		.entry-summary {
			width: 100%;
			position: absolute;
			left: 0;
			bottom: $base*2;
			padding-right: $fixed_side + 60px;
		}
		
		.entry-cta {
			width: $fixed_side;			
			position: absolute;
			right: 0;
			top: 8px;
			margin: 0;
		}	
		
		.help-button {
			width: 100%;
			text-align: center;
		}
	}
	
}



.custom-page {
	.narrow {
		@include for(medium-screens){
			width: 75%;
			margin-left: auto;
			margin-right: auto;
		}
	}
	
	big {
		@include post-title(featured);
	}
	
	h2 {
		@extend .cp-block-title;
	}
	
	hr {
		margin: $gut 0;
	}	
}

.cp-block-title {
	@include header-title(head_title);
	text-align: center;
	margin-bottom: $base*1.5;
}

.cp-block {
	margin-top: $base*2;
	margin-bottom: $base*2;
	&:first-child { margin-top: 0; }
}

.programm-block {
	margin-bottom: $base/2;
}

.newsletter-block  {	
	background: $color-link-three;
	padding: $gut;
	margin: 0;
		
	h5 {
		@include header-title(head_title_small);
		margin-bottom: 4px;
	}
	
	p {
		@include body-text(summary);
	}	
}

.news-block.roll {
	background: $color-secondary;
	margin-bottom: $base*2;
	margin-top: 2px;
	
	.related-section {
		border: none;		
	}
}


/** About **/
#aboutus {
	@include for(medium-screens) {
		column-count: 2;
		column-gap: 30px;
		
		p { break-inside: avoid; }
	}
}

.people-group {
	background: $color-secondary;
	padding: $base*1.5 0 $base;
	margin-bottom: 0;	
}

.people-group + .people-group {
	margin-top: 4px;
	margin-bottom: $base*2;
}

.org-group {
	margin-bottom: $base*3;
}

.inpage-menu {
	margin-bottom: $base*2;
	
	li {
		display: inline-block;
		margin-right: 18px;
	}
}