/*---------------------------------------------------------
 Presets (_presets.scss)
-------------------------------------------------------- */

//Fonts
$body:				 Verdana,Geneva,sans-serif;
$heading:            'PT Serif', serif;
$title:              'PT Serif', serif;
$nav:                'PT Sans Narrow', sans-serif;

$sans:               Verdana,Geneva,sans-serif;
$mono: 				"Lucida Sans Typewriter", "Lucida Console", Monaco, monospace;


//Break points
$one: 	       480px; //small
$two:          767px; //medium
$three:	       984px; //large
$four:         1200px; //exlarge

//Page layout
$page_cont:    978px;
$col:		   54px;
$gut:	       30px;



//Baseline
$base: 24px;


//Colors
$color-text:   rgba(0,0,0, 0.8);
$color-white:  #ffffff;

$color-link-one:   #FFB300;
$color-link-two:   #F50057;
$color-link-three: #3F51B5; 

$color-text-black:     rgba(0,0,0, 1);
$color-text-semi:      rgba(0,0,0, 0.6);
$color-text-light:     rgba(0,0,0, 0.45);
$color-secondary:      #f5f5f5;
$color-secondary-dark: #333;

$color-border-normal: #dfdfdf;
$color-border-light:  #eeeeee;
$color-border-link:   #eeeeee;

$color-form-invalid: #ED1C24;


//Layout Settings
$adminbar_large_screen: 32px;
$adminbar_small_screen: 46px;

//Element
$indent: 1.55em;
$rule: 	 1px solid $color-border-normal;


/** Mixins **/


// Typo
@mixin body-text($mod: default) {
	$body-text-size: 14px;
	
	font-family: $body;
	color: $color-text;
	
	font-size: $body-text-size;
	font-weight: normal;
	line-height: 1.5;
	
	@if $mod == summary {
		font-size: $body-text-size*0.928;
	}
}

@mixin nav-text($mod: default) {
	$nav-text-size: 16px;
	
	font-family: $nav;
	text-transform: uppercase;
	
	font-size: $nav-text-size;
	font-weight: normal;
	line-height: 1;	
	
	@if $mod == multiline {
		line-height: 1.5;
	}
	@if $mod == meta {
		font-size: $nav-text-size*0.8125;
		letter-spacing: 0.5px;
	}
}

@mixin post-title($mod: default) {
	$post-title-size: 21px;
	
	font-family: $title;
	color: $color-text-black;
	
	font-size: $post-title-size;
	font-weight: normal;
	line-height: 1.1;	
	text-transform: none;
	//text-overflow: ellipsis;
	//-ms-hyphens: auto; 
	//-moz-hyphens: auto; 
	//-webkit-hyphens: auto; 
	//hyphens: auto;
	
	@if $mod == small_title {
		font-size: 0.7777*$post-title-size;
		letter-spacing: normal;
	}	
}

@mixin sub-title($mod: default) {
	$sub-title-size: 16px;
	
	font-family: $heading;
	color: $color-text-light;
		
	font-size: $sub-title-size;
	font-weight: normal;
	line-height: 1.2;
	text-transform: none;
	letter-spacing: normal;
		
	@if $mod == italic {
		font-style:italic; 
	}	
}


@mixin header-title($mod: default){
	$header-title-size: 21px; 
	
	font-family: $heading;
	color: $color-text-black;
	
	font-size: $header-title-size;
	font-weight: normal;
	line-height: 1.2;
	
	
	@if $mod == section {
		font-size: 36px;
		text-transform: uppercase;
	}
	@else if $mod == widget {
		font-size: 16px;
		text-transform: uppercase;
	}
	@else if $mod == head_title {
		font-size: 24px;
		text-transform: uppercase;
	}
}

@mixin button($size: 12px){
	font-family: $sans;
	text-transform: uppercase;
	color: $color-white;
	background: $color-link-two;
	display: inline-block;
	padding: 0.5em 1.4em;
	@include transition(all 0.3s);
	
	&:visited {
		color: $color-white;
	}
	&:hover, &:focus, &:active {
		background: darken($color-link-three, 10%);
		color: $color-white;
	}
}



@mixin shading-summary($max-height: 48px){
	max-height: $max-height;
	overflow: hidden;		
	position: relative;
	
	&:after {
		content: '';
		display: block;
		width: 45%;
		height: 18px;
		background: rgba(255,255,255, 0.5);
		position: absolute;
		bottom: 0;
		right: 0;
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&0+0,1+82 */
		background: -moz-linear-gradient(left,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 82%, rgba(255,255,255,1) 100%); 
		background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 82%,rgba(255,255,255,1) 100%); 
		background: linear-gradient(to right,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 82%,rgba(255,255,255,1) 100%); 
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
	}
	
}

// Media
@mixin caption-figure {	
	width: 100%;
	
	a {
		display: block;
		width: 100%;	
	}
	
	img {
		width: 100%; //temp
		height: auto;
	}
			
	figcaption {
		vertical-align: middle;
		display: block;
		margin-top: $gut/2;
		@include nav-text();
		position: relative;
		padding-left: 28px;
					
		
		
		span {
			display: inline-block;
			@include nav-text();
			line-height: 1.5;			
		}
		
		p { margin: 0; }		
	}
}

	
