_temp
.htaccess
.DS_Store
.komodotools
.idea
.sass-cache
core
wp-content/languages
wp-content/plugins
node_modules
bower_components
wp-content/upgrade
wp-content/uploads
wp-content/vendor
wp-config.php
searchreplacedb2.php

debug.log
composer.lock
*Конфликтующая копия с компьютера*
/filelist.txt
/upd_root.sh
/upd_theme.sh
dront.komodoproject
