/** Home **/
// top item

.home-section.intro {
	.featured_text {
		padding: $cell-elementary-2x $cell-elementary-3x;
	}
	
	.social-menu {
		float: left;
		padding-left: 16px;
	}
}

.home-section.posts,
.home-section.programms {
	
	& > .mdl-grid {
		padding-top: 0;
	}
	.home-section-title {
		margin: 0;
		@include typo-headline();
		
		a {
			color: $tst-color-primary;
			&:hover, &:focus, &:active {
				color:  $tst-color-accent;
			}
		}
	}
}



//partners
.home-partners-block {
	margin: $margin-base 0;
	padding: 16px 0 56px;
	background-color: #333;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
		
	.widget-title {
		font-size: 12px;
		font-weight: 400;
		margin: 0 0 $margin-base;
		color: $tst-color-white;
	}
	
	.widget-content {
		background: $tst-color-white;		
		border-radius: 2px;
		padding: $grid-desktop-gutter;
	}
}

.partners-gallery {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: stretch;
	align-content: flex-start;
	
	.logo {
		width: 120px;
		height: 66px;
		
		.logo-link {
			display:block;
			padding: 8px 5px;
			text-align: center;
			line-height: 50px;
			vertical-align: middle;
		}
		
		img {
			max-height: 50px;
			max-width: 110px;
			width: auto;
			height: auto;
			vertical-align: middle;
		}
	}
}


//footer
.home-footer-block {
	.widget-title {
		font-size: 16px;
		font-weight: 400;
		margin-bottom: $margin-base*1.5;
	}
	
	.widget-content {
		margin-bottom: $margin-base;
	}
}

.page-template-page-home .widget_socila_links {
	margin-left: 72px;
	
	.social-menu {
		margin-top: 0;
	}
}


