/*---------------------------------------------------------
 Modules (_modules.scss)
-------------------------------------------------------- */
/** Social buttons **/

//Iconts font
@font-face {
  font-family: 'fontello';
  src: url('../font/fontello/fontello.eot');
  src: url('../font/fontello/fontello.eot#iefix') format('embedded-opentype'),
       url('../font/fontello/fontello.woff') format('woff'),
       url('../font/fontello/fontello.ttf') format('truetype'),
       url('../font/fontello/fontello.svg#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}

 
@mixin icon-fontello {
	font-family: "fontello";
	font-style: normal;
	font-weight: normal;
	speak: none;
	
	display: inline-block;
	text-decoration: inherit;
	width: 1em;
	margin-right: .2em;
	text-align: center;
	  
	font-variant: normal;
	text-transform: none;
	
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.fontello {
	@include icon-fontello();
}

.icon-facebook:before { content: '\e800'; }
.icon-vkontakte:before { content: '\e801'; } 
.icon-odnoklassniki:before { content: '\e802'; } 
.icon-twitter:before { content: '\e803'; } 
.icon-instagram:before { content: '\e804'; } 
.icon-youtube:before { content: '\e805'; } 


// Buttons styles
.social-likes {
	@include clearfix;
	* {
		box-sizing: border-box;
	}
}

.social-likes__widget  {	
	background: #325A97;
	float: left;
	height: 36px;	
	font-size: 13px;
	margin-right: 8px;
	@include upto(phone) {
		margin-bottom: 8px;
	}
	min-width: 80px;
	cursor: pointer;
	@include transition(box-shadow 0.35s);
	
	a {
		display: inline-block;
		padding: 8px;
		color: $tst-color-white;
		text-decoration: none;
	}
	
	&:hover, &:focus, &:active {
		@include shadow-2dp() ;
	}
}

.social-likes__widget_twitter {
	background: #00ACED;
}

.social-likes__widget_vkontakte {
	background: #4C75A3;
}

.social-likes__widget_odnoklassniki {
	background: #f59310;
}

.social-likes__icon {
	display: inline-block;
	width: 26px;
	color: #fff;
	font-size: 16px;
	vertical-align: text-top;
	float: left;
	line-height: 18px;
}

.social-likes__icon:before {
	@include icon-fontello ;
}

.social-likes__icon_facebook:before { content: '\e800'; }
.social-likes__icon_twitter:before { content: '\e803'; }
.social-likes__icon_vkontakte:before {  content: '\e801'; }
.social-likes__icon_odnoklassniki:before { content: '\e802'; }

//on panel
.sharing-on-panel {
	.social-likes__widget {
		width: 36px;
		min-width: 0;
		
		a {
			display: block;
			@include image-replace;
		}
	}
	
	.social-likes__icon {
		width: 100%;
		height: 100%;
		line-height: 20px;
		text-align: center;
		&:before {
			width: 100%;
			text-align: center;
		}
	}		
}


// Floating panel on single
#float-panel {
	display: none;
	background: $tst-color-white;
	z-index: 1100;
	width: 100%;	
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	//box-shadow: -3px -3px 3px 0 rgba(0,0,0,0.65);
	@include shadow-2dp_up();
	
	.mdl-grid.full-width {
		padding-top: 0;
		padding-bottom: 0;
		& > .mdl-cell {
			margin-top: 8px;
			margin-bottom: 7px;
		}
	}
	
	.panel-logo {
		width: 42px;
		float: left;
	}
	
	.panel-content {
		margin-left: 58px;
	}
	
	.next-link {
		display: block;
		text-align: right;
		
		a {
			display: inline-block;
			@include typo-button();
			text-decoration: none;
			line-height: 36px;
			max-height: 36px;
			overflow: hidden;
		}
	}
	
}

.admin-bar #float-panel {
	
}


// Captioned items
@mixin text-with-caption {
	.caption {
		@include typo-caption;
		color: $tst-color-text-semi;
		line-height: 1.333;
		padding-bottom: 2px;
	}
	.text {
		@include typo-body-1;
		color: $tst-color-text;
		a {
			color: $tst-color-text;
			&:hover, &:focus, &:active {
				color: $tst-color-link;		
			}
		}
	}
}

.captioned-text {
	@include text-with-caption();
}


// Grid corrections
.grid-position {
	margin: 0 -1 * $grid-desktop-gutter;
}
	
.mdl-grid {
	max-width: 1128px + $grid-desktop-margin *2;
}

.mdl-grid.full-width  {
	max-width: none;
}

.mdl-cell .mdl-card {
	width: 100%;
	height: 100%;
}


// Wordpress gallery
.gallery {
	@include clearfix;
	margin: $margin-base -4px;
	
	.gallery-caption { display: none; }
	
	.gallery-item {
		display: block;
		float: left;
	}
	
	.gallery-icon {
		padding: 4px;
		a {
			display: block;
			@include shadow-2dp();
			@include transition(all 0.35s);
			
			&:hover {
				@include focus-shadow();
			}
		}
		img {
			width: 100%;
			height: auto;
		}
	}
}

$i: 1; //widths
@while $i < 10 {
  
  .gallery-columns-#{$i} .gallery-item { width: 100% / $i; }
   $i: $i + 1;
}

/** Social menu **/
.social-menu {
	list-style-type: none;
	margin: 0;
	padding: 0;
	@include clearfix;
	
	li {
		float: left;
		margin-left: 8px;
		&:first-child { margin-left: 0; }
		
		a {
			display: block;
			font-size: 20px;
			text-align: center;		
			background: $tst-color-link;
			color: $tst-color-white;
			text-decoration: none;
			width: 36px;
			height: 36px;
			border-radius: 3px;
			@include transition(all 0.35s);
		}
		
		i {
			color: $tst-color-white;
			line-height: 36px;
			margin: 0;
			span {
				display: none;
			}
		}
	}
	
	.vk a {
		background: #3C6792;
		&:hover, &:focus, &:active {
			background: lighten(#3C6792, 10%);
		}
	}
	
	.facebook a {
		background: #3D549A;
		&:hover, &:focus, &:active {
			background: lighten(#3D549A, 10%);
		}
	}
		
	.twitter a {
		background: #01ADED;
		&:hover, &:focus, &:active {
			background: darken(#01ADED, 10%);
		}
	}
	.odnoklassniki a {
		background: #EB9130;
		&:hover, &:focus, &:active {
			background: darken(#EB9130, 10%);
		}
	}
	.instagram a {
		background: #2A5B83;
		&:hover, &:focus, &:active {
			background: darken(#2A5B83, 10%);
		}
	}
	.youtube a {
		background: #E83832;
		&:hover, &:focus, &:active {
			background: darken(#E83832, 10%);
		}
	}
}


.widget_socila_links .social-menu  {
	float: left;
	margin-top: 40px;
}