/*---------------------------------------------------------
 Global Layout (_front.scss)
-------------------------------------------------------- */
html {
	//font-size: 62.5%; //10px
	background-color: $color-white;	
}
body {
	background-color: $color-white;
	text-rendering: optimizeLegibility;	
	@include body-text();
	
	& > svg { display: none; }	
}

a {
	text-decoration: none;
	color: $color-link-three;
	@include transition(all 0.3s);
	
	&:visited { color: $color-link-three; }
	&:hover, &:focus, &:active {
		color: $color-link-two;
	}
}

p {
	-webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
	&:last-child { margin-bottom: 0; }	
}

p,ul,ol,dl,blockquote {
	@extend .break;
}

.svg-icon, .svg-pic {
	display: inline-block;
}

//title with normal weights
h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
}


/** Layout structure **/
.container {
	width: 88%;
	max-width: $page_cont;
	margin: 0 auto;
	position: relative;
}

.container-wide {
	@extend .container;
	max-width: $full_cont;
	width: 100%;
}



// index
.heading {
	background: $color-white;
	padding: $base;
	text-align: center;
}

.section-title {
	@include header-title(head_title);		
}

.cards-holder {
	background: $color-secondary-dark;
	padding-top: $gut;
	
	&.squared {
		background: transparent;
		padding-top: 0;
	}
}


//page with cards
.featured-head {
	height: 50vh;
	
	.tpl-featured-bg {
		width: 100%;
		height: 100%;
		background-color: $color-secondary;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center center;
	}
}

.featured-heading {
	background: $color-white;
		
	.featured-title {
		display: inline-block;
		background: #111;
		@include header-title(section);
		line-height: 1;
		color: $color-white;
		padding: 10px 20px;
		margin-bottom: $base;
	}
	
	.for-title {
		position: relative;
		top: -40px;
		border-bottom: 1px solid $color-border-normal;
		padding-bottom: $base;
	}
	
	.mobile-sharing {
		margin-top: $base;
	}
}

.bottom-content {
	margin-bottom: $gut*2;
	
	.container-wide {
		background: $color-secondary;
		padding-top: $gut;
		padding-bottom: $gut;
	}
	
	.page-section:last-of-type { margin-bottom: 0; }
}







/** Social panel **/
.bottom-bar {
	background: $color-link-three;
	padding: $base*1.3 0 $base*1.8;
	color: $color-text-black;
		
	h5 {
		@include header-title(head_title_small);
		margin-bottom: $base/2;
	}
	
	.icons-label {
		@include for(medium-screens){
			display: none;
		}
		
		@include for(large-screens) {
			display: inline;
		}
	}
}




/** Footer **/
.site-footer {	
	padding: $gut 0;
	background: $color-secondary-black;
	font-size: 14px;
	color: transparentize($color-white, 0.05);
	
	a {
		color: $color-link-three;
		&:hover, &:focus, &:active {
			text-decoration: underline;
			color: $color-link-two;
		}
	}
	
	p {
		margin-bottom: $base/2;
		&:last-child { margin-bottom: 0; }
	}
	
	.copy {
		max-width: 560px;
		@include for(medium-screens) {
			padding-top: 16px;
		}
	}
	
	.lg-offset-1 {
		text-align: right;
	}	
	
	.widget-title {
		@include header-title(widget);
		color: rgba(255,255,255, 0.9);
		margin-bottom: $base;
	}
	
	//layout
	.widget-area {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
		margin: 0 $gut/2;
		@include for(xxlarge-screens){
			margin: 0 -1*$gut/2;
		}
	}
	
	.widget-bottom {
		flex: 0 0 auto;
		width: 100%;
		margin: 0 $gut/2 $gut;
		
		@include calc(width, '100% - 30px');
		
		@include for(small-screens){
			@include calc(width, '50% - 30px');
		}
		
		@include for(medium-screens){
			&:nth-of-type(2),
			&:nth-of-type(3) {
				@include calc(width, '25% - 30px');
			}			
		}
		
		@include for(large-screens){
			@include calc(width, '25% - 30px');
			
			&.widget_nav_menu {
				@include calc(width, '17% - 30px');				
			}
		}
		
		
	}
	
	.hr {
		margin-bottom: $gut;
		color: transparent;
		width: 100%;
		border-bottom: 1px solid rgba(255,255,255, 0.15);
	}
	
	.ghost-button {
		@include ghost-button(14px, $color-link-three, $color-white);
		text-decoration: none;
		&:hover, &:focus, &:active {
			text-decoration: none;
		}
	}	
	
	.button {
		@include button();
		&:hover, &:focus, &:active {
			text-decoration: none;
		}
	}
}


.te-st-bn {	
	position: relative;
	text-align: right;
	
	.rdc-icon {
		display: inline-block;
		width: 87px;
		height: 40px;
		fill: $color-white;
	}
	
	a {
		display: block;
		width: 110px;
		height: 50px;
		padding-top: 5px;
		text-align: center;
		box-sizing: border-box;		
		border-radius: 5px;		
		@include transition(all 0.35s);
		
		&:hover, &:focus, &:active {
			background: rgba(255,255,255, 0.9);
			.rdc-icon { fill: $color-text-black; }
		}
		
		position: absolute;
		top: 0;
		right: 0;
	}
		
	.support {
		display: inline-block;
		font-size: 11px;
		line-height: 14px;	
		margin-right: 122px;
		padding-top: 10px;
	}
}

