/** Header **/

//sizes 
$mobile_height : 54px;
$full_height   : 62px;
$red_cross  : 42px;

//layout
.site-header {
	background: $color-white;
	border-bottom: 1px solid $color-border-normal;
	box-shadow: 0 1px 2px rgba(0,0,0, 0.2);
}

.site-panel-row {
	display: flex;
	flex-flow: row nowrap;	
}

.site-panel-cell {
	
	&.site-branding {
		width: $mobile_height;
		flex: 0 0 auto;
		
		@include for(small-screens) {
			width: auto;
		}		
	}
	
	&.site-details {
		flex: 1 1 auto;
	}
	
	&.newsletter {
		flex: 0 0 auto;		
	}
	
	&.menu {
		width: $mobile_height;		
		flex: 0 0 auto;
		
		@include for(medium-screens) {
			width: $full_height;
		}
	}
}


// branding part
.site-branding {
	
	.site-logo {
		display: block;
		position: relative;
		color: $color-link-three;
		
	}
	
	#logo {
		width: $mobile_height;
		height: $mobile_height;
		text-align: center;
				
		.pic-logo {
			width: 42px;
			height: 42px;
			margin-top: ($mobile_height - $red_cross)/2;
		}
		
		position: absolute;
		left: 0;
		top: 0;
		
		@include for(medium-screens) {
			width: $full_height;
			height: $full_height;
			
			.pic-logo {
				margin-top: ($full_height - $red_cross)/2;
			}
		}
	}
	
	.logo-name {
		display: none;
		text-transform: uppercase;		
		line-height: 1;			
		
		@include for(small-screens) {
			display: block;
			margin-left: $mobile_height*2 - $red_cross;
		}
		
	}
	
	h1 {
		font-family: $heading;		
		font-size: 18px;
		padding-top: 10px;
		letter-spacing: -0.3px;
		
		@include for(medium-screens) {
			font-size: 19px;
			padding-top: 13px;
		}
	}
	
	h2 {
		padding-top: 4px;
		font-size: 12px;
		font-family: $body;		
		letter-spacing: 0.5px;
		
		@include for(medium-screens) {
			padding-top: 6px;
		}
	}
}

//contacts
.site-details {
	min-width: 1px;
	p { display: none; }
	
	@include for(medium-screens){
		text-align: right;
		
		p {
			display: inline-block;
			height: 100%;
			border-left: 1px solid $color-border-normal;			
			padding: 13px 18px 0 18px;
			color: $color-text-light;
			@include nav-text(multiline);
			text-transform: none;
			
			
			a {
				color: inherit;
				display: inline-block;
				border-bottom: 1px solid;
			}
		}
	}
}

//buttons
.trigger-button {
	height: $mobile_height;
	cursor: pointer;
	@include transition(all 0.3s);
	
	&:hover {
		background: $color-secondary;
	}
	
	&.newsletter {
		@include  nav-text();
		font-size: 13px;		
		color: $color-white;
		background: $color-link-three;
				
		a {
			display: block;
			color: inherit;
			padding: 0 18px;
			height: 100%;
			padding-top: ($mobile_height - 14px) /2;
		}
		
		&:hover {
			background: $color-link-two;
		}
	}
	
	&.menu {
		text-align: center;
		padding: ($mobile_height - 18px)/2;
		border-right: 1px solid $color-border-light;		
		cursor: pointer;
		
		.svg-icon {
			width: 18px;
			height: 18px;
			fill: $color-text-black;
		}
	}
	
	@include for(medium-screens){
		height: $full_height;
		
		&.newsletter a { padding-top: ($full_height - 14px) /2; }
		&.menu { padding: ($full_height - 18px)/2; }
	}
}



.newsletter-panel {
	display: none;		
}


/** Temp menu **/
.nav-overlay {
	display: none;		
}
.site-nav {
	display: none;		
	
	
}