/** Pages **/

.page-section {
	
	margin-bottom: $gut;
	
	.page-section-title {
		@include header-title(head_title);
		text-align: center;
		margin: 0 0 $base;
	}
	
	&.picture {
		min-height: 40vh;
		margin: 0 -5% $base;
		padding: $gut 5%;
		background-color: #333;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center top;
				
		.bit {
			color: $color-white;
			h2, h3, h4, h5, h6 {
				color: $color-white;
			}
		}
	}
	
	&.cta {
		border-top: 6px solid $color-link-three;
		border-bottom: 6px solid $color-link-three;
		padding: $base 0;
		
		h4 { margin: $base 0; }
		text-align: center;
		
		margin-bottom: $gut*2;
	}
}


/** Homepage **/
.home-news {
	.related-title { display: none; }
}

.home-intro {
	.container-wide {
		background: $color-secondary;
	}
	
	.intro-text {
		padding: $gut;
		max-width: $page_cont;
		margin: 0 auto;
		text-align: center;
	}
}

.home-content-section {
	margin: $gut*1.5 0;
}

//3col module
.col3-section  {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: stretch;
		
	.col3 {
		width: 100%;
		margin-bottom: $gut;
		flex: 1 0 auto;		
	}
		
	@include for(medium-screens){
		margin: 0 -1*$gut/2;
		
		.col3 {
			margin: 0 $gut/2 $gut;
			@include calc(width, '50% - 30px');
			
			&:last-of-type {
				@include calc(width, '100% - 30px');
			}
		}
	}
	
	@include for(large-screens){
		margin: 0 -1*$gut/2;
		
		.col3, .col3:last-of-type {
			flex: 0 0 auto;	
			@include calc(width, '30% - 30px');
			text-align: center;
		}
	}	
}


.col3-content {
	width: 100%;
	height: 100%;
	
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-between;	
	
	.col3-title {
		margin-bottom: $base*1.2;
		height: 32px;
		flex: 0 0 auto;
		overflow: hidden;
	}
	
	.col3-text {
		flex: 1 0 auto;
	}
	
	.col3-link {
		flex: 0 0 auto;		
		margin-top: $base;
		height: 40px;
		overflow: hidden;
		
		a {
			@include ghost-button(14px, $color-text-black, $color-white);
		}
	}
}
