/** Widgets **/

.widget {	
	margin-bottom: $gut;
	&:last-of-type { margin-bottom: 0; }
	
	& > h3, .widget-title {
		margin-bottom: $base;		
		@include header-title(widget);		
	}
	
	.textwidget {		
		p:last-child { margin-bottom: 0; }
		
		h5 {
			@include post-title(small_title);
			margin-bottom: $base;
			&:last-child { margin-bottom :0;}
		}
		
	}
	
	.ghost-button {
		@include ghost-button(14px, $color-link-three, $color-white);
	}
		
	p { //temp		
		margin-bottom: $gut/2;
	}
	
	&.red {
		background: $color-link-three;
		padding: $gut/2;
		color: rgba(255,255,255, 0.98);
		h3, .widget-title, h5 { color: inherit; }
		
		a { color: $color-white; }
		
		.ghost-button {
			margin-top: $base;
			@include ghost-button(16px, $color-white, $color-link-three);
		}
	}
	
	&.text-center {
		text-align: center;
	}
}

.widget_nav_menu {
	@include nav-text();	
	li { margin-bottom: $base/2; }
	
	.hide-on-large & {
		margin-bottom: 0;
		li {
			display: inline-block;
			margin: 0 18px 9px 0;
		}
	}
}
