/** == Building blocks (_blocks.scss) == **/

//general elements
.sep {
	display: inline-block;
	padding: 0 4px;
}

.landing-header {
	position: relative;
}

.landing-header__title {
	@include post-title(cover);
}

.landing-header__tagline {
	@include header-title(cover);
	margin-top: $base*2;
}


.landing-header__links {
	@include nav-text(cta_link);
	margin-top: $base*4;
	white-space: nowrap;
}


//general cover
.cover-general {
	margin-bottom: $base*7;

	@include for(medium-screens) {
		margin-bottom: $base*10;
	}
}



.cover-general__title {
	text-align: center;
	padding: $base*5 0;

	@include for(medium-screens) {
		padding: $base*8 0;
	}

	.landing-header__title {
		max-width: 840px;
		margin-left: auto;
		margin-right: auto;
	}

	.landing-header__links  {
		a {
			margin: 0 18px;
		}
	}
}

.cover-general__item {
	position: relative;
	z-index: 1;
	@include progressive-height(cover);

	.container {
		z-index: 100;
	}
}

.cover-item__bg {
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

.cover-item__link {
	@include link-label();
	@include link-label-box();
	background: $color-white;
	color: $color-text-black;

	&:visited, &:hover {
		color: $color-text-black;
	}
}

//buttonned cover
.cover-buttoned {
	.landing-header__links {
		a {
			margin: 0 18px;
		}
	}
}

.cover-buttoned__title {
	text-align: center;
	padding: $base*5 0;

	@include for(medium-screens) {
		padding: $base*8 0;
	}
}

.cover-buttoned__bg {
	@include progressive-height(cover);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

.cover-buttoned__item {
	padding: $base*5 0;

	@include for(medium-screens) {
		padding: $base*8 0;
	}

}

@include for(large-screens) {
	.cover-buttoned__title {
		width: 42%;
		height: 550px;
		text-align: left;
		padding-bottom: 0;
	}

	.cover-buttoned__item {
		@include clearfix;
		padding-top: 0;
		padding-top: $base*5;
	}

	.cover-buttoned_button {
		a { @include button(cover); }
		float: left;
		width: 40%;
	}

	.cover-buttoned__card {
		width: 50%;
		float: right;
	}

	.cover-buttoned__bg {
		@include calc(width, '50% + 81px');
		height: 550px;
		position: absolute;
		left: 50%;
		top: 0;
		@include transform(translateX(-81px));
	}
}



