/** == Building blocks (_blocks.scss) == **/

//general elements
.sep {
	display: inline-block;
	padding: 0 4px;
}

.landing {
	padding-bottom: $base*6;
	@include for(large-screens) {
		padding-bottom: $base*10;
	}
}

.landing-header {
	position: relative;
}

.landing-header__title {
	@include post-title(cover);
}

.landing-header__tagline {
	@include header-title(cover);
	max-width: $text_col;
	margin: $base*2 auto 0 auto;
}


.landing-header__links {
	@include nav-text(cta_link);
	margin-top: $base*4;
	white-space: nowrap;
}


//general cover
.cover-general,
.cover-minimal {
	@include for(small-screens) {
		margin-bottom: $base*6;
	}

	@include for(medium-screens) {
		margin-bottom: $base*10;
	}
}



.cover-general__title {
	text-align: center;
	padding: $base*5 0;

	@include for(medium-screens) {
		padding: $base*7 0;
	}

	.landing-header__title {
		max-width: $text_col;
		margin-left: auto;
		margin-right: auto;
	}

	.landing-header__links  {
		a {
			margin: 0 18px;
		}
	}
}

.cover-general__item {
	position: relative;
	z-index: 1;

	.container {
		z-index: 100;
	}
}

.cover-item__bg {
	position: relative;
	z-index: 1;
	@include progressive-height(cover);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

.cover-item__link {
	@include link-label();
	min-height: $card_base_w /1.618;
	background: $color-white;
	color: $color-text-black;

	&:visited, &:hover {
		color: $color-text-black;
	}
}

@include for(small-screens) {
	.cover-general__item .container {
		position: absolute;
		height: 100%;
		top: 0;
		left: 50%;
		@include transform(translateX(-50%));
	}

	.cover-item__link {
		position: absolute;
		left: 0;
		bottom: 0;
		width: $card_base_w ;
	}
}

.cover-item__date {
	font-weight: normal;
	font-size: 0.9em;
	margin-top: $base/2;
}


//subtitle
.subtitle-block__text {
	@extend .news-block__title;
}