/** == Cards (_cards.scss) == **/

.cell {
	
}

.cell__title{
	margin-bottom: $element-padding-base;
	@include post-title();
	
	a, a:visited {
		color: $color-text-black;
	}
	a:hover { color: $color-link-two; }
	
	.date {
		@include sub-title();
		margin-left: $element-padding-base/2;
	}
}

.cell__thumb {
	margin-top: $element-padding-base;
}