/** == Cards (_cards.scss) == **/

//common elements

.card-link {
	display: block;
}

.card__title {
	@include post-title(cards_regular);
	h4 { font-weight: bold; }
}

.card__title--text {
	@include post-title(cards_text);
	h4 { font-weight: bold; }
}

.card__subtitle {
	@include header-title(cards_text);
	margin-top: $base;
}

.card__summary {
	@include body-text(extra_summary);
	margin-top: $base *4;
}

.card__action {
	@include nav-text(cta_link);
	margin-top: $base*3;
	white-space: nowrap;
}

.card__icon {
	.svg-icon {
		width: 48px;
		height: 48px;
		fill: transparentize($color-white, 0.4);
	}
}

.card__thumbnail {
	position: relative;
	z-index: 1;

	img { //temp no fix for incorrect size
		width: 100%;
		height: auto;
	}
}

.card__label {
	@include link-label();
	min-height: 149px;
}


//Types
.card--linked {
	position: relative;
	z-index: 1;

	.card__label {
		@include link-label-box();
		background: $color-white;
		color: $color-text-black;
		position: absolute;
		z-index: 10;
		bottom: 0;
		left: 0;
	}

	&.label-left_top .card__label {
		bottom: auto;
		top: 0;
	}

	&.label-left_top.block-full .card__label {
		bottom: auto;
		top: 0;
		@include for(medium-screens) {
			@include transform(translateX(100%));
		}
	}
}


.card--colored {
	background: $color-link-one;
	color: $color-white;
	position: relative;
	min-height: 149px;

	a {
		color: $color-white;
		padding: $base*3;
		height: 100%;
	}

	.card__icon {
		position: absolute;
		bottom: $base*3;
		left: $base*3;
		z-index: 10;
	}
}

.card--colored + .card--colored {
	background: $color-link-four;
}


.card--item {
	background: $color-secondary-dark;
	color: $color-white;

	a {
		color: $color-white;
	}
}


.card--text {
	.flex-column-centered {
		padding: $base*5 0 $base*5 $base*8;
		height: 100%;
	}

	.row-reverse & .flex-column-centered {
		padding-left: 0;
		padding-right: $base*8;
	}
}

//people
.person-item {
	@inlcude clearfix;
	margin-bottom: $base*2;
	&:last-child { margin-bottom: 0; }
}

.person-item__thumbnail {
	width: 80px;
	height: 80px;
	float: left;

	@include for(small-screens) {
		width: 95px;
		height: 95px;
	}
}

.person-item__title {
	margin-left: $base*2 + 80px;

	@include for(small-screens) {
		margin-left: $base*2 + 95px;
	}
}

.person-item__role {
	margin-left: $base*2 + 80px;

	@include for(small-screens) {
		margin-left: $base*2 + 95px;
	}
}

.people-list {
	.flex-column-centered {
		padding: $base*5 $base*8;
		height: 100%;
		max-width: 390px + $base*16;
		margin: 0 auto;
	}
}

.card--person {
	.person-item__thumbnail  { float: none; }
	.person-item__title,
	.person-item__role { margin: $base*2 0 0; }

	.flex-column-centered {
		padding: $base*5 0 $base*5 $base*5;
		height: 100%;
		justify-content: flex-start;
	}

	.row-reverse & .flex-column-centered {
		padding-left: 0;
		padding-right: $base*5;
	}
}


//single centered
.singleblock-text {
	text-align: center;
	padding: $base*6 0;

	@include for(medium-screens) {
		padding: $base*12 0;
	}

	.card--text {
		max-width: 840px;
		margin: 0 auto;
	}

	.card__title {
		@include post-title(cards_text_feature);
	}
}


//news
.news-block__title {
	@include block-title();
	padding: $base*6 0 $base*5;
	text-align: center;

	@include for(medium-screens) {
		padding-top: $base*12;
	}
}

.news-block__content .flex-grid--stacked  {
	justify-content: flex-start;
}

.card--news {
	a {
		height: 100%;
		position: relative;
		padding-bottom:  $base*6;
	}

	.card__title {

	}

	.card__summary {
		@include body-text();
		color: $color-white;
	}

	.card__meta {
		@include sub-title();
		color: $color-white;
		position: absolute;
		bottom: $base*3;
		left: $base*3;
	}

	&.card--item {
		.card__title {
			padding: $base*3 $base*3 0 $base*3;
		}
		.card__summary {
			padding: 0 $base*3 $base*3;
		}
	}
}


//help
.help-block__title {
	@extend .news-block__title;
}

.card__button {
	@include button();
	margin-top: $base;

	//colors are temp
	background: $color-link-one;

	.card--colored & {
		background: $color-secondary-dark;
	}
}


// card--news-apart
.card--news-apart {
	background: $wetsoil;

	.card__label {
		padding: $base*3;
		color: $color-white;
		overflow: hidden;
	}

	.card__summary {
		@include body-text();
		color: $color-white;
	}

	.card__meta {
		padding-top: $base*3;
		@include sub-title();
		color: $color-white;
	}

	@include for(small-screens) {
		min-height: $card_base_w;
		display: flex;
		flex-flow: row nowrap;
		justify-content: flex-start;
		align-item: stretch;

		.card__thumbnail {
			width: 50%;
			max-width: $card_base_w;
		}

		.card__label {
			flex: 1 1 auto;
		}
	}

	@include for(large-screens) {
		min-height: $card_base_w *2;
		flex-flow: column nowrap;
		justify-content: flex-start;
		align-item: stretch;

		.card__thumbnail {
			width: 100%;
			min-height: $card_base_w;
		}

		.card__label {
			width: 100%;
			min-height: $card_base_w;
		}
	}
}




/**  Thumbnails OLD **/
/* thumbnails */
@mixin cell-thumbnail() {
	a { display: block; }

	img {
		width: 100%;
		height: auto;
	}

	figcaption {
		display: block;
		@include sub-title();
		color: $color-text-light;
		margin-top: $element-padding-base /4 ;

		p { margin: 0; }
	}

}

/** Thumbnails **/
.tst-thumbnail {
	width: 100%;
}

.tst-thumbnail__nopicture {
	width: 100%;
	min-height: 50px;
	height: 50%;
}

.tst-thumbnail__frame {
	width: 100%;
	background: $color-secondary;
}


.flex .tst-thumbnail__picture {
	display: block;
	width: 100%;
}

.fixed {
	position: relative;

	&:after {
		content: '';
		display: block;
		height: 0;
        padding-bottom: 61.8%;
		width: 100%;
	}

	.tst-thumbnail__frame {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		display: block;
		overflow: hidden;
	}

	.tst-thumbnail__picture {
		img {
			min-width: 100%;
			width: auto;
			max-width: 120%;

			min-height: 100%;
			height: auto;

			position: absolute;
			top: 50%;
			left: 50%;
			@include transform(translate(-50%, -50%));
		}
	}

	&.standard { padding-bottom: 61.8%; }
	&.square { padding-bottom: 100%; }
}

.no-js .lazyload { display: none; }
.lazyload,
.lazyloading {
    opacity: 0;
}
.lazyloaded {
    opacity: 1;
	@include transition(opacity 0.3s);
}

// color scheme {
.colors-white-orange-dbrown {
    .card--linked {
        .card__label {
            background: $color-white;
            color: $color-text-black;
        }
    }

    .card--colored {
	    background: $color-link-one;
	    color: $color-white;
	
	    a {
	        color: $color-white;
        }
    }
    
	.card--item {
	    background: $color-secondary-dark;
	    color: $color-white;
	
	    a {
	        color: $color-white;
	    }
	}
}

.colors-dolive-dgreengray-white {
	.card--linked {
	    .card__label {
	        background: $grass;
	        color: $color-white;
	    }
    }
	
    .card--colored {
        background: $moss;
        color: $color-white;
    
        a {
            color: $color-white;
        }
    }
    
    .card--item {
        background: $color-white;
        color: $color-text;
    
        a {
            color: $color-text;
        }
    }
}

.colors-white-dolive-dbrown {
}

.colors-olive-dbrown-greengray {
}

.colors-white-dolive-dgreengray {
}
