/** == Cards (_cards.scss) == **/

//common elements

.card-link {
	display: block;
}

.card__title {
	@include post-title(cards_regular);
	h4 { font-weight: bold; }

}

.card__title--text {
	@include post-title(cards_text);
	h4 { font-weight: bold; }
}

.card__subtitle {
	@include header-title(small);

	@include for(medium-screens) {
		@include header-title(card_text);
	}
	margin-top: $base;
}

.card__insummary,
.card__summary {
	@include body-text(summary_small);
	color: currentColor;
	margin-top: $base *4;
}

.card__action {
	@include nav-text(cta_link);
	margin-top: $base*3;

	@include for(small-screens) {
		white-space: nowrap;
	}
}

.card__icon {
	.svg-icon {
		width: 48px;
		height: 48px;
		fill: transparentize($color-white, 0.4);
	}
}

.card__thumbnail {
	position: relative;
	z-index: 1;
}

.card__label {
	@include link-label();
	min-height: $card_base_h - $card_base_w;
}


//Types
.card--linked {
	position: relative;
	z-index: 1;

	.card__label {
		background: $color-white;
		color: $color-text-black;
	}


	@include for(medium-screens) {
		.card__label {
			@include link-label-box();
			position: absolute;
			z-index: 10;
			bottom: 0;
			left: 0;
		}

		&.label-left_top .card__label {
			bottom: auto;
			top: 0;
		}

	}

	@include for(medium-screens) {
		&.label-left_top.block-full .card__label {
			@include transform(translateX(100%));
		}
	}

	.card-link,
	.card__thumbnail {
		height: 100%;
	}
}



.card--colored {
	background: $color-link-one;
	color: $color-white;
	position: relative;
	min-height: $card_base_h - $card_base_w;

	a {
		color: $color-white;
		padding: $base*2 ;
		height: 100%;
		@include for(small-screens) {
			padding: $base*3;
		}

		&.has-icon {
			padding-bottom: $base*4 + 48px;
		}


	}

	.card__icon {
		position: absolute;
		bottom: $base*3;
		left: $base*3;
		z-index: 10;
	}
}

.card--colored + .card--colored {
	background: $color-link-four;
}


.card--item {
	background: $color-secondary-dark;
	color: $color-white;

	a {
		color: $color-white;
	}
}

.card__meta {
	@include sub-title();
	color: currentColor;
}


.card--text {
	.flex-column-centered {
		padding: $base*4;
		height: 100%;
		background: transparentize($moss, 0.85);

		@include for(medium-screens) {
			padding: $base*5 0 $base*5 $base*8;
			height: 100%;
		}

		@include for(large-screens) {
			background: transparent;
		}
	}

	.row-reverse & .flex-column-centered {
		padding-left: 0;
		padding-right: $base*8;
	}

	.card__summary {
		@include body-text(extra_summary);
	}
}



//people
.person-item {
	@inlcude clearfix;
	margin-bottom: $base*2;
	&:last-child { margin-bottom: 0; }
}

.person-item__thumbnail {
	width: 80px;
	height: 80px;
	float: left;

	@include for(small-screens) {
		width: 95px;
		height: 95px;
	}
}

.person-item__title {
	margin-left: $base*2 + 80px;

	@include for(small-screens) {
		margin-left: $base*2 + 95px;
	}
}

.person-item__role {
	margin-left: $base*2 + 80px;

	@include for(small-screens) {
		margin-left: $base*2 + 95px;
	}
}

.people-list {
	.flex-column-centered {
		padding: $base*5 $base*8;
		height: 100%;
		max-width: 390px + $base*16;
		margin: 0 auto;
	}
}

.card--person {
	.person-item__thumbnail  { float: none; }
	.person-item__title { margin: $base*2 0 0; }
	.person-item__role { margin: 0; }

	.flex-column-centered {
		padding: $base*5 0 $base*5 $base*5;
		height: 100%;
		justify-content: flex-start;
	}

	.row-reverse & .flex-column-centered {
		padding-left: 0;
		padding-right: $base*5;
	}
}


//single centered
.singleblock-text {
	text-align: center;
	padding: $base*6 0;

	@include for(medium-screens) {
		padding: $base*12 0;
	}

	.card--text {
		max-width: $text_col;
		margin: 0 auto;
	}

	.card__title {
		@include post-title(cards_text_feature);
	}
}


//news
.news-block__title {
	@include block-title();
	padding: $base*6 0 $base*5;
	text-align: center;

	@include for(medium-screens) {
		padding-top: $base*9;
	}

	a {
		color: $color-text-black;
		border-bottom: 1px solid transparent;
		@include transition(all 0.35s);

		&:hover {
			border-bottom-color: $leaf;
		}
	}
}

.news-block__content .flex-grid--stacked  {
	justify-content: flex-start;
}



.card--news {
	a {
		height: 100%;
		position: relative;
		padding-bottom:  $base*7;
	}

	.card__meta {
		position: absolute;
		bottom: $base*3;
		left: $base*3;
	}

	&.card--item {
		.card__title {
			padding: $base*3 $base*3 0 $base*3;
		}
		.card__summary {
			padding: 0 $base*3 $base*3;
		}
	}
}


//help
.help-block__title {
	@extend .news-block__title;
}

.card__button {
	@include button();
	margin-top: $base;

	//colors are temp
	background: $color-link-one;

	.card--colored & {
		background: $color-secondary-dark;
	}
}


// card--news-apart
.card--news-apart {
	background: $wetsoil;

	.card__label {
		padding: $base*3;
		color: $color-white;
		overflow: hidden;
	}


	.card__meta {
		padding-top: $base*3;
	}

	@include for(small-screens) {
		min-height: $card_base_w;
		display: flex;
		flex-flow: row nowrap;
		justify-content: flex-start;
		align-item: stretch;

		.card__thumbnail {
			width: 50%;
			max-width: $card_base_w;
		}

		.card__label {
			flex: 1 1 auto;
		}
	}

	@include for(large-screens) {
		min-height: $card_base_w *2;
		flex-flow: column nowrap;
		justify-content: flex-start;
		align-item: stretch;

		.card__thumbnail {
			width: 100%;
			min-height: $card_base_w;
		}

		.card__label {
			width: 100%;
			min-height: $card_base_w;
		}
	}
}


.card--section {
	background: $loam;
	min-height: $card_base_h - $card_base_w;

	a {
		display: flex;
		flex-flow: column nowrap;
		justify-content: center;
		align-items: center;
		text-align: center;
		padding: $base*3;
		height: 100%;
	}

	.svg-icon {
		@include card-icon-size();
		fill: $color-white;
		pointer-events: none;
	}

	.card__title {
		margin-top: $base*2;
		@include post-title(cards_side);
		color: $color-white;
	}

	@include for(large-screens) {
		min-height: $card_base_w;


	}
}
