/** == Color schemes for cards (_colors.scss) == **/


$scheme_colors: (
	wetsoil:	#59705D,
	moss:		#a6bab7,
	bark:		#493b29,
	loam:		#e99c34,
	grass:	 	#9b9912,
	leaf: 		#bcc600,
	white: 		#ffffff,
	ground: 	#444642,
	pollen:     #d7db54
);

@function scheme_color($key) {
	@if map-has-key($scheme_colors, $key) {
		@return map-get($scheme_colors, $key);
	}

	@warn "Unknown '#{$key}' in scheme_colors.";
	@return null;
}


@each $item in wetsoil, moss, bark, loam,  grass, leaf, white, ground {

	.tripleblock-picture {
		.scheme-color-1-#{$item} {
			.card--colored { background: scheme_color($item); }
		}

		.scheme-color-2-#{$item} {
			.card--item { background: scheme_color($item); }
		}
	}

	.tripleblock-2cards {
		.scheme-color-1-#{$item} {
			.card--colored:nth-of-type(1) { background: scheme_color($item); }
		}

		.scheme-color-2-#{$item} {
			.card--colored:nth-of-type(2) { background: scheme_color($item); }
		}
	}

	.singleblock-picture {
		.scheme-color-1-#{$item} {
			.card--linked .card__label {
				background: scheme_color($item);
				@if $item != white {
					color: $color-white;
				}
				@else {
					color: $color-text-black;
					@include upto(medium-screens) {
						background: transparentize($moss, 0.85);
					}
				}
			}
		}
	}

	.tripleblock-people2cards {
		.scheme-color-1-#{$item} {
			.card--colored { background: scheme_color($item); }
		}

		.scheme-color-2-#{$item} {
			.card--item { background: scheme_color($item); }
		}
	}

	.tripleblock-2cardstext {
		.scheme-color-1-#{$item} {
			.card--colored:nth-of-type(1) { background: scheme_color($item); }
		}

		.scheme-color-2-#{$item} {
			.card--colored:nth-of-type(2) { background: scheme_color($item); }
		}
	}

	.tripleblock-person {
		.scheme-color-1-#{$item} {
			.card--colored { background: scheme_color($item); }
		}

		.scheme-color-2-#{$item} {
			.card--linked .card__label {
				background: scheme_color($item);
				@if $item != white {
					color: $color-white;
				}
				@else {
					color: $color-text-black;
					@include upto(medium-screens) {
						background: transparentize($moss, 0.85);
					}
				}
			}
		}
	}

	.doubleblock-picturepicture {
		.scheme-color-1-#{$item} {
			.card--linked:nth-of-type(1) .card__label {
				background: scheme_color($item);
				@if $item != white {
					color: $color-white;
				}
				@else {
					color: $color-text-black;
					@include upto(medium-screens) {
						background: transparentize($moss, 0.85);
					}
				}
			}
		}

		.scheme-color-2-#{$item} {
			.card--linked:nth-of-type(2) .card__label {
				background: scheme_color($item);
				@if $item != white {
					color: $color-white;
				}
				@else {
					color: $color-text-black;
					@include upto(medium-screens) {
						background: transparentize($moss, 0.85);
					}
				}
			}
		}
	}

	.doubleblock-picture {
		.scheme-color-1-#{$item} {
			.card--linked .card__label {
				background: scheme_color($item);
				@if $item != white {
					color: $color-white;
				}
				@else {
					color: $color-text-black;
					@include upto(medium-screens) {
						background: transparentize($moss, 0.85);
					}
				}
			}
		}
	}

	.doubleblock-picturepeople {
		.scheme-color-1-#{$item} {
			.card--linked .card__label {
				background: scheme_color($item);
				@if $item != white {
					color: $color-white;
				}
				@else {
					color: $color-text-black;
					@include upto(medium-screens) {
						background: transparentize($moss, 0.85);
					}
				}
			}
		}
	}

	.threeforth-picture {
		.scheme-color-1-#{$item} {
			.card--colored { background: scheme_color($item); }
		}
	}

	.threeforth-person {
		.scheme-color-1-#{$item} {
			.card--linked .card__label {
				background: scheme_color($item);
				@if $item != white {
					color: $color-white;
				}
				@else {
					color: $color-text-black;
					@include upto(medium-screens) {
						background: transparentize($moss, 0.85);
					}
				}
			}
		}
	}

	.news-block__content {
		.scheme-color-1-#{$item} {
			.card--news:nth-of-type(2) { background: scheme_color($item);   }
		}
		.scheme-color-2-#{$item} {
			.card--news:nth-of-type(4) { background: scheme_color($item); }
		}

		.card--item {
			background: $color-white;
			color: $color-text-black;
			a, .card__summary, .card__meta {
				color: $color-text-black;
			}
		}
	}

	.publications-block__content {
		.scheme-color-1-#{$item} {
			.card--colored:nth-of-type(1) { background: scheme_color($item); }
		}
		.scheme-color-2-#{$item} {
			.card--colored:nth-of-type(2) { background: scheme_color($item); }
		}
		.scheme-color-3-#{$item} {
			.card--colored:nth-of-type(3) { background: scheme_color($item); }
		}
		.scheme-color-4-#{$item} {
			.card--colored:nth-of-type(4) { background: scheme_color($item); }
		}
	}

} //loop


//donation color
@each $item in moss, loam,  grass, leaf, pollen {

	.help-block__content {

		.scheme-color-#{$item} {
			.card--colored { background: scheme_color($item); }
			.card__button {
				background: scheme_color($item);
				&:hover {
					background:  darken(call(scheme_color, $item), 20%);
				}
			}

			.card--colored .card__button {
				background: $bark;
				&:hover {
					background:  darken(call(scheme_color, $item), 20%);
				}
			}
		}
	}

}