/** Donations **/

/** campaign template **/
.single-campaign-full {	
	padding: $gut*2 0;
	background-color: $color-secondary-dark;
	background-repeat: no-repeat;
	background-position: top center;
	background-size: cover;
	@include calc('min-height', '100vh - 54px');
	
	.campaign-form {
		
		background: $color-white;
		margin-bottom: 1px;
		box-shadow: 1px 1px 3px rgba(0,0,0, 0.5);		
	}
	
	.entry-content {
		@extend .campaign-form;
		padding: $gut $gut $gut*1.2 $gut ;
		margin-bottom: 0;
		@include for(medium-screens) {
			padding: $gut $gut*3;
		}
	}
	
	.all-link {
		text-align: center;		
		p + & {	margin-top: $gut; }
	}
}

.single-leyka_campaign .site-footer { display: none; }

.payment-from-project.single-campaign-full {
    
    .leyka-form-footer {
        p {
            margin-bottom:0px;
        }
    }
}

/** custom form **/
.leyka-custom-template {
	border-bottom: 1px solid $color-border-link;
	
}

.leyka-payment-option {
			
	.leyka-toggle-trigger {
		@include header-title();		
		padding: $gut/2 $gut;		
		cursor: pointer;		
		border-top: 1px solid $color-border-link;
		@include for(medium-screens) {
			padding: $gut/2 $gut*3;
		}
	}
		
	.leyka-toggle-area {
		display: none;
		background: $color-secondary-alt;
	}
	
	.leyka-pm-form {		
		padding: $gut;
		position: relative;
		
		&:before {
			content: '';
			display: block;
			width: 100%;
			height: 2px;
			background: $color-link-one;
			position: absolute;
			top:0;
			left: 0;
		}
		
		@include for(medium-screens) {
			padding: $gut $gut*3;
		}
	}
	
	.leyka-field {
		&.recurring {			
			padding: 4px 8px 5px;
			background: $color-secondary-alt;
			margin-bottom: $gut;			
		}
		
		&.agree { margin: 18px 0 18px 8px; }
		&.amount { margin-bottom: 36px; }
		
		
		&.box_details {
			@include form-text(semi);			
			color: $color-text;
		}
		
		a {
			color: $color-link-one;
			&:visited { color: $color-link-one; }
			&:hover, &:focus, &:active {
				text-decoration: underline;		
			}
		}
		
		.rdc-textfield__label { display: none; }
	}
		
	
	.tst-submit-button { 
		@include button(submit);
		outline:none;
		&:focus { outline:none; }
	}
	
	.submit {
		margin-top: $gut;
		position: relative; }
	
	.leyka-pm-icons {
		@media screen and (max-width: 360px) { display: none; }			
		position: absolute;
		top: 6px;
		right: 0;
	}
		
	&.toggled {		
		.leyka-toggle-area {
			display: block;	
		}
		
		.leyka-toggle-trigger {
			color: $color-link-one;			
			&:before { background: $color-link-one; }
		}
	}	
}

$figure_font_size: 16px;
$figure_line-height: 20px;
$figure_padding-height: 16px;

.leyka-field.amount-selector {
	
	
	.figure,
	.figure-flex {
		@include input-text();
		font-size: $figure_font_size;
		line-height: $figure_line-height;
		
	}
		
	.figure {
		position: relative;
	}
	
	.figure-radio__button {
		opacity: 0;
		visibility: hidden;
		position: absolute;
	}
	
	.figure-radio__label {
		display: inline-block;
		padding: $figure_padding-height;
		border: 1px solid $color-border-link;
		background: $color-white;
		text-align: center;
		width: 100%;
		cursor: pointer;
	}
	
	.figure-flex-input__text {
		@include input-text();
		background: $color-white;
		line-height: $figure_line-height;
		border: 1px solid $color-border-link;
		padding: $figure_padding-height $figure_padding-height/2;
		text-align: center;
		width: 100%;
		&:focus {
			padding: $figure_padding-height - 1px $figure_padding-height/2 - 1px;
			border: 2px solid $input-color-active;
			box-shadow: inset 1px 1px 2px rgba(200,200,200, 0.5);
		}
	}
	
	//no support for currency change
	.currency { 
		display: none; 
	}
	
	.figure-radio__button:checked + .figure-radio__label {
		border-color: $color-link-one;
		background: $color-link-one;
		color: $color-white;
	}
	
}

//position with flexbox
.amount-variants-row {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: stretch;
	margin: 0 -4px;
	
	.figure {
		flex: 1 0 auto;
		@include calc(width, '50% - 8px');
		margin: 4px;
	}
	
	.figure-flex {
		flex: 1 1 auto;
		@include calc(width, '100% - 8px');
		margin: 4px;		
	}
	
	@include for(small-screens) {
		.figure {			
			@include calc(width, '33.30% - 8px');
		}
		.figure-flex {
			@include calc(width, '66.7% - 8px');
		}
	}
	@include for(medium-screens) {
		.figure {			
			@include calc(width, '19% - 8px');
		}
		.figure-flex {
			@include calc(width, '24% - 8px');
		}
	}
}



.entry-content .leyka-pm-icons,
.leyka-pm-icons {
	@include clearfix;
	margin: 0;
		
	li {
		list-style-type: none;
		float: left;
		width: 52px;
		height: 36px;
		margin: 0 0 0 4px;
		padding: 0;
		
		&:before { display: none; }
		img {
			max-width: 100%;
			height: auto;
		}
	}
}

#leyka-form-yandex_money {
	.leyka-pm-icons li {
		width: 100px;
		img { margin-top: -10px;}
	}
}

.leyka-pm-desc {
	@include form-text(small);
	margin-top: $gut;
	color: $color-text-light;
	
	a {
		color: $color-link-one;
		&:visited { color: $color-link-one; }
		&:hover, &:focus, &:active {
			text-decoration: underline;		
		}
	}
}

.leyka-form-footer {
	padding: 8px 16px;
	text-align: right;
	font-size: 0.8em;
	text-align: center;
	background: $color-secondary-alt;
	a {
		color: $color-link-one;
		&:visited { color: $color-link-one; }
		&:hover, &:focus, &:active {
			text-decoration: underline;		
		}
	}
		
}

//modal

.leyka-custom-modal {	
	display: none;
	box-sizing: border-box;
	border-radius: 2px;
	width: 90%;
	
	@include for(medium-screns) {
		width: 80%;
	}
	max-width: 760px;
	@include calc(height, "100% - 220px");
    max-height: 700px;  
	
    @media screen and (max-height: 600px) {
        height:90%;
        top:20px !important;
    }	
	
	background-color: $color-white;
	
	.leyka-modal-close {
		background: $color-link-one;
		color: $color-white;
		width: 28px;
		height: 28px;
		border-radius: 50%;
		
		position: absolute;
		top: -16px;
		right: -16px;
		text-align: center;
		cursor: pointer;
				
		.svg-icon {
			width: 12px;
			height: 12px;
			fill: $color-white;
			pointer-events: none;
			margin-top: 8px;
		}
	}
	
	
	
	.leyka-oferta-text-frame {
		box-sizing: border-box;
		width: 100%;
		height: 100%;
		padding: $base*1.5;
		overflow-y: scroll;
	}
	
	.leyka-oferta-text-flow {		
		@include body-text(semi);
		
		p {
			margin-bottom: $margin-base;		
		}
		
		p:first-child {
			@include post-title();
		}
	}
}

.donation_history {
	.all-link  {
		border-bottom: 1px solid $color-border-normal;
		padding: $base/2 0;
		@include form-text();
	}
	
	
}

.ldl-item {
	border-bottom: 1px solid $color-border-normal;
	padding: $base/2 0;
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	@include form-text();
	
	&:first-of-type {
		border-top: 1px solid $color-border-normal;
	}
	
	.amount {
		color: $color-text-black;
		flex: 1 0 auto;
		width: 35%;
		min-width: 80px;
	}
	
	.meta {
		flex: 1 1 auto;
		width: 65%;
		padding-left: 6px;
		color: $color-text-semi;
	}
	
	.payment-fee {
		font-size: 0.9em;		
		letter-spacing: 0.5px;
		color: $color-text-light;
	}
}

/** Donation history template **/
.main-content.donations-history-results {
	
	min-height: 400px;
	min-height: 50vh;
	
	.donation_history {
		
	}
}

/** Errors **/
.leyka-submit-errors {
	@include response-block(error);		
	margin: 0 0 -1px 0;
	padding: $gut;
	
	span { text-transform: uppercase; }
	
	ul {
		margin-top: $gut/4;		
	}
	
	@include for(medium-screens) {
		padding: $gut $gut*3;
	}
}

.field-error {
	@include form-text(small);
	display: inline-block;
	padding: 0 2px ;
	font-size: 11px;
	color: $color-link-one;	
	
	&:empty { display: none;  }
}

/* thank you page */
.leyka-thankyou-text {
    text-align:center;
    @include body-text(larger);
}

.leyka-thankyou-img { 
    margin-top:60px;
    .sow-image-container {
        .so-widget-image {
            max-width:240px !important;
            width:60% !important;
        }
    }
}
