/** Forms **/

@mixin material-animation-default($duration:0.2s) {
	transition-duration: $duration;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.frm_ajax_loading { display: none; }

//variables
$input-top-gut: 4px;
$input-color-active: $color-link-one;
$input-color-error:  $color-form-invalid;
$input-border-color: $color-border-link;
$label-text-color:   $color-text;	

@mixin input-text-label {
	@include form-text();
	line-height: 1.2;
	color: $label-text-color;
	white-space: nowrap;
	text-align: left;
	pointer-events: none;	
}

@mixin input-text {
	@include form-text(semi);
	line-height: 1.2;
	background: transparent;
	text-align: left;
}

@mixin checkbox-text($size: 14px) {
	@include form-text();	
	color: $label-text-color;	
	text-align: left;
	font-size: $size;
	line-height: 1.2;
	font-style: italic;
}

@mixin response-block($mod : default) {
	@include form-text();	
	padding: 14px;
	background: $color-border-normal;
	position: relative;
	color: $color-white;
	
	p:last-child {
		margin: 0;
	}
	
	@if $mod == error {	
		background: $input-color-error;		
	}
	@else if $mod == ok {				
		background: $color-form-ok;
	}
}

/* autocomplete background in chrome */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus
input:-webkit-autofill, 
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
	background: $color-white;
}

/* forms general */
.frm_forms  {
	margin: $gut 0;
	font-size: 16px;
	&:last-child { margin-bottom: 0;}
	&:first-child { margin-top: 0;}
	
	form, fieldset  {
		display: block;
		width: 100%;
		margin: 0;
		padding: 0;
	}	
}

.screen-reader-response {
	@extend .screen-reader-text;
}

.entry-content .frm_forms,
.regular-form .frm_forms {	
	padding: $gut $gut $gut;
	border: 1px solid $color-border-normal;	 	
	background: $color-secondary-alt;;
}

.frm_required {
	margin-right: 4px;
	vertical-align: super;
	font-size: 0.8em;
	color: $input-color-active;
}

.frm_hidden {
	display: none;
}
	
.frm_primary_label {
	@include input-text-label();	
}


/* messages */
.frm_error_style {
	@include response-block(error);		
	margin-bottom: $gut;
}

.frm_message {		
	@include response-block(ok);
	margin: 15px 0;
}

.frm_error {
	@include form-text(small);
	display: inline-block;
	padding: 0 2px ;
	font-size: 11px;
	color: $input-color-error;
}


/* text input */
.tst-textfield {
	display: block;
	width: 100%;
	padding: $input-top-gut 0;
	position: relative;
		
	.tst-textfield__input {
		@include input-text();
		border-radius: 0;
		border: 1px solid $input-border-color;
		background: $color-white;
		width: 100% !important;
		padding: 16px 8px;
		
		&[type="number"] {
			-moz-appearance: textfield;
		}
	
		&[type="number"]::-webkit-inner-spin-button,
		&[type="number"]::-webkit-outer-spin-button {
			-webkit-appearance: none;
			margin: 0;
		}
		
		@include placeholder {			
			color: $color-text-semi;
		}
		
		.centered-form & {
			@include placeholder { text-align: center; }
			text-align: center;
		}
		
		&:focus {			
			padding: 15px 7px;
			border: 2px solid $input-color-active;
			box-shadow: inset 1px 1px 2px rgba(200,200,200, 0.5);
		}
	}
	
	textarea {
		@include placeholder {			
			color: $color-text-semi;
		}
	}
	
	label {
		display: none;
	}
	
}



/** chackbox **/
.tst-inputfix {
	width: 100%;
	padding: $input-top-gut*4 0;
	position: relative;
	
	.tst-inputfix__label {
		display: inline-block;
		@include input-text-label();
		color: $color-text;
	}
	
	.frm_opt_container {
		margin-top: $input-top-gut;
	}
}

.tst-checkbox {
	display: block;
	width: 100%;
	position: relative;
	padding: 2px 0 2px 26px;		
	
	.tst-checkbox__input {
		margin: 0;
		padding: 0;
		position: absolute;
		top: 4px;
		left: 0;	
		
		border: none;
		opacity: 0;
	}
	
	.tst-checkbox__label {
		@include checkbox-text();
		display: inline-block;
		position: relative;
		line-height: 18px;
				
		&:before {
			content: '';
			display: block;
			width: 16px;
			height: 16px;
			border-radius: 2px;
			background: $color-white;
			border: 2px solid $color-text;
			position: absolute;
			top: 1px;
			left: -26px;
			cursor: pointer;
		}
	}
	
	.tst-checkbox__input:checked + .tst-checkbox__label {
		&:before {
			background-color: $input-color-active;
			border-color: $input-color-active;
			background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8+PHN2ZyB3aWR0aD0iMTdweCIgaGVpZ2h0PSIxM3B4IiB2aWV3Qm94PSIwIDAgMTcgMTMiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeG1sbnM6c2tldGNoPSJodHRwOi8vd3d3LmJvaGVtaWFuY29kaW5nLmNvbS9za2V0Y2gvbnMiPiAgICAgICAgPHRpdGxlPlNoYXBlPC90aXRsZT4gICAgPGRlc2M+Q3JlYXRlZCB3aXRoIFNrZXRjaC48L2Rlc2M+ICAgIDxkZWZzPjwvZGVmcz4gICAgPGcgaWQ9IlBhZ2UtMSIgc3Ryb2tlPSJub25lIiBzdHJva2Utd2lkdGg9IjEiIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCIgc2tldGNoOnR5cGU9Ik1TUGFnZSI+ICAgICAgICA8cGF0aCBkPSJNMTYuNSwxLjg3OTE0Mjg2IEw1LjUyODU3MTQzLDEyLjg1MDU3MTQgTDAuNSw3LjgyMiBMMS43ODkxNDI4Niw2LjUzMjg1NzE0IEw1LjUyODU3MTQzLDEwLjI2MzE0MjkgTDE1LjIxMDg1NzEsMC41OSBMMTYuNSwxLjg3OTE0Mjg2IEwxNi41LDEuODc5MTQyODYgWiIgaWQ9IlNoYXBlIiBmaWxsPSIjRkZGRkZGIiBza2V0Y2g6dHlwZT0iTVNTaGFwZUdyb3VwIj48L3BhdGg+ICAgIDwvZz48L3N2Zz4=);
			background-repeat: no-repeat;
			background-size: 16px 13px;
			background-position: 0 -2px;
		}
	}
}

.tst-radio {
	display: block;
	width: 100%;
	position: relative;
	padding: 2px 0 2px 26px;		
	
	
	.tst-radio__button {
		margin: 0;
		padding: 0;
		top: 4px;
		left: 0;		
		position: absolute;
		border: none;
		opacity: 0;
	}
	
	.tst-radio__label {
		@include checkbox-text();
		display: inline-block;
		position: relative;
		line-height: 18px;		
		
		&:before {
			content: '';
			display: block;
			width: 16px;
			height: 16px;
			border-radius: 50%;
			background: $color-white;
			border: 2px solid $color-text;			
			position: absolute;
			top: 1px;
			left: -26px;
			cursor: pointer;
		}
	}
		
	.tst-radio__button:checked + .tst-radio__label {
		&:before {
			background-color: $input-color-active;
			border-color: $input-color-active;			
	background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8+PHN2ZyB3aWR0aD0iMTJweCIgaGVpZ2h0PSIxMnB4IiB2aWV3Qm94PSIwIDAgMTIgMTIiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeG1sbnM6c2tldGNoPSJodHRwOi8vd3d3LmJvaGVtaWFuY29kaW5nLmNvbS9za2V0Y2gvbnMiPiAgICAgICAgPHRpdGxlPk92YWwgMTwvdGl0bGU+ICAgIDxkZXNjPkNyZWF0ZWQgd2l0aCBTa2V0Y2guPC9kZXNjPiAgICA8ZGVmcz48L2RlZnM+ICAgIDxnIGlkPSJQYWdlLTEiIHN0cm9rZT0ibm9uZSIgc3Ryb2tlLXdpZHRoPSIxIiBmaWxsPSJub25lIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIHNrZXRjaDp0eXBlPSJNU1BhZ2UiPiAgICAgICAgPHBhdGggZD0iTTYsMTIgQzkuMzEzNzA4NSwxMiAxMiw5LjMxMzcwODUgMTIsNiBDMTIsMi42ODYyOTE1IDkuMzEzNzA4NSwwIDYsMCBDMi42ODYyOTE1LDAgMCwyLjY4NjI5MTUgMCw2IEMwLDkuMzEzNzA4NSAyLjY4NjI5MTUsMTIgNiwxMiBaIE02LDEwIEM4LjIwOTEzOSwxMCAxMCw4LjIwOTEzOSAxMCw2IEMxMCwzLjc5MDg2MSA4LjIwOTEzOSwyIDYsMiBDMy43OTA4NjEsMiAyLDMuNzkwODYxIDIsNiBDMiw4LjIwOTEzOSAzLjc5MDg2MSwxMCA2LDEwIFoiIGlkPSJPdmFsLTEiIGZpbGw9IiNGRkZGRkYiIHNrZXRjaDp0eXBlPSJNU1NoYXBlR3JvdXAiPjwvcGF0aD4gICAgPC9nPjwvc3ZnPg==);
			background-repeat: no-repeat;
			background-size: 12px 12px;
			background-position: center center;
		}
		
	}
}


/** Select **/
.tst-select {
	width: 100%;
	padding: $input-top-gut*4 0 $input-top-gut;
	position: relative;
	
	.tst-inputfix__label {
		display: block;
		@include input-text-label();
		color: $color-text;
	}
	
	.tst-select-wrap {
		display: block;
		margin-top: $input-top-gut;
		position: realtive;
		overflow: hidden;
		
		border: 1px solid $input-border-color;
		background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8+PHN2ZyB3aWR0aD0iMTFweCIgaGVpZ2h0PSIxM3B4IiB2aWV3Qm94PSIwIDAgMTEgMTMiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+ICAgICAgICA8dGl0bGU+U2hhcGU8L3RpdGxlPiAgICA8ZGVzYz5DcmVhdGVkIHdpdGggU2tldGNoLjwvZGVzYz4gICAgPGRlZnM+PC9kZWZzPiAgICA8ZyBpZD0iUGFnZS0xIiBzdHJva2U9Im5vbmUiIHN0cm9rZS13aWR0aD0iMSIgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj4gICAgICAgIDxwYXRoIGQ9Ik05LjcwNzUsMC41OSBMMTEsMS44NTE3NDQ5NyBMNS41LDcuMjIwODcyNDggTDAsMS44NTE3NDQ5NyBMMS4yOTI1LDAuNTkgTDUuNSw0LjY4ODQzNCBMOS43MDc1LDAuNTkgTDkuNzA3NSwwLjU5IFogTTkuNzA3NSw1Ljk1OTEyNzUyIEwxMSw3LjIyMDg3MjQ4IEw1LjUsMTIuNTkgTDAsNy4yMjA4NzI0OCBMMS4yOTI1LDUuOTU5MTI3NTIgTDUuNSwxMC4wNTc1NjE1IEw5LjcwNzUsNS45NTkxMjc1MiBMOS43MDc1LDUuOTU5MTI3NTIgWiIgaWQ9IlNoYXBlIiBmaWxsPSIjMDAwMDAwIj48L3BhdGg+ICAgIDwvZz48L3N2Zz4=);
		background-repeat: no-repeat;
		background-size: 11px 12px;
		background-position: 98% center;
	}	
	
	select {
		display: inline-block;
		@include calc(width, '100% + 20px');
		padding: 10px 0 10px 8px;
		background: transparent;
		border: 0;
		border-radius: 0;  
		-webkit-appearance: none;
		outline: none;
		
		font-family: $sans;	
		line-height: 18px;		
		text-align: left;
		font-size: 14px;		
		
		//to remove outline in FF
		color: $label-text-color;
		color: rgba(100,100,100,0);
		text-shadow: 0 0 0 $label-text-color;		
	}
	
	option {
		@include input-text();		
		line-height: 18px;		
		color: $label-text-color;		
		text-align: left;		
		padding: 4px;
		width: 100%;
		cursor: pointer;
		
		&:hover, &:focus, &:active {
			
		}
	}
}

/* submit **/
.frm_submit {
	display: block;
	margin-top: $base;
	
	.centered-form & {
		text-align: center;
	}
	
	input, input:focus {
		border: none;		
		outline: none;
		@include button(submit);
		@include transition(background 0.2s);		
	}
}

/* join whatsapp */
.card {
    width: 90%;
    max-width: 408px;
    margin: 0 auto;
    position: relative;
    padding: 20px 20px 20px;
    background: transparentize($color-link-one, 0.2);
    color: $color-white;
    position: relative;
    z-index: 100;

    .ribbon {
        position: absolute;
        width: 74px;
        height: 74px;
        top: 0;
        right: 0;
        @include transform(translate(40%, -40%));

        @include for(medium-screens) {
            @include transform(translate(30%, -30%));
        }
    }

    .svg-pic {
        width: 74px;
        height: 74px;
    }

    @include for(medium-screens) {
        padding: 55px 45px 45px;
    }
}

.card__head {
    margin-bottom: 25px;
    text-align: center;

    h1 {
        @include header-title();
        margin-bottom: 5px;
    }

    h2 {
        @include sub-title();
    }

    @include for(medium-screens) {
        margin-bottom: $gut*1.5;
    }
}

.card__text {
    @include upto(medium-screens) {
        span { display: none; }
        p { margin-bottom: 5px; }
    }
}

.card__action {
    text-align:center;

    a.card__button {
        margin-top: 25px;

        @include for(medium-screens) {
            margin-top: $gut*1.5;
        }
    }
}

.card__button {
    width: 100%;
    display: block;
    position: relative;
    text-align: center;
    @include button();

    span {
        display: inline-block;
        padding-left: 38px;
        text-align: left;
    }

    .svg-icon {
        width: 30px;
        height: 30px;
        fill: $color-white;
        position: absolute;
        top: 50%;
        left: 18px;
        @include transform(translateY(-50%));
    }
}

.card__button {
    font-size: 17px;
    line-height: 20px;
}
.card__button {
    background: #d93029 none repeat scroll 0 0;
    border: medium none;
    border-radius: 3px;
    color: #fff;
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
    padding: 16px 28px;
    position: relative;
    transition: all 0.45s ease 0s;
    width: 100%;
}
.card__button, .card__head h1, .card__head h2, body {
    font-family: Roboto,Helvetica Neue,Helvetica,sans-serif;
}
.card__button, .card__head h1, .card__head h2 {
    text-transform: uppercase;
}
.card__action, .card__button, .card__head {
    text-align: center;
}
button, input[type="button"], input[type="reset"], input[type="submit"] {
    cursor: pointer;
}