/** == Global styles (_front.scss) == **/

html {
	//font-size: 62.5%; //10px
}
body {
	background-color: $color-secondary;
	text-rendering: optimizeLegibility;
	@include body-text();
	& > svg { display: none; }
}



a {
	text-decoration: none;
	@include green-link();
}

a.red {
	@include red-link();
}

p {
	&:last-child { margin-bottom: 0; }
}

p,ul,ol,dl,blockquote {
	@extend .break;
}

.svg-icon, .svg-pic {
	display: inline-block;
}

//title with normal weights
h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
}


/** Layout structure **/
.container {
	width: 92%;
	max-width: $page_cont;
	margin: 0 auto;
	position: relative;
}

.site-content {
	padding-top: $gut*2;
	padding-bottom: $gut*2;
}

.widget {
	margin-bottom: $gut;
	@include body-text(small);

	a {
		font-weight: 500;
		&[href *= 'tel']{
			color: $color-text;
			@include body-text(small);
		}
	}
}

.widget__title {
	@include header-title(widget);
	margin-bottom: $inpage-margin-base;
}

/* Markers map */
.pw_map_canvas {
  position: relative;

  .marker-content {

    .mc-title {
      font-weight: bold;
      margin-bottom: 10px;
    }

    .material-icons {
      color: $green;
    }

    .mc-address {
      display: flex;
      align-items: center;
      margin-bottom: 10px;

      .material-icons {
        margin-right: 3px;
      }
    }

    .mc-phones .phone {
      display: flex;
      align-items: center;

      .material-icons {
        margin-right: 3px;
      }
    }
  }
}

.pw_map_legend {
  cursor: default;
  z-index: 100;
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 0;
  padding: 15px 0;
  background-color: rgba(255, 255, 255, 0.9);
  width: 30%;
  text-align: left;

  display: flex;
  flex-direction: column;
}

.pw_map_legend ul.markers-map-legend {
  margin: 0;
}
.pw_map_legend ul.markers-map-legend li::before {
  content: '';
}

.pw_map_legend ul.markers-map-legend li.legend-child {
  padding-left: 25px;
}

.pw_map_legend.is-filter ul.markers-map-legend {
  cursor: pointer;
}

.pw_map_legend ul.markers-map-legend li {
  display: flex;
  align-items: center;
  padding: 5px 10px;
  margin-bottom: 0;
}

.pw_map_legend ul.markers-map-legend.is-filter li.legend-child:hover {
  background-color: transparentize($green, 0.7);
  color: $color-white;
}
.pw_map_legend ul.markers-map-legend.is-filter li.legend-child.marker-group-active {
  background-color: transparentize($green, 0.25);
  color: $color-white;
}

.pw_map_canvas .material-icons {
  font-size: 25px;

  &.yellow {
    color: $orange;
  }
  &.green {
    color: $green;
  }
}

.pw_map_legend ul.markers-map-legend .mymap-icon.material-icons {
  margin-right: 10px;
  vertical-align: middle;
}
