/** == Global styles (_front.scss) == **/

html {
	//font-size: 62.5%; //10px
}
body {
	background-color: $color-secondary;
	text-rendering: optimizeLegibility;
	@include body-text();
	& > svg { display: none; }
}



a {
	text-decoration: none;
	@include green-link();
}

a.red {
	@include red-link();
}

p {
	&:last-child { margin-bottom: 0; }
}

p,ul,ol,dl,blockquote {
	@extend .break;
}

.svg-icon, .svg-pic {
	display: inline-block;
}

//title with normal weights
h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
}


/** Layout structure **/
.container {
	width: 92%;
	max-width: $page_cont;
	margin: 0 auto;
	position: relative;
}

.site-content {
	padding-top: $gut;
	padding-bottom: $gut*2;
	
	@include for(medium-screens) {
		padding-top: $gut*2;
	}
}

.widget {
	margin-bottom: $gut;
	@include body-text(small);

	a {
		font-weight: 500;
		&[href *= 'tel']{
			color: $color-text;
			@include body-text(small);
		}
	}
}

.widget__title {
	@include header-title(widget);
	margin-bottom: $inpage-margin-base;
}

/* Markers map */
.material-icons {
  font-size: 25px;

  &.orange {
    color: $orange;
  }
  &.green {
    color: darken($color-link-two, 15%);
  }
}

.pw_map-wrap {
  border: 1px solid $green;
  box-shadow: 2px 2px 3px rgba(200, 200, 200, 0.4);
}

.pw_map_canvas {
  border-bottom: 1px dashed $green;

  .leaflet-popup-content-wrapper {
    border-radius: 3px;
  }
  .marker-content {

    .mc-title {
      font-weight: bold;
      margin-bottom: 10px;
    }

    .material-icons {
      color: $green;
    }

    .mc-address {
      display: flex;
      align-items: center;
      margin-bottom: 10px;

      .material-icons {
        margin-right: 3px;
      }
    }

    .mc-phones .phone {
      display: flex;
      align-items: center;

      .material-icons {
        margin-right: 3px;
      }
    }
  }
}

.pw_map_legend {
  cursor: default;
  margin: 0;
  padding: 15px 0;
  background-color: rgba(255, 255, 255, 0.95);
  width: 100%;
  text-align: left;

  display: flex;
  flex-direction: column;

  .legend-header {
    margin: 0 10px 10px 25px;

    .legend-title {
      font-size: 20px;
      font-weight: bold;
    }
    .legend-subtitle {
      font-size: 12px;
    }
  }

  ul.markers-map-legend {
    margin: 0;
    display: flex;

    .mymap-icon.material-icons {
      margin-right: 10px;
      vertical-align: middle;
    }

    &.is-filter {
      cursor: pointer;
    }

    li::before {
      content: '';
    }

    li.legend-child {
      padding: 5px 25px;
    }

    li {
      display: flex;
      align-items: center;
      padding: 5px 10px;
      margin-bottom: 0;
    }

    &.is-filter li.legend-child:hover {
      background-color: $sand;
      color: $color-white;
    }
    &.is-filter li.legend-child.marker-group-active {
      background-color: $sand;
      color: $color-white;
    }
  }
}
