/** == Global styles (_front.scss) == **/

html {
	//font-size: 62.5%; //10px
}
body {
	background-color: $color-secondary;
	text-rendering: optimizeLegibility;
	@include body-text();
	& > svg { display: none; }
}



a {
	text-decoration: none;
	@include green-link();
}

a.red {
	@include red-link();
}

p {
	&:last-child { margin-bottom: 0; }
}

p,ul,ol,dl,blockquote {
	@extend .break;
}

.svg-icon, .svg-pic {
	display: inline-block;
}

//title with normal weights
h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
}


/** Layout structure **/
.container {
	width: 92%;
	max-width: $page_cont;
	margin: 0 auto;
	position: relative;
}

.site-content {
	padding-top: $gut;
	padding-bottom: $gut*2;

	@include for(medium-screens) {
		padding-top: $gut*2;
	}
}

.widget {
	margin-bottom: $gut;
	@include body-text(small);

	&.widget--card:last-of-type { margin-bottom: 0; }

	a {
		font-weight: 500;

	}
}

.textwidget a {
	&[href *= 'tel']{
		color: $color-text;
		@include body-text(small);
	}
}

.widget__title {
	@include header-title(widget);
	margin-bottom: $inpage-margin-base;
}

.lab-map {
  margin-bottom: 6*$base;
}

/* Markers map */
.material-icons {
  font-size: 25px;

  &.orange {
    color: $orange;
  }
  &.green {
    color: darken($color-link-two, 15%);
  }
}

.pw_map-wrap {
  border: 3px solid $green;
  border-radius: 2px;
  box-shadow: 2px 2px 3px rgba(200, 200, 200, 0.4);
}

.pw_map_canvas {
  border-bottom: 1px dashed $green;

  .marker-cluster-small div {
    background-color: $green;
  }
  .marker-cluster-medium div {
    background-color: $sand;
  }
  .marker-cluster-large div {
    background-color: $orange;
  }

  .leaflet-popup-content-wrapper {
    border-radius: 3px;
  }
  .marker-content {

    .material-icons {
      font-size: 16px;
    }

    .mc-title {
      font-weight: bold;
      margin-bottom: 2*$base;
    }

    .material-icons {
      color: $green;
    }

    .mc-address {
      display: flex;
      align-items: center;
      margin-bottom: $base;

      .material-icons {
        margin-right: $base/2;
      }
    }

    .mc-phones .phone {
      display: flex;
      align-items: center;

      .material-icons {
        margin-right: $base/2;
      }
    }
  }
}

.pw_map_legend {
  cursor: default;
  margin: 0;
  padding: 2*$base 0;
  background-color: rgba(255, 255, 255, 0.95);
  width: 100%;
  text-align: left;

  display: flex;
  flex-direction: column;

  .legend-header {
    margin: 0 $base $base 3*$base;

    .legend-title {
      font-size: 20px;
      font-weight: bold;
      margin-bottom: $base/2;
    }
    .legend-subtitle {
      font-size: 12px;
      line-height: 2*$base;
    }
  }

  ul.markers-map-legend {
    margin: 0;
    display: flex;
    flex-wrap: wrap;

    .mymap-icon.material-icons {
      margin-right: $base;
      vertical-align: middle;
    }

    &.is-filter {
      cursor: pointer;
    }

    li::before {
      content: '';
    }

    li.legend-child {
      flex: 0 1 225px;
      padding: $base 3*$base;
      background-color: transparent;
      color: inherit;
    }

    li {
      display: flex;
      align-items: center;
      padding: $base $base;
      margin-bottom: 0;
    }

    &.is-filter li.legend-child:hover {
      background-color: $sand;
      color: $color-white;
    }
    &.is-filter li.legend-child.marker-group-active {
      border: 1px solid black;
      background-color: $sand;
      color: $color-white;
    }
  }
}

.markers-list {

  .markers-city {

    margin-bottom: 6*$base;

    .city-name {
      font-size: 20px;
      font-weight: bold;
    }

    .city-markers {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 2*$base;

      .marker-data {
        flex: 1 2 300px;
        padding: 3*$base 3*$base;
        line-height: 20px;
        font-size: 14px;
        border-bottom: 1px solid transparentize(darken($color-link-two, 15%), 0.5);

        .mc-title {
          font-weight: bold;
          margin-bottom: $base;
        }

        .material-icons {
          color: $green;
          font-size: 14px;
        }

        .mc-address {
          display: flex;
          align-items: center;
          margin-bottom: $base/2;

          .material-icons {
            margin-right: $base/2;
          }
        }

        .mc-phones .phone {
          display: flex;
          align-items: center;

          .material-icons {
            margin-right: $base/2;
          }
        }
      }
    }
  }
}

/** About - Team */
.team-list {
  display: flex;
  flex-wrap: wrap;

  .team-member {
    flex: 0 1 320px;
    margin-right: 2*$base;
    margin-bottom: 4*$base;

    .member-name {
      margin: $base 0;
      font-size: 16px;
      font-weight: bold;
    }

    .member-position {
      font-size: smaller;
    }
  }
}