/** == Grid (_grid.scss) == **/
// Grid elements and modifications - for regular and flexbox cases


*, //oh, yes, everything
*:after,
*:before {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box; }

// Rows and columns basics
.bit {
	float: left;
	padding: 0 $gut/2;
	width: 100%;
	margin-bottom: $gut/4;

	&[class *= 'mf-'],
	&[class *= 'sm-'],
	&[class *= 'md-'],
	&[class *= 'ld-'],
	&[class *= 'exlg-'] {
		margin-bottom: 0;
	}

	&:last-child,
	&.bit--nomargin {
		margin-bottom: 0;
	}
}


.frame {
	@include clearfix;
	margin: 0 -1*$gut/2;
}


/** Flexbox grid without margin **/
.flex-grid--stacked {
	display: flex;
	flex-flow: row wrap;
	align-items: stretch;
	justify-content: flex-start;
	margin: 0;

	&.centered { justify-content: center; }
	//&.start { justify-content: flex-start; }
	&.space-between { justify-content: space-between; }
	&.row-reverse {
		flex-direction: row-reverse;
	}
}


.flex-cell--stacked {
	flex: 0 1 auto;
	margin: 0;
	width: 100%;
}


// width settings

//smalest size
@for $i from 1 through 12 {
	.mf-#{$i} {
		width: percentage($i/12);
	}
}

@for $i from 0 through 11 {
  .mf-offeset-#{$i} { margin-left: percentage($i/12) !important; }
}

.mf-col-5 {
	width: 20%;
}


// small screens
@include for(small-screens) {
	@for $i from 1 through 12 {
		.sm-#{$i} {
			width: percentage($i/12);
		}
	}

	@for $i from 0 through 11 {
	  .sm-offeset-#{$i} { margin-left: percentage($i/12) !important; }
	}

	.sm-col-5 {
		width: 20%;
	}
}


//larger screen
@include for(medium-screens) {
	@for $i from 1 through 12 {
		.md-#{$i} {
			width: percentage($i/12);
		}
	}

	@for $i from 0 through 11 {
	  .md-offset-#{$i} { margin-left: percentage($i/12) !important; }
	}

	.md-col-5 {
		width: 20%;
	}
}


//the largest screen
@include for(large-screens) {
	@for $i from 1 through 12 {
		.lg-#{$i} {
			width: percentage($i/12);
		}
	}

	@for $i from 0 through 11 {
		.lg-offset-#{$i} { margin-left: percentage($i/12) !important; }
	}

	.lg-col-5 {
		width: 20%;
	}
}

//the largest screen
@include for(exlarge-screens) {
	@for $i from 1 through 12 {
		.exlg-#{$i} {
			width: percentage($i/12);
		}
	}

	@for $i from 0 through 11 {
		.exlg-offset-#{$i} { margin-left: percentage($i/12) !important; }
	}

	.exlg-col-5 {
		width: 20%;
	}
}


//hide
.hide-upto-small {
	@include upto(small-screens) { display: none;}
}
.hide-upto-medium {
	@include upto(medium-screens) { display: none;}
}
.hide-upto-large {
	@include upto(large-screens) { display: none;}
}
.hide-upto-exlarge {
	@include upto(exlarge-screens) { display: none;}
}

.hide-on-small {
	@include for(small-screens) { display: none;}
}
.hide-on-medium {
	@include for(medium-screens) { display: none;}
}
.hide-on-large {
	@include for(large-screens) { display: none;}
}
.hide-on-exlarge {
	@include for(exlarge-screens) { display: none;}
}

//no-js hide
.no-js .no-js-hide-upto-small {
	@include upto(small-screens) { display: none;}
}

.no-js .no-js-hide-upto-medium {
	@include upto(medium-screens) { display: none;}
}

.no-js .no-js-hide-upto-large {
	@include upto(large-screens) { display: none;}
}

.no-js .no-js-hide-upto-exlarge {
	@include upto(exlarge-screens) { display: none;}
}


/** Flexbox grid **/
.flex-grid {
	display: flex;
	flex-flow: row wrap;
	align-items: stretch;
	justify-content: space-between;
	margin: 0;
	
	@include for(small-screens) {
		margin: 0 -1 * $flex-gut/2;
	}

	&.centered { justify-content: center; }
	&.start { justify-content: flex-start; }
	&.row-reverse {
		flex-direction: row-reverse;
	}
}


.flex-cell {
	flex: 0 1 auto;
	margin: 0 $flex-gut/2 $flex-gut;
	@include calc(width, "100% - #{$flex-gut}");
}

@for $i from 1 through 12 {
	.flex-mf-#{$i} {
		$w: percentage($i/12);
		@include calc(width, "#{$w} - #{$flex-gut}");
	}
}

.flex-mf-col-5 {
	@include calc(width, "20% - #{$flex-gut}");
}


// small screens
@include for(small-screens) {
	@for $i from 1 through 12 {
		.flex-sm-#{$i} {
			$w: percentage($i/12);
			@include calc(width, "#{$w} - #{$flex-gut}");
		}
	}

	.flex-sm-col-5 {
		@include calc(width, "20% - #{$flex-gut}");
	}
}


//larger screen
@include for(medium-screens) {
	@for $i from 1 through 12 {
		.flex-md-#{$i} {
			$w: percentage($i/12);
			@include calc(width, "#{$w} - #{$flex-gut}");
		}
	}

	.flex-md-col-5 {
		@include calc(width, "20% - #{$flex-gut}");
	}
}


//the largest screen
@include for(large-screens) {
	@for $i from 1 through 12 {
		.flex-lg-#{$i} {
			$w: percentage($i/12);
			@include calc(width, "#{$w} - #{$flex-gut}");
		}
	}

	.flex-lg-col-5 {
		@include calc(width, "20% - #{$flex-gut}");
	}
}

//the largest screen
@include for(exlarge-screens) {
	@for $i from 1 through 12 {
		.flex-exlg-#{$i} {
			$w: percentage($i/12);
			@include calc(width, "#{$w} - #{$flex-gut}");
		}
	}

	.flex-exlg-col-5 {
		@include calc(width, "20% - #{$flex-gut}");
	}
}

//helpers
.flex-column-centered {
	display: flex;
	flex-flow: column nowrap;
	align-items: flex-start;
	justify-content: center;
}