/** == Header (_header.scss) == **/

#drawer {
	background: $color-link-two;
	padding: $inpage-margin-base 24px;
	z-index: 1000;
	position: fixed;
	top: 0;
	height: 100%;
	@include transition(transform 0.5s cubic-bezier(0.175, 0.885, 0.320, 1.275));

	width: 320px;
	right: -320px;

	@include for(small-screens) {
		width: 360px;
		right: -360px;
	}

	.admin-bar & {

	}

	.searchform {
		background: $color-white;
		height: 40px;

		&.focus {
			opacity: 1;
		}
	}

	.searchform__field  {
		color: $color-text;
		padding: 11px 8px;
	}


	.searchform__icon {
		background: transparent;
		height: 40px;

		.svg-icon {
			top: 12px;
			fill: $color-link-two;
		}

		&:hover {
			background: darken($color-link-two, 22%);
			.svg-icon {
				fill: $color-white;
			}
		}
	}
}

.drawer-nav {
	width: 212px;
	@include for(small-screens) { width: 252px; }
}

.drawer-nav__search {
	margin-bottom: $base*3;
}

.drawer-nav__menu {
	
	@include for(medium-screens) {
		padding: $gut/2 0;
	}
}

.drawer-nav__list {

	li {
		margin: $base/2 0;
		padding: $base*0.5 0 $base/2;
		border-bottom: 1px solid lighten($color-link-five, 10%);
		border-left: 4px solid lighten($color-link-five, 10%);
		margin-bottom: 6px;
	}

	a {
		display: inline-block;
		@include nav-text();
		padding: $base $base $base/2;
		color: $color-white;


		@include transition(background 0.4s);

		&:hover {
			background: $color-link-five;
			color: $color-white;
			border-radius: 2px;
		}
	}

	a[href *= "join-us"] {

	}
}

#site_root {
	@include transition(transform 0.55s cubic-bezier(0.185, 0.840, 0.305, 1.185));
}

body.drawer-open {

	#drawer{ @include transform(translateX(-260px)); }
	#site_root { @include transform(translateX(-260px)); }

	@include for(small-screens) {
		#drawer{ @include transform(translateX(-300px)); }
		#site_root { @include transform(translateX(-300px)); }
	}
}

/** header elements */
.site-header-row {
	width: 100%;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
	padding-top: 9px;
	@include for(medium-screens) { padding-top: 18px; }
	@include for(large-screens) { padding-top: 27px; }
}

.site-header-cell {
	&.branding {
		width: 150px;
		flex: 0 1 auto;
	}

	@include for(medium-screens) {
		&.branding { width: 35%; }
		&.actions { width: 65%; }
	}

	@include for(large-screens) {
		&.branding { width: 40%; }
		&.actions { width: 60%; }
	}
}


.site-logo { //temp
	display: block;
	width: 150px;
	height: 74px;
	padding-top: 4px;

	img {
		width: 150px;
		height: 70px;
	}

	@include for(medium-screens) {
		width:236px;
		height: 118px;

		img {
			width: 236px;
			height: 118px;
		}
	}
}



.actions--mobile {
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-end;
	align-items: center;

	@include for(medium-screens) {
		display: none;
	}
}

.action__drawer-trigger {
	width: 74px;
	height: 74px;
	padding: 4px 0 0 2px;
	flex: 0 0 auto;
	text-align: right;

	a {
		margin-top: 5px;
	}
}

.actions__text {
	@include body-text(large);
	line-height: 1.2;
	color: $color-link-two;
	a, a:visited, a:hover, a:active, a:focus { color: $color-link-two; }

	margin-top: -5px;
	@include for(medium-screens) {
		margin-top: 0;
	}
}

.actions__text--mobile {

	@include for(small-screens) {
		flex: 1 1 auto;
		span {
			display: none;
		}
	}
}

.actions--desktop {
	display: none;
	@include for(medium-screens) {
		display: block;
	}
}


/* search & phone */
.actions__info-row {
	margin-bottom: 14px;
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-end;
	align-items: center;

}

.actions__text--desktop {
	line-height: 1.2;
	text-align: right;
	padding-right: 18px;
	color: $color-link-two;
}

.actions__search {
	width: 275px;
}


/* menu */
.actions__menu {

}

.actions__list {
	padding: 0 15px;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
	background: $color-white;
	box-shadow: 0 1px 3px rgba(200,200,200, 0.4);

	li {
		flex: 1 1 auto;
		text-align: center;
		@include transition(all 0.3s);
		&:hover {
			background: $color-link-five;
		}
	}

	a {
		display: inline-block;
		@include nav-text(menu_item);
		color: $color-text;
		padding: 15px 0;

		@include for(large-screens) {
			padding: 20px 0;
		}

	}

	a[href *= "join-us"] {
		color: $color-link-three;

		
	}

	li:hover a { color: $color-white; }

	li.current-section  { //temp
		background: $color-link-five;
		a { color: $color-white; }
	}
}