/** == Header (_header.scss) == **/
$mobile_header: 72px;

#drawer {
	background: $bark;
	padding: $base*3 $base*3;
	z-index:900;
	position: fixed;
	top: $mobile_header;
	@include calc(height, '100% - #{$mobile_header}');
	@include transform(translateZ(0));
	@include transition(transform 0.5s cubic-bezier(0.175, 0.885, 0.320, 1.275));

	width: 320px;
	right: -320px;

	@include for(small-screens) {
		width: 360px;
		right: -360px;
	}

	.admin-bar & {

	}

	.searchform {
		background: $color-white;
		height: 40px;
		border-color: $grass;

		&.focus {
			border-color: $leaf;
		}
	}

	.searchform__field  {
		color: $color-text;
		padding: 11px 8px;
	}


	.searchform__icon {
		background: transparent;
		height: 40px;

		.svg-icon {
			top: 14px;
			fill: $bark;
		}

		&:hover {
			.svg-icon {
				fill: $leaf;
			}
		}
	}
}

.drawer-nav {
	width: 212px;
	@include for(small-screens) { width: 252px; }
}

.drawer-nav__menu {
	padding: $gut/2 0;
}

.drawer-nav__list {

	li {
		margin: 6px 0;
	}

	a {
		display: inline-block;
		@include nav-text();
		padding: 0.5em 0.7em;
		color: $color-white;
		@include transition(background 0.3s);

		&:hover {
			background: transparentize($leaf, 0.5);
		}
	}

	li:last-child {
		margin-top: 12px;
		a { @include button(); }
	}
}

#site_root {
	@include transition(transform 0.55s cubic-bezier(0.185, 0.840, 0.305, 1.185));
}

body.drawer-open {

	#drawer{ @include transform(translateX(-260px)); }
	#site_root { @include transform(translateX(-260px)); }

	@include for(small-screens) {
		#drawer{ @include transform(translateX(-300px)); }
		#site_root { @include transform(translateX(-300px)); }
	}
}

/** header elements */

.fixed-elements {
	position: relative;
	height: $mobile_header;
	@include for(large-screens) {
		height: 90px;
	}
}

.site-header {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	background: $color-white;
	z-index: 1000;
	box-shadow: 1px 1px 3px rgba(200,200,200, 0.5);
	@include transform(translateZ(0));

	body.admin-bar & {
		@media screen and (min-width: 600px) { top: $adminbar_small_screen; }
		@media screen and (min-width: 783px) { top: $adminbar_large_screen; } 
	}
}

.site-header-row {
	width: 100%;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
}

.site-header-cell {

	&.branding {
		width: 70px;
		flex: 0 1 auto;
	}

}


.site-logo { //temp
	display: block;
	width: 70px;
	height: $mobile_header;
	padding-top: 6px;

	.logo {
		width: 54px;
		height: 60px;
	}

	@include for(large-screens) {
		width: 70px;
		height: 90px;
		padding-top: 8px;

		.logo {
			width: 68px;
			height: 74px;
		}
	}
}

.actions--mobile {
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-end;
	align-items: center;

	@include for(large-screens) {
		display: none;
	}
}

.action__drawer-trigger {
	width: 60px;
	height: 60px;
	padding: 4px 0 0 2px;
	flex: 0 0 auto;
	text-align: right;

	.hamburger {
		padding-right: 0;
	}
}



.actions--desktop {
	display: none;
	position: relative;
	z-index: 1;

	@include for(large-screens) {
		display: flex;
		flex-flow: row nowrap;
		justify-content: flex-end;
		align-items: center;
	}
}

.actions__search {

}

.actions__menu {

}

/* search */
.search-box {

	.search-box__trigger {
		cursor: pointer;
		width: 32px;
		height: 32px;
		text-align: right;
		padding-top: 7px;
	}

	.search-box__panel {
		//display: none;
		opacity: 0;
		visibility: hidden;
		z-index: -1;
		@include transition(all 0.35s);
	}

	.svg-icon {
		width: 18px;
		height: 18px;
		pointer-events: none;
	}

	.icon-close {
		display:none;
	}

	&.open {
		.icon-close {
			display: inline-block;
			width: 14px;
			height: 14px;
			fill: $bark;
		}

		.search-box__trigger {
			text-align: center;
			width: 30px;
			height: 30px;
			padding-top: 5px;
			border-radius: 50px;
			border: 2px solid $bark;

			.icon-search { display: none;}
		}

		.search-box__panel {
			//display: block;
			opacity: 1;
			visibility: visible;
			z-index: 100;
		}
	}
}

.search-box__panel {
	background: $color-white;
	padiing: 5px;
	position: absolute;
	right: 30px;
	top: 50%;
	@include transform(translateY(-50%));
	z-index: 10;
	width: 100%;
	padding-right: 24px;
}

/* menu */
.actions__list {
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-end;
	align-items: center;

	li {
		flex: 1 1 auto;
		text-align: center;
		margin: 0 12px;
		@include for(exlarge-screens) {
			margin: 0 18px;
		}
	}

	a {
		display: inline-block;
		@include nav-text(menu_item_small);
		color: $bark;
		&:hover {
			color: $leaf;
		}
	}

	li:nth-of-type(1) {
		margin-left: 0;
	}

	li:nth-of-type(1),
	li:nth-of-type(2),
	li:nth-of-type(3) {
		a { @include nav-text(menu_item); }
	}

	li:last-child {
		margin-right: 0;
		a {
			@include button();
		}
	}

}