/** Header **/
$header_height_base : 36px;
$header_height_gap : 18px;
$header_height_full : $header_height_base + $header_height_gap;

body {
	position: relative;
	
	#wpadminbar {
		top:  -1 * $adminbar_small_screen; 		
        @media screen and (min-width: 600px) { top: 0; }  
	}
}



.site-header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background: $color-white;   
    @include transition(opacity 0.3s);
    z-index: 500;
	box-shadow: 1px 1px 3px rgba(0,0,0, 0.5);
    @include transform(translateZ(0));
	
	.admin-bar & {
		top: $adminbar_small_screen;
		@media screen and (min-width: 600px) { top: $adminbar_large_screen; }  
	}
	
	&.invisible {
		visibility: hidden;
	}
}

.site-content {
    positon: relative;
    z-index: 1;
    
    //padding
    padding-top: $header_height_full + 1px;
	
}


//flexbox row
.site-header-row {  
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
        
    .site-header-cell {     
               
        &.branding {
            flex: 0 0 auto;
			padding: $header_height_gap/2 0;
			width: 140px;
        }
        
        &.mainmenu {
            flex: 1 1 auto;
			@include for(large-screens) {
				padding: $header_height_gap/2 8px;
			}
        }
        
        &.donation {
            flex: 1 0 auto;
            text-align: right;
            padding: $header_height_gap/2 10px $header_height_gap/2 0;
			width: 200px;
			
			@include for(large-screens) {
				flex: 0 0 auto;
				padding-right: 0;
			}
        }
        
        &.menu-trigger {
            flex: 0 0 auto;            
            padding: ($header_height_full - 46px)/2 0; //hamburger height from settings
        }
        
    }
    
}


/** Elements **/
.site-logo {
	@include header-title(widget);
	line-height: $header_height_base;
	color: $color-link-one;
	@include transition(all 0.35s);	
}

#trigger_menu {	
	
	.hamburger-box {
		margin-top: 3px;
	}
}

.donation-button {
	@include button(red);
}


/** Menu **/
.main-menu {
	padding: $gut/2 0;
	
	a {
		display: inline-block;
		@include nav-text(menu);
		line-height: $header_height_base;
		color: $color-text;
		
		&:hover { color: $color-link-three; }		
	}
	
	.current-menu-item a,
	.current-menu-item a:hover {
		color: $color-text-light;
	}
	
	.sub-menu { display: none; }
	
	.help-button {
		@include for(small-screens) { display: none;}
		margin-top: 10px;
		
		a {
			@include button(red);
		}
	}
}

.mainmenu .main-menu { //horizontal menu
	padding: 0;
	text-align: right;
	
	li {
		display: inline-block;
		margin: 0 8px;
		
		&.help-button { display: none;}
	}
	
}

//interactions
.site-header {
	
	.site-nav-mobile {
		display: none;
		background: $color-white;
	}
	
	&.menu-open {
		.site-nav-mobile {
			display:block;
			@include for(large-screens) {  display: none;  }
		}		
	}
}

