/** == Map (_map.scss) == **/

/** Maps **/

@include for(large-screens) {

  .pw_map-wrap {
    position: relative;
    //border: 3px solid $moss;
    //border-radius: 2px;
    //box-shadow: 2px 2px 3px rgba(200, 200, 200, 0.4);

    .dashicons {
      font-size: 20px;

      &.black {
        color: $ground;
      }
      &.red {
        color: $wood;
      }
      &.orange {
        color: $loam;
      }
      &.dark-pink {
        color: $map_select;
      }
      &.sand {
        color: $leaf;
      }
      &.green {
        color: $moss;
      }
      &.grey-green {
        color: $wetsoil;
      }
    }

    .pw_map_canvas {
      border-bottom: 1px dashed $moss;

      .marker-cluster-small div {
        background-color: lighten($grass, 50%);
      }
      .marker-cluster-medium div {
        background-color: $pollen;
      }
      .marker-cluster-large div {
        background-color: $loam;
      }

      .leaflet-popup-content-wrapper {
        border-radius: 3px;
      }
      .marker-content {

        .material-icons {
          font-size: 16px;
        }

        .mc-title {
          font-weight: bold;
          margin-bottom: 2*$base;
        }

        .material-icons {
          color: $moss;
        }

        .mc-address {
          display: flex;
          align-items: center;
          margin-bottom: $base;

          .material-icons {
            margin-right: $base/2;
          }
        }
      }
    }

  }
}

.pw_map_legend {
  cursor: default;
  margin: 0;
  padding: 2*$base 0;
  background-color: rgba(255, 255, 255, 0.95);
  width: 100%;
  text-align: left;

  display: flex;
  flex-direction: column;

  .legend-header {
    margin: 0 $base $base 3*$base;

    .legend-title {
      font-size: 20px;
      font-weight: bold;
      margin-bottom: $base/2;
    }
    .legend-subtitle {
      font-size: 12px;
      line-height: 2*$base;
    }
  }

  ul.markers-map-legend {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    list-style: none;

    .mymap-icon.material-icons {
      margin-right: $base;
      vertical-align: middle;
    }

    &.is-filter {
      cursor: pointer;
    }

    li::before {
      content: '';
    }

    li.legend-child {
      flex: 0 1 200px;
      padding: $base 3*$base;
    }

    li {
      display: flex;
      align-items: center;
      padding: $base $base;
      margin-bottom: 0;
    }

    @include for(large-screens) {
      &.is-filter li.interactive:hover { // Hover event behaviors wierdly on mobiles
        background-color: $pollen;
        color: $color-white;
      }
    }

    &.is-filter li.interactive.marker-group-active {
      background-color: $pollen;
      color: $color-white;
    }
  }

}