/** == Modules == **/

/** quote slider **/
.quote-slider {
	text-align: left;
	position: relative;
	overflow: hidden;
	width: 100%;
	padding: 0;
	margin: 0;	
}

.quote-slide {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	position: absolute;
	display: none;
	width: 100%;
	left: 0;
	top: 0;
	height: 100%;
	
	&:first-child {
		position: relative;
		display: block;
		float: left;
	}
		
}

.tst-quote-slider {
	position: relative;
	text-align: center;
	margin: $gut 0;
	
	.rslides_nav {
		border: 2px solid $color-border-normal;
		color: $color-white;
		width: 40px;
		height: 40px;
		border-radius: 50%;				
		display: inline-block;
		position: relative;
		margin: 0 2px;
		
		&:after {
			display: inline-block;
			font-size: 36px;
			
			color: $color-border-normal;
			line-height: 1;
			position: absolute;
			@include transform(scaleX(0.65));
		}
		
		&.prev:after {
			content  : '<';
			top: -1px;
			left: 7px;
		}
		
		&.next:after {
			content  : '>';
			top: -1px;
			right: 6px;
		}
	}
	
	.quote-slider {
		margin-bottom: $gut;
	}
	
	@include for(medium-screens) {
		padding-left: 60px;
		padding-right: 60px;
		
		.quote-slider {
			margin-bottom: 0;
			height: 280px;
			overflow-y: hidden;
		}
		
		.rslides_nav {
			display: block;
			position: absolute;
			top: 50%;
			&.prev { left: 0; }
			&.next { right: 0; }
			@include transform(translateY(-50%));
		}
	}
	
	@include for(large-screens) {
		padding-left: 84px;
		padding-right: 84px;
		
		.quote-slider { height: 220px; }
	}
}

/** WordPress gallery **/
.entry-content .gallery {
	margin-top: $gut;
	margin-bottom: $gut;
	
	&:first-child { margin-top: 0;}
	&:last-child { margin-bottom: 0;}
}

.gallery {
	@include clearfix;
	margin: 0 -4px;
	
	.gallery-caption { display: none; }
	
	.gallery-item {
		display: block;
		float: left;
		margin: 0;
		width: 50%;
	}
	
	.gallery-icon {
		padding: 4px;
		
		a {
			display: block;			
			@include transition(all 0.35s);
			
			&:hover {
				filter: contrast(130%);
			}
		}
		
		img {
			width: 100%;
			height: auto;
		}
	}
}


@include for(medium-screens) {
	$i: 1; //widths
	@while $i < 10 {
	  
	  .gallery-columns-#{$i} .gallery-item { width: 100% / $i; }
	   $i: $i + 1;
	}
}


/** Map **/

@mixin mapicon($color) {
	width: 32px;
	height: 32px;
	background: $color;
	color: $color-white;
	border-radius: 3px;
	position: relative;
	font-size: 24px;
	text-align: center;
	box-shadow: 1px 1px 5px rgba(0,0,0, 0.4);
	
	&:before {		
		position: relative;
		top: 3px;
	}
	&:after {
		content: '';
		display: block;
		width: 0;
		height: 0;
		border: 6px solid transparent;
		border-top-color: $color;
		position: absolute;
		left: 50%;
		margin-left: -6px;
		bottom: -11px;
	}
}

.mymap-icon {
	&.navi {
		@include mapicon($color-link-three);
	}
	&.red {
		@include mapicon($color-link-one);
	}
	&.blue {
		@include mapicon($color-link-two);
	}
}


.leaflet-container .leaflet-popup a.leaflet-popup-close-button {
	padding: 2px 2px 0 0;
}

.leaflet-popup {
	.leaflet-popup-content-wrapper {
		border-radius: 3px;
	}
		
	.leaflet-popup-content {
		margin: 14px;
	}
	
	.marker-content  {
		max-width: 160px;
		font-size: 11px;
		line-height: 1.4;
		
		.mc-title {
			@include post-title(popup);
			margin-bottom: 4px;
		}
		
		.mc-address {
			color: $color-text-light;
		}
		
		.mc-thumb {
			width: 160px;
			height: 99px;
			margin: 5px auto;
			
			img {
				width: 100%;
				height: auto;
			}
		}
		
		.mc-content {					
			p {
				margin: 4px 0 0;
			}
			
			.c-btn {			
				text-align: center;
				margin-top: 10px; 
			}		
		}
		
		.button-red {
			@include button(red);
			font-size: 13px;
			padding: 5px 14px;			
			text-align: center;
		}
		
		.button {			
			font-size: 13px;
			padding: 5px 14px;			
			text-align: center;
		}
		
	}
}

.leaflet-control-container .leaflet-bottom,
.leaflet-control-container .leaflet-top {
	z-index: 200;
}

.entry-content .pw_map_legend,
.pw_map_legend {
	padding: 10px 10px 0;
	
	ul {
		margin: 0;
		padding: 0;
		list-style-type: none;
		
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
		align-items: stretch;
	}
	
	li {
		min-height: 32px;		
		margin: 7px;
		padding: 0;
		list-style-type: none;
		&:before { display: none; }
		
		font-size: 14px;
		line-height: 28px;
		color: $color-text;
		white-space: nowrap;
		overflow: hidden;
	}
	
	.mymap-icon {
		width: 28px;
		height: 28px;
		font-size: 20px;
		margin-right: 5px;
		&:before {		
			top: 3px;
		}
	}
}

/** add to calnedar **/
//commons
.tst-add-calendar {
	display: inline-block;
	position: relative;
	
	.addtocalendar {
		position: relative;
		display: inline-block;
		background: transparent!important;
		margin: 0;
		
		var { display: none; }
	}
	
	.atcb-link {
		display: inline-block;
		outline: none!important;
		cursor: pointer;
		
		@include transition(background 0.2s);
		
		&:hover {
			color: $color-link-two;
		}
		
		&:active, &:focus {
			background: transparent;
		}
	}
	
	.atcb-link:focus~ul,
	.atcb-link:active~ul,
	.atcb-list:hover {
		visibility:visible;
		.atcb-item { visibility:visible; }
	}
	
	.atcb-list {
		visibility: hidden;
		position: absolute;
		top: 100%;
		left: 0;
		min-width: 100%;
		z-index: 900;
		//box-shadow: 1px 1px 2px rgba(150,150,150, 0.6);
		box-shadow: -1px 0 2px 0 rgba(0, 0, 0, 0.12), 1px 0 2px 0 rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.24);
	}
	
	.atcb-list,
	.atcb-item {
		list-style: none;
		margin: 0;
		padding: 0;
		background: #fff;
	}
	
	.atcb-item {
		visibility: hidden;
		position: relative;
		z-index: 900;
		cursor: pointer;
		text-decoration: none;
		outline: none;
		&:nth-of-type(1) { displya: none; }
	}
	
	.atcb-item-link {
		white-space: nowrap;
		display: block;
		@include nav-text(lowercase);
		
		outline: none;
		border: none;
		box-shadow: none;		
		padding: 9px 16px 8px;
		color: $color-text;
		
		@include transition(background 0.3s);
		
		&:hover, &:focus, &:active {
			background: $color-border-link;		
		}
	}
	
	.tst-tooltip {
		opacity: 0;
		display: inline-block;
		white-space: nowrap;
		padding: 2px 6px;
		background: $color-border-light;
		color: $color-text;
		font-size: 14px;
		border-radius: 1px;
		margin: 0;
		position: absolute;
		top: -7px;
		right: 0;
		z-index: -1;
		text-shadow: 1px 1px 1px rgba(255,255,255, 0.99);
		box-shadow: 1px 1px 2px rgba(100,100,100, 0.4);
		@include transform(translateX(107%));
		@include transition(opacity 0.3s);
		
		&:before {
			content: '';
			display: block;
			width: 0px;
			height: 0px;
			border: 6px solid transparent;
			border-right-color: $color-border-light;
			position: absolute;
			left: -11px;
			top: 2px;
			
		}
	}
	
	.addtocalendar:hover + .tst-tooltip {
		opacity: 1;
		z-index: 1000;
	}
	
	//icon
	.svg-icon {
		width: 14px;
		height: 14px;
		fill: $color-text-light;
		position: absolute;
		left: 0;
		top: 7px;
	}
	
	.svg-icon + .addtocalendar {
		margin-left: 24px;
	}
} //tst-add

.entry-header-full .entry-meta .atcb-item-link {
	color: $color-text;
	box-shadow: none;
	
	&:hover, &:focus, &:active {
		color: $color-text;
		box-shadow: none;
		background: $color-border-link;		
	}
}

.no-js .tst-add-calendar  .tst-tooltip { display: none; }
.no-js .full-event-metas .tst-add-calendar {
	position: realtive;
	* {	display: none; }
	
	&:before {
		content: 'Включите JavaScript, чтобы добавить мероприятие в календарь';
		display: inline-block;
		@include nav-text();
		white-space: nowrap;
		padding: 4px 6px;
		background: $color-border-light;
		border-radius: 1px;
		text-shadow: 1px 1px 1px rgba(255,255,255, 0.99);
	}
}


