/** == Modules (_modules.scss) == **/

/* search */
.searchform {
	display: block;
	background: $color-link-two;
	border-radius: 4px;
	position: relative;
	padding-right: 44px;
	height: 44px;
	opacity: 0.83;
}

.searchform__field {
	@include form-text();
	color: $color-white;
	line-height: 18px;
	border: none;
	padding: 13px;
	width: 100%;
	background: transparent;
}
.searchform__field::-webkit-input-placeholder {
  color: #fff;
}
.searchform__field::-moz-placeholder {
  color: #fff;
}
.searchform__field:-ms-input-placeholder {
  color: #fff;
}
.searchform__field:-moz-placeholder {
  color: #fff;
}
.searchform__icon {
	display: block;
	width: 44px;
	height: 44px;
	position: absolute;
	top: 0;
	right: 0;
	border: none;
	border-left: 4px solid darken($color-link-two, 22%);
	background: darken($color-link-two, 15%);
	border-radius: 0 4px 4px 0;
	@include transition(all 0.3s);

	&:hover {
		background: darken($color-link-two, 20%);
	}

	.svg-icon {
		width: 17px;
		height: 17px;
		fill: $color-white;
		position: absolute;
		top: 14px;
		left: 12px;
		transform: rotate(-90deg);
	}
}




/** WordPress gallery **/
.entry-content .gallery {
	margin-top: $gut;
	margin-bottom: $gut;

	&:first-child { margin-top: 0;}
	&:last-child { margin-bottom: 0;}
}

.gallery {
	@include clearfix;
	margin: 0 -4px;

	.gallery-caption { display: none; }

	.gallery-item {
		display: block;
		float: left;
		margin: 0;
		width: 50%;
	}

	.gallery-icon {
		padding: 4px;

		a {
			display: block;
			@include transition(all 0.35s);

			&:hover {
				filter: contrast(130%);
			}
		}

		img {
			width: 100%;
			height: auto;
		}
	}
}


@include for(medium-screens) {
	$i: 1; //widths
	@while $i < 10 {

	  .gallery-columns-#{$i} .gallery-item { width: 100% / $i; }
	   $i: $i + 1;
	}
}

/* captions in lightbox plugins */
#swipebox-top-bar {
	top: auto;
	bottom: 50px;
	@include body-text();
	font-size: 12px;
	line-height: 18px;
	height: 50px;

	#swipebox-title {
		width: 80%;
		max-width: 700px;
		margin: 7px auto 0;
		height: 36px;
		overflow: hidden;
	}

	&.visible-bars {
		@include transform(none);
	}
}
