/** == Modules (_modules.scss) == **/

/* search */
.searchform {
	display: block;
	background: $color-white;
	border-bottom: 2px solid $bark;
	position: relative;
	padding-right: 48px;
	height: 44px;

	&.focus {
		border-bottom-color: $leaf;
	}
}

.searchform__field {
	@include form-text();
	color: $color-text;
	line-height: 18px;
	border: none;
	padding: 13px 8px 13px 0;
	width: 100%;
	background: transparent;
}

.searchform__icon {
	display: block;
	width: 44px;
	height: 44px;
	position: absolute;
	top: 0;
	right: 0;
	border: none;
	background: transparent;
	@include transition(all 0.3s);
	text-align: right;

	.svg-icon {
		width: 17px;
		height: 17px;
		fill: $bark;
		position: absolute;
		top: 14px;
		left: 12px;
	}

	&:hover .svg-icon {
		fill: $leaf;
	}
}




/** WordPress gallery **/
.entry-content .gallery {
	margin-top: $gut;
	margin-bottom: $gut;

	&:first-child { margin-top: 0;}
	&:last-child { margin-bottom: 0;}
}

.gallery {
	@include clearfix;
	margin: 0 -4px;

	.gallery-caption { display: none; }

	.gallery-item {
		display: block;
		float: left;
		margin: 0;
		width: 50%;
	}

	.gallery-icon {
		padding: 4px;

		a {
			display: block;
			@include transition(all 0.35s);

			&:hover {
				filter: contrast(130%);
			}
		}

		img {
			width: 100%;
			height: auto;
		}
	}
}


@include for(medium-screens) {
	$i: 1; //widths
	@while $i < 10 {

	  .gallery-columns-#{$i} .gallery-item { width: 100% / $i; }
	   $i: $i + 1;
	}
}

/* captions in lightbox plugins */
#swipebox-top-bar {
	top: auto;
	bottom: 50px;
	@include body-text();
	font-size: 12px;
	line-height: 18px;
	height: 50px;

	#swipebox-title {
		width: 80%;
		max-width: 700px;
		margin: 7px auto 0;
		height: 36px;
		overflow: hidden;
	}

	&.visible-bars {
		@include transform(none);
	}
}

/** Loader **/

// Animation for spinner
@mixin rotate-forever {
  0%    { @include transform(rotate(0deg)); }
  100%  { @include transform(rotate(360deg)); }
}

@-webkit-keyframes rotate-forever { @include rotate-forever; }
   @-moz-keyframes rotate-forever { @include rotate-forever; }
        @keyframes rotate-forever { @include rotate-forever; }


@mixin loader($size: 30px, $thickness: 8px) {
    @include animation-duration(0.85s);
    @include animation-iteration-count(infinite);
    @include animation-name(rotate-forever);
    @include animation-timing-function(linear);
    @include size($size);
    border: $thickness solid $color-link-two;
    border-right-color: transparent;
    border-radius: 50%;
    display: inline-block;
}

.loader {
    @include loader(48px, 8px);
}

