/** Pages **/
.tpl-page-regular, .tpl-page-fullwidth {
	
	.page-header {
		margin-bottom: $gut;
		padding: $gut 0;
		
		h1 {
			@include header-title(head_title);
			text-align: center;
		}
	}
	
	min-height: 50vh;
}


/** Homepage **/

.home-intro {
	.container-wide {
		background: $color-secondary;
	}
	
	.intro-text {
		@include body-text(larger);
		padding: $gut;
		max-width: $page_cont;
		margin: 0 auto;
		text-align: center;
	}
}

.home-content-section {
	margin: $gut*1.5 0;
}

/* frontpage elements */
.non-capital-header {
       
    .pb-section-title {
		h3 {
			text-transform:none;
			max-width:555px;
		}
		
		&.align-center h3 {
			margin: 0 auto;
		}
    }
}


//3col module
.col3-section  {
	margin-bottom: $gut;
	
	@include for(medium-screens) {
		display: flex;
		flex-flow: row nowrap;		
		align-items: stretch;
		margin: 0 -1*$gut/2;
		
		.col3 {
			@include calc(width, '33.3% - 30px');			
			margin: 0 $gut/2;
		}
		
	}
}

.col3-content {
	display: block;
		
	.col3-title {
		@include header-title(widget);
		@include transition(all 0.35s);
	}
	
	.col3-image {
		display: none;
		
		@include upto(medium-screens) {
			background-image: none !important;
		}
		
		@include for(medium-screens) {
			display: block;
			width: 100%;
			height: 0;
			padding-bottom: 61.18%;
			background-size: cover;
			background-color: $color-secondary;
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center center;
			margin-bottom: $gut/2;
			@include transition(all 0.35s);
		}
	}
	
	.col3-text {
		@include body-text;
		p { margin: 0; }
	}
	
	&:hover {
		.col3-title { color: $color-link-one; }
		.col3-image { filter: contrast(120%); }
	}
}




/* good plan */
.plan-image {
   
    .sow-image-container {
        border:2px solid $color-text;
		filter: contrast(99%);
		@include transition(all 0.35s);
		
		a {
			display: block;
		}
		&:hover {
			box-shadow: 1px 1px 3px rgba(0,0,0, 0.35);
			filter: contrast(150%);
		}
    }
}

.two-action-buttons {
    margin-top: $base + 17;
    
    a {
        width:248px;
    }
    
    .panel-widget-style {
        @include upto(medium-screens) {
            text-align:center;
        }
    }
    
    .action-become-volonteer {
        .link-tst-actionlink-base {
            
            @include button(action-on-home-yellow);                       
            @include for(medium-screens) {
                float:right;
				margin-right:2px;
            }
        }
    }
    
    .action-donate {
        .link-tst-actionlink-base {            
            @include button(action-on-home);                        
            @include for(medium-screens) {
                float:left;
				margin-left:2px;
            }
        }
    }
}


/* news on home */
.news-block {
    .all-link {
        margin-top: $gut;		
    }
	
	.entry-preview {
		@include post-fixed-preview();
	}
}

/* subscribe on news */
.entry-content .subscribe-form ,
.subscribe-form {
	
	.frm_forms {
		margin: 0;
		background: transparent;
		border: none;
		box-shadow: none;
		padding: 0;
	}
	
	.frm_submit {
		margin: 4px 0 0;
		text-align: center;
	}
	
	.tst-textfield__input {
		@include placeholder { text-align: center; }
		text-align: center;			
	}
	
	@include for(medium-screens) {
		fieldset {
			display: block;
			position: relative;			
			input[type="hidden"], .frm_hidden { display: none; }
		}
		
		
		.tst-textfield {			
			@include calc('width', '100% - 272px');
			padding: 0;
			
		}
		
		.tst-textfield__input {
			@include placeholder { text-align: left; }
			text-align: left;			
		}
		
		.frm_submit {			
			width: 270px;
			text-align: right;
			
			margin: 0;
			position: absolute;
			top: 0;
			right: 0;
		}
	}
	
	@include for(large-screens) {
		.frm_forms {
			padding: 10px 84px;
		}
	}
}



/** Error 404 **/
.err-text {
	max-width: 800px;
	margin: 0 auto $gut;
	text-align: center;
}

.er-picture {
	@include for(xxlarge-screens) {
		margin-bottom: $gut*2;
	}
}

.err-bg { 
	width: 100%;
	@include vertical-image-header-fixed();
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center top;
}


/** Search **/
.main-content.search-results {
	background: $color-secondary;
	padding: $gut 0;
	min-height: 400px;
	min-height: 30vh;
}

.sr-form {
	.svg-icon {
		width: 30px;
		height: 30px;
		fill: $color-text-black;
	}
	
	.searchform  {
		position: relative;
		margin: $base/2 0 $base/4;
		
		.icon-search {
			position: absolute;
			left: 6px;
			top: 17px;
			z-index: 100;
		}
		
		input {
			padding-left: 60px;
			&:focus {
			    padding-left: 59px;
			}
		}
	}
}

.sr-num {
	@include sub-title(small);
	text-align: right;
}

.tpl-search {
	background: $color-white;
	margin-bottom: $base;
	padding: $gut/2;
	
	@include transition(all 0.3s);
		
	&:hover {
		@include transition(background 0.2s);
		.entry-title { 
		    color: $color-link-three; 
	    }
        box-shadow: 1px 1px 2px rgba(0,0,0, 0.35);
	}	
	
	a {
		display: block;
		height: 100%;
	}
	
	.entry-meta {
		@include post-meta();
		font-size: 14px;
		display: inline-block;
		margin-bottom: 4px;
	}
	
	.entry-title {
		@include post-title();
		margin-bottom: $base*0.75;										
	}
	
	.entry-summary {
		@include body-text(summary);
		color: $color-text;
	}
}

.search-results.service-message {
    .entry-summary {
        @include body-text(larger);
        color: $color-text;
    }
}

/* circle person images */
.fund-creators {
    article.tpl-person.card {
        background: none;
        
        .entry-preview {
            @border-radius(100%);
      
            img {
                display: block; 
                max-width: 100%; 
                border-radius: 50%;
                border: solid 5px #ff4824;
            }
            
        }
        
        h4.entry-title {
            hyphens: none;
            text-align:center;
        }
    }
}

.very-first-page-title {
    margin-top:32px;
    .pb-section-title h3 {
        @include header-title(head_title);
    } 
}

.home-partners {
    margin-top:-20px;
    .logo-gallery {
        display:flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: stretch;
    }
}