/*
.main .nav-links {
    padding: 10px;
}
.person-vcard {
	margin-bottom: 8px;
}

.person-vcard__thumbnail {
	margin-bottom: 8px;
}

.vcard-img-background {
	@include bg-as-picture(100%);
	background-position: center center;
}

.person_vcard__title {
	@include post-title();
	margin-bottom: 8px/2;
	border-radius: 2px;
}

.person-vcard__role {
	@include sub-title(meta);
}
.sr-num {
	font-size: .8em;
	text-align: right;
}*/

/* *Single Person* */
.single-person {

    .single-person-item {

        .back_to_list {
            @include nav-text(menu_item);
        	@include transition(all 0.35s);
        	margin-bottom: $base/2;

            &:before {
                content: "\2190";
                display: inline-block;
                font-size: 18px;
                font-weight: bold;
                margin-right: 10px;
            }

            &:after {
                display: block;
                margin-bottom: $base;
                content: "";
            }
        }

        .single-person-item__thumbnail {
            margin: $base*3 0;
        }

        .single-person-item__title{
            @include post-title(cards_text);
        }

        .single-person-item__role {
            @include nav-text(cta_link);
            margin-bottom: $base*3;
            margin-top: $base*2;
        }

    }

}
.back_to_list {

}


/* Search Page */
.search {
    padding-bottom: 0;

    .search__regular {
        margin-bottom: $inpage-margin-base;

        .searchform__field {
            padding-left: $inpage-margin-base;
        }

    }

    .search__meta {
        @include body-text(reading);
    	color: $leaf;
        text-align: right;
    }

    .search__hint {
        @include body-text(reading);
    }

    .card__summary {
        margin-top: $base;
        @include body-text(reading);
    }

    .card__meta {
        color: $bark;
		margin-top: $base/2;
		a {
			color: $bark;
			font-weight: bold;
		}

		.sep {
			color: transparentize($bark, 0.5);
		}
    }

    .layout-section__item {
        margin-bottom: $base*3;
    }

    a:hover {
        cursor: pointer;
    }

}

.search-block__title {
	@include post-title(cover);
	padding: $base*6 0 $base*5;
	text-transform: none;
	text-align: center;

	@include for(medium-screens) {
		padding-top: $base*9;
	}
}


/* 404 Page */
.error404 {
    padding-bottom: 0;

    .search__regular {
        margin-bottom: $inpage-margin-base;

        .searchform__field {
            padding-left: $inpage-margin-base;
        }

    }

    .search__meta {
        @include body-text(meta);
    	color: $leaf;
        text-align: right;
    }
    .search__hint {
        @include body-text(reading);
    }

    .card__summary {
        margin-top: $inpage-margin-base;
        @include body-text(reading);
        margin-bottom: $element-margin-base;
    }

    .card__meta {
        color: $leaf;
    }

    .layout-section__item {
        margin-bottom: $inpage-baseline;
    }

    a:hover {
        cursor: pointer;
    }
}


/**  Sections */
.landing-header--section {
	@include for(small-screens) {
		margin-bottom: $base*6;
	}

	@include for(medium-screens) {
		margin-bottom: $base*10;
	}
}


/* General page **/
.page-general__header {
	padding-top: $base*4;
	margin-bottom: $base*6;
	@include for(medium-screens) {
		margin-bottom: $base*8;
	}

	text-align: center;
}

.page-general__crumbs {
	display: inline-block;
	@include nav-text(menu_item);
	@include transition(all 0.35s);
	margin-bottom: $base/2;
}

.page-general__title {
	@include post-title(single);

}

.page-general--desc {
	@include header-title(cover);
	max-width: $text_col;

	margin: $base*2 auto 0 auto;
	p { margin: 0; }
}

.page-general__footer {
	margin-top: $base*6;

	h3 {
		@include block-title(related);
		color: $color-text-black;
		margin-bottom: $base*4;
	}


}

.inpage-menu {
	li {
		margin-top: $base*1.5;
	}

	a {
		@include body-text(reading);
		font-weight: bold;
		color: $color-text;

		&:hover {
			color: transparentize($color-text, 0.4);
		}
	}
}

.inpage-block--section {
	background: $leaf;
	color: $color-white;
}

.inpage-block--join {
	background: $loam;
	color: $color-white;
}

.inpage-block__content {
	padding: $base*4;

	h3 {
		color: $color-white;
	}

	.inpage-menu {
		li:nth-of-type(even) a {
			color: $color-white;

			&:hover {
				color: transparentize($color-white, 0.4);
			}
		}
	}
}


/** Archive list **/
.archive-list {

	.archive-meta {
		text-align: center;
	}

	.single__title-block {
		min-height: $card_base_w/4;
	}
}


/* Team */
.person-vcard {
	.person-vcard__thumbnail {
		width: 150px;
		height: 150px;
		background: transparentize($leaf, 0.8);

		img {
			max-width: 100%;
			max-height: 100%;
			width: auto;
			height: auto;
		}
	}

	.person_vcard__title {
		@include post-title(cards_side);
		margin: $base 0;
	}
}


