/** == Pages (_pages.scss) == **/

// Homepage
.home-section.news {
	.flex-cell--join {
		background: $color-link-one;
	}

	.flex-cell--news {
		background: $color-white;
		box-shadow: 0 1px 3px rgba(200,200,200, 0.4);
	}

}

.news-block {
	height: 100%;

	.news-block__title {
		background: $color-secondary-dark;

		h3 {
			padding: $base*2;
			@include header-title(title);
			color: $color-white;
		}
	}

	.news-block__content {
		@extend .layout-section__item--card;
	}


	@include for(large-screens) {
		display: flex;
		flex-flow: row nowrap;

		.news-block__title {
			width: 210px;
			text-align: center;
		}

		.vcenter {
			display: flex;
			flex-flow: column nowrap;
			justify-content: center;
			height: 100%;
			width: 100%;
		}
	}
}



.info-block {
	background: $color-secondary-alt;
	margin-bottom: $gut;

	.info-block__title {
		background: $color-link-two;
		text-align: center;
	}

	h3 {
		padding: 20px $base*2 15px;
		@include header-title(title);
		color: $color-white;

        a {
            color: $color-white;
            cursor: pointer;
        }
	}

	.info-block__content {
		padding: $base*2;
	}
}

.infosup-cell {
	text-align: center;
	padding-top: $base*2;

	.card__icon {
		background: $color-link-one;
		margin-bottom: $base*4;
	}
}

.infosup-cell--one {
	.card__icon {
		background: darken($color-link-one, 13%);
		i { color: $color-white; }
	}
}

.infosup-cell--two {
	.card__icon {
		background: $color-white;
		i {
			margin-top: 5px;
			color: $color-link-one;}
	}
}

.infosup-cell--three {
	.card__icon {
		background: darken($color-link-four, 13%);
		i { color: $color-white;}
	}
}

.infosup-cell--four {
	.card__icon {
		background: $color-white;
		i { color: $color-link-four;}
	}
}

.infosup-cell__links {

	li {
		margin-top: $base;
	}

	a {
		@include nav-text(link);
		color: $color-text-black;
		border-bottom: 1px solid transparent;
		display: inline-block;
		padding-bottom: 1px;
		@include transition(all 0.35s);

		&:hover {
			color: $color-link-one;
			border-bottom: 1px solid $color-link-two;
		}
	}
}


// Error 404
.error404 {
	min-height: 100vh;

	h1 {
		text-align: center;
	}

	.main-content {
		min-height: 50vh;
		max-width: 750px;
		margin: 0 auto;
	}

	.err-404__search {
		margin-top: $base*4;
	}
}





// Search
.main--search {
	max-width: 750px;
	margin: 0 auto;
	min-height: 50vh;
}

.search-block {

}

.sr-num {
	font-size: .8em;
	margin: $base;
	text-align: right;
}

.regular-search {

	.searchform {
		height: 54px;
		padding-right: 54px;
	}

	.searchform__field {
		padding: 18px;
	}

	.searchform__icon {
		height: 54px;
		width: 54px;
	}

	.searchform__icon .svg-icon {
		top: 15px;
		width: 24px;
		height: 24px;
	}
}



// question
.question-grid {

}

.question-form {
	background: $color-link-two;
}

.question-side {
	background: $color-link-two;

	.card--cta,
	.widget--card  {
		height: 100%;
	}
}

// join
.main--join {
	.single-item--title {
		text-align: center;
	}

	.single-body {
		margin-bottom: $base*4;
	}

	.join-whatsapp-group {
		padding: $base*4 $base*3;
		margin-bottom: $base*15;
	}
}