/*
.main .nav-links {
    padding: 10px;
}
.person-vcard {
	margin-bottom: 8px;
}

.person-vcard__thumbnail {
	margin-bottom: 8px;
}

.vcard-img-background {
	@include bg-as-picture(100%);
	background-position: center center;
}

.person_vcard__title {
	@include post-title();
	margin-bottom: 8px/2;
	border-radius: 2px;
}

.person-vcard__role {
	@include sub-title(meta);
}
.sr-num {
	font-size: .8em;
	text-align: right;
}*/

/* *Single Person* */
.single-person {
    margin-top: $base*2;
    
    .single-person-item {
        
        .back_to_list {
            
            &:before {
                content: "\2190";
                display: inline-block;
                font-size: 18px;
                font-weight: bold;
                margin-right: 10px;
            }
            
            &:after {
                display: block;
                margin-bottom: $base;
                content: "";
            }
        }
        
        .single-person-item__thumbnail {
            float: right;
            margin: $base*3;
        }
        
        .single-person-item__title{
            @include post-title(cards_text);
        }
        
        .single-person-item__role {
            @include nav-text(cta_link);
            margin-bottom: $base*3;
        }
        
    }
    
}
.back_to_list {
    
}

blockquote {
    border-left: 2px solid $leaf;
    padding-left: $inpage-margin-base;
    color: $moss;
    font-style: italic;
    margin: $inpage-margin-base $inpage-baseline ;

}