/** == Posts (_posts.scss) == **/

/* single news */
.single-card {
	background: $color-white;
	box-shadow: 0 1px 3px rgba(200,200,200, 0.4);
}

.single-card__header {
	border-bottom: 1px solid $color-border-normal;
	h1 {
		&:first-letter { text-transform: uppercase; }
	}
}

.single-card__title {
	padding: $base*2.5 $base*2 0;

	@include for(medium-screens) {
		padding-left: $base*4;
		padding-right: $base*4;
	}

	h1 {
		@include header-title(single);
	}
}


.single-card__content {
	padding: 0 $element-padding-base $element-padding-base;

	@include for(medium-screens) {
		padding: 0 $element-padding-base*2 $element-padding-base*2;
	}

	&.no-thumbnail {
		padding-top: $base*3;
	}
}

.single-card__meta {
	@include sub-title();
	margin: $base 0 $base*3;
	padding-left: $element-padding-base;

	@include for(medium-screens) {
		padding-left: $element-padding-base*2;
		padding-right: $element-padding-base*2;
	}
}

.single-card__author {
	font-size: 0.9em;
	padding-top: $base*3;
}

.single-card__download {
    padding-top: $base*3;
}

.single-body--entry {
	@include the-content();
}

.single-aside {
	@include for(medium-screens) { padding-top: 200px; }
}

.realted-posts {
	li {
		margin-bottom: $inpage-margin-base;
		&:last-of-type { margin-bottom: 0; }

		.related-posts__date, .related-posts__author {
			margin-left: 8px;
			font-size: 0.6em;
			font-weight: normal;
			color: $color-text-light; }
			
        .related-posts__author {
            margin-top: 8px;
            font-size: 0.8em;
            display:block;
            margin-left: 0px; }
			
		a {
			font-size: 16px;
			line-height: 1.15px;
		}
	}
}

.single-body__footer-desktop {
	display: none;

	@include for(medium-screens) {
		display: block;
		border-top: 1px solid $color-border-normal;
		padding: $element-padding-base $element-padding-base*2;
		.nav-links {
			//width: 66.66%;
		}
	}
}

.single-body__footer-mobile {
	margin: $inpage-baseline -1*$element-padding-base $inpage-margin-base;
	padding: $element-padding-base;

	border-top: 1px solid $color-border-normal;
	border-bottom: 1px solid $color-border-normal;

	@include for(medium-screens) {
		display: none;
	}

}

.nav-links {
	@include nav-text(small);

	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
}

/* Single items */
//menu
.inner-menu {
	margin-bottom: $base*3;
	background: #fff;
	padding: $base/2 $base*2;
	position: relative;
	text-align: center;
	
	span {
		@include body-text(summary);
		text-transform: uppercase;
		color: $color-text-black;
	}
	&:after {
		content: "\2039";
		position: absolute;
		right: $base*2;
		transform: rotate(-90deg);
		transform-origin: 50% 55%;
		transition: ease 0.25s;
		font-size: 28px;
	}
	&.active {
		&:after {
			transform: rotate(90deg);
		}
	}
	@include for(medium-screens) {
		background: none;
		padding: 0;
		text-align: left;
		
		&:after {
			display: none;
		}
	}
}

.single-item--title {
	@include header-title(single);
	margin-bottom: $base*4;
}

.single-item-list {
	display: none;
	background: #fff;
	padding: $base*2;
	margin-bottom: $base*3;
	
	@include for(medium-screens) {
		background: none;
		display: block;
		padding: 0;
		margin-bottom: 0;
	}
	li {
		margin-bottom: $base;
	}

	a {
		@include nav-text(small);
		border-bottom: 1px solid transparent;
		line-height: 1;
	}

	.current {
		a {
			border-bottom: 1px solid $color-link-two;
			color: $color-link-one;
		}
	}

	.intro {
		margin-bottom: $base*3;
		span {
			@include body-text(summary);
			text-transform: uppercase;
			color: $color-text-black;
		}
	}
}
.spacer {
	min-width: 10px;
	height: $gut/2;
	margin: 0;
	padding: 0;
}

.single-side {
	margin-top: $base*3;
	@include for(medium-screens) {
		margin-top: 0;
	}
}


/** Borders **/
.border--regular {
	position: relative;

	&:after {
		content: '';
		clear: both;
		display: block;
		width: 100%;
		height: 1px;
		background: $color-border-normal;
		margin: $gut/2 0;
	}
}

.border--space {
	position: relative;

	&:after {
		content: '';
		clear: both;
		display: block;
		width: 100%;
		height: 1px;
		margin: $gut/2 0;
	}
}

.border--half-space {
	position: relative;
	padding-bottom: 1px;

	&:after {
		content: '';
		clear: both;
		display: block;
		width: 100%;
		height: 0;
		margin: 0 0 $gut;
	}
}

/* book */
.single-book {
	.single-body__preview {
	   max-width:70%;
	   margin-left:auto;
	   margin-right:auto;
	}
}

.book-download-link {
	vertical-align:middle;
	.material-icons {
	   vertical-align:middle;
	}
}

/* story */
.single-story {
	.single-body--entry {
	   padding-top: $base*3;
	}
}