/** == Posts (_posts.scss) == **/

/* single news */
.single-card {
	background: $color-white;
	box-shadow: 0 1px 3px rgba(200,200,200, 0.4);
}

.single-card__header {
	border-bottom: 1px solid $color-border-normal;
	h1 {
		&:first-letter { text-transform: uppercase; }
	}
}

.single-card__title {
	padding: $element-padding-base $element-padding-base 0;

	@include for(medium-screens) {
		padding-left: $element-padding-base*2;
		padding-right: $element-padding-base*2;
	}

	h1 {
		@include post-title(featured);
	}
}



.single-card__content {
	padding: 0 $element-padding-base $element-padding-base;

	@include for(medium-screens) {
		padding: 0 $element-padding-base*2 $element-padding-base*2;
	}
}

.single-card__meta {
	@include sub-title();
	margin: $inpage-margin-base/2 0 $inpage-margin-base;
	padding-left: $element-padding-base;

	@include for(medium-screens) {
		padding-left: $element-padding-base*2;
		padding-right: $element-padding-base*2;
	}
}

.single-body--entry {
	margin-top: $inpage-margin-base;
	@include the-content();
}

.single-aside {
	@include for(medium-screens) { padding-top: 200px; }
}

.realted-posts {
	li {
		margin-bottom: $inpage-margin-base/2;
		&:last-of-type { margin-bottom: 0; }

		.related-posts__date {
			margin-left: 8px;
			font-size: 0.9em;
			color: $color-text-light; }
	}
}

.single-body__footer-desktop {
	display: none;

	@include for(medium-screens) {
		display: block;
		border-top: 1px solid $color-border-normal;
		padding: $element-padding-base $element-padding-base*2;
		.nav-links {
			//width: 66.66%;
		}
	}
}

.single-body__footer-mobile {
	margin: $inpage-margin-base -1*$element-padding-base $inpage-margin-base;
	padding: $element-padding-base;

	border-top: 1px solid $color-border-normal;
	border-bottom: 1px solid $color-border-normal;

	@include for(medium-screens) {
		display: none;
	}

}

.nav-links {
	@include nav-text(small);

	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
}

/* Single items */
//menu
.single-item-list {
	li {
		margin-bottom: $element-padding-base/2;
	}

	a {
		@include nav-text();
	}

	.current {
		a {
			//color: $color-text-black;
			font-weight: bold;
		}
	}
}