/** Main styles for content objects **/

/** Commons **/
.thumbnail-link { display: block; }
.sep { padding: 0 4px; }

/*.fixed-top {
	position: fixed;
	top: $logo_full_h + $height_gap + 280px;
}

.fixed-bottom {
	position: absolute;
	bottom: 0;				
}*/


/**  Cards Structure **/
.cards-loop {
	display: flex;
	flex-flow: row wrap;	
	align-items: stretch;
	margin: 0 -1*$gut/2;
	
	.card {
		margin: 0 $gut/2 $gut;
		@include calc(width, '100% - 30px');	
	}
	
	@include for(small-screens) {
		&.sm-cols-2 {			
			.card {
				@include calc(width, '50% - 30px');				
			}
		}
	}
	
	@include for(medium-screens) {
		&.md-cols-2 {			
			.card {
				@include calc(width, '50% - 30px');				
			}
		}
		
		&.md-cols-3 {			
			.card {
				@include calc(width, '33.3% - 30px');				
			}
		}
	}
	
	@include for(large-screens) {
		&.lg-cols-2 {			
			.card {
				@include calc(width, '50% - 30px');				
			}
		}
		
		&.lg-cols-3 {			
			.card {
				@include calc(width, '33.3% - 30px');				
			}
		}
		
		&.lg-cols-4 {			
			.card {
				@include calc(width, '25% - 30px');				
			}
		}
	}
	
	@include for(exlarge-screens) {
		&.exlg-cols-5 {			
			.card {
				@include calc(width, '20% - 30px');				
			}
		}
				
		&.exlg-cols-4 {			
			.card {
				@include calc(width, '25% - 30px');				
			}
		}
	}
	
	.squared & {
		margin: 0 -1*$gut/2;
	}
}


/** News **/
@mixin post-meta() {
	@include sub-title();	
	color: $color-text-light;
	margin-bottom: 8px;
	
	a {
		color: inherit;
		text-decoration: underline;
		@inlcude transition(all 0.3s);
		
		&:hover { color: $color-text; }
	}
}

@mixin shadowed-preview {
	width: 100%;
	position: relative;
	z-index: 1;
	
	img {
		position: relative;
		width: 100%;
		z-index: 2;
		filter: contrast(110%);
	}
	
	&:after {
		content: '';
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: transparent;
		z-index: 10;
		@include transition(all 0.35s);
	}
	
	.tpl-pictured-bg {
		filter: contrast(110%);
	}
}

@mixin contrast-preview {
	display: block;
		
	&:hover img {
		filter: contrast(110%);
	}
	
	&:hover .tpl-pictured-bg {
		filter: contrast(110%);
	}
}


.tpl-post {
	margin-bottom: $gut*1.5;
	
	.entry-preview {
		@include contrast-preview();
	}
		
	.entry-meta {
		@include post-meta();				
	}
	
	.entry-title {
		@include post-title();
		color: $color-text-black;
		margin-bottom: $base;
				
		a {
			color: inherit;
			@include transition(all 0.35s);
			&:hover { color: $color-link-one; }
		}
	}
	
	.entry-summary {
		@include body-text();
		color: $color-text;
		a {
			color: inherit;
		}
	}
	
}


/** paging **/
.paging {
	margin: $gut*1.5 0 0;
	
	nav {
		display: inline-block;
		border-top: 1px solid $color-border-normal;
		padding-top: 10px;
	}
	
	.page-numbers {
		@include nav-text();
		display: inline-block;
		color: $color-text-light;
		padding: 8px 12px;
		@include transition(all 0.3s);
		
		&:hover, &:focus, &:active {
			color: $color-white;
			background: $color-link-three;
		}
		&.current {
			color: $color-white;
			background: $color-link-one;
		}
	}
	
	&:empty { display: none; }
}


/** Single **/
.entry-header-full {
	padding: $gut 0;
	
	.crumbs {		
		text-transform: uppercase;
		margin-bottom: 5px;
	}
	
	.entry-title {
		@include header-title(single);
		margin-bottom: $base/2;
	}
	
	.entry-meta {
		@include post-meta();		
	}
	
	.lead {
		font-size: 1.2em;
		line-height: 1.7;
		font-style: italic;		
		margin: $base*1.5 0 0;
	}
}

.entry-preview-full {
	margin-bottom: $gut*1.5;
	
	.wp-caption-text {
		position: relative;
		margin-top: $base/2;
		@include sub-title();
		line-height: 16px;
		padding-left: 24px;
		
		.svg-icon {
			width: 16px;
			height: 16px;
			fill: $color-link-one;
			position: absolute;
			left:0;
			top: 0;
		}
	}
	
	&.standard {
		.preview-figure-img {
			position: relative;
			width: 100%;
			height: 0;
			padding-bottom: 61.72%;
		}
		
		.tpl-pictured-bg {
			position: absolute;
		}
	}
	
	&.introimg {
		.preview-figure-img {
			margin: 0 -4.35%;
			position: relative;
			width: auto;	
			$ex_cont_width_mq: 770px / 0.92 + 1px;
			@media screen and (min-width: $ex_cont_width_mq ) { 
				margin: 0 -1 * ($full_cont - 770px) / 2;	
			}
	
			@include vertical-image-header-fixed();
		}
	}
}


.single-post-section {
	position: relative;
		
	.entry-footer {
		margin-top: $gut;
		.post-source-link {
			@include post-meta();			
		}
		
		.post-navigation {
			margin-top: 8px;
			@include body-text(summary);
			
			a + a { margin-left: 12px; }
		}
	}
	
}

/* Related section */
.related-card-holder {
	margin-top: $gut;
	
	.related-title {
		@include header-title(section);
		margin-bottom: $base;
		text-align: center;		
	}	
}

.related-all-link {
	text-align: center;
	span {
		color: $color-link-one;
		a { border-bottom: 1px solid; }
	}
}
.tpl-related-post {
	@extend .tpl-post;
	@include transition(all 0.35s);
	
	.entry-meta {
		margin-bottom: 4px;
	}
	
	.entry-title,
	.entry-summary { @include transition(all 0.35s); }
	
	&:hover { 		
		.entry-preview img { filter: contrast(110%); }
		@include transform(translateX(-10px));
		
	}
}

/** quotes **/
.tpl-quote {
	text-align: center;
	
	.entry-title {
		@include post-title();
		color: $color-text-black;
		margin-bottom: 4px;
	}
	.entry-meta {
		@include sub-title(extend);
		color: $color-text-light;
	}
	.entry-summary {
		margin-top: $base;
		@include body-text();
		color: $color-text;
		p:last-child { margin-bottom: 0; }
	}
	
	.quote-preview {
		width: 180px;
		height: 180px;
		border-radius: 50%;
		margin: 0 auto;
		
		img {
			width: 100%;
			height: 100%;
			border-radius: 50%;
		}
	}
	
	@include for(medium-screens) {
		text-align: left;
	}
}

/** old **/

/** People **/
.tpl-person {
	margin-bottom: $gut;		
	text-align: center;
	
	.entry-title {		
		@include post-title(small_title);
		margin-bottom: 4px;		
	}
	
	.entry-preview {
		border-radius: 50%;			
		img { border-radius: 50%; }
	}
	
	.entry-meta {		
		@include sub-title(lower);		
		color: $color-text-light;
	}
	
	.entry-data {
		padding: $gut/2;
	}
	
	.people-cards-shortcode &:hover {
		background: $color-white;	
	}
	
	.people-cards-shortcode & .entry-preview:after {
		display:none;
	}
	
	.people-cards-shortcode & .entry-data {
		padding-bottom: 0;
	}
	
	&.linked:hover {		
		background: $color-link-two;
		.entry-meta { color: $color-link-three; }
		.entry-title { color: $color-link-three; }
		.entry-preview:after { background: transparentize($color-link-three, 0.8); }
	}
	
}

.people-founders {
	.cards-loop {
		justify-content: center;
	}
	
	.tpl-person {		
		text-align: center;				
		padding-top: 40px;
		
		.entry-preview {
			width: 180px;			
			position: relative;
			z-index: 1;		
			margin: 0 auto 46px;
			
			&:before {
				content: '';
				display: block;
				background: url(../img/circle.svg) no-repeat center center;
				background-size: contain;
				width: 140%;
				height: 140%;
				position: absolute;
				left: -20%;
				top: -20%;
				z-index: 10;
			}
		}
		
		.entry-title {		
			@include post-title();
			margin-bottom: 0;		
		}
		
		.entry-meta { display:none; }
	}
}

.people-board {
	.cards-loop {
		justify-content: center;
	}
	
	.tpl-person {		
		text-align: center;				
		padding-top: 40px;
		
		.entry-preview {
			width: 180px;
			position: relative;
			z-index: 1;		
			margin: 0 auto 46px;
			
			&:before {
				content: '';
				display: block;
				background: url(../img/dashed-circle.svg) no-repeat center center;
				background-size: contain;
				width: 220px;
				height: 220px;				
				position: absolute;
				left: -20px;
				top: -20px;
				z-index: 10;
			}
		}
		
			
		.entry-title {		
			@include post-title();
			margin-bottom: 0;		
		}
		
		.entry-meta { display:none; }
	}
}



/** Partners **/
.tpl-org {
	position: relative;
	width: 100%;
	height: 0;
	padding-bottom: 40%;
	margin-bottom: $gut;
	text-align: center;
	
	@include for(small-screens) {
		padding-bottom: 60%;
	}
	
	.logo-link {
		display: block;
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		
		
		span {
			display: inline-block;
			width: 100%;
			height: 100%;
			vertical-align: middle;
			line-height: 130px;
		}
	}
	
	img {
		max-width: 100%;
		max-height: 100%;
		vertical-aling: middle;
		width: auto;
		height: auto;
	}
}

/** Childrens **/
.category-backlink {
	margin-top: $margin-base;
	font-size: 0.8em;
}

//cards
@mixin child-photo() {
	width: 100%;
	height: 0;
	padding-bottom: 65%;
	position: relative;
	@include shadowed-preview();
	
	.tpl-pictured-bg {
		position: absolute;
		z-index: 2;
	}
}

.tpl-child {
	background: $color-white;
	@include transition(all 0.3s);
		
	a {
		display: block;
		flex: 1 0 auto;
	}
	
	&:hover {
		.entry-preview:after { background: transparentize($color-link-three, 0.8); }
		background: $color-link-two;
	}
	
	.child-card-content {
		width: 100%;
		height: 100%;
		display: flex;
		flex-flow: column nowrap;
		justify-content: space-between;
	}
		
	.entry-data {
		padding: 0 $base $base;
		position: relative;
	}
	
	.entry-preview {
		@include child-photo();
	}
		
	.entry-title {
		@include post-title();
		color: $color-link-three;
		margin-bottom: $base*0.75;				
		padding-top: $base;		
	}
	
	.leyka-scale {
		flex: 0 0 auto;
	}
	
}


.leyka-scale-button {
	padding: $base/2 $base $base;
	text-align: center;
	
	a {
		@include button(red);
		padding: 10px 24px;
		font-size: 14px;
		line-height: 16px;
	}
}

.leyka-scale-scale {
	width: 100%;
	height: 8px;
	
	.target  {
		width: 100%;
		height: 100%;
		background: $color-border-light;
	}
	
	.collected {
		height: 100%;
		background: $color-link-one;
	}
}

.leyka-scale-label {
	padding: $base/2 $base;
	font-size: 0.75em;
}
 


.child-meta {
	@include body-text(summary);
	
	.label {
		text-transform: uppercase;
		letter-spacing: 0.5px;
		color: $color-text-light;
		font-size: 0.9em;
	}
}

.child-project {
	@include body-text(summary);
	
	span {
		text-transform: uppercase;
		letter-spacing: 0.5px;
		color: $color-text-light;
		font-size: 0.9em;
	}
	
	margin-top: $base;
}

//inpage case
.frl-pb-blocks {
	.tpl-child {
		background: $color-secondary;
	}
	
	.child-meta p {
		margin: 0;
	}
	
	.leyka-scale-scale .target {
		background: $color-white;
	}
}

//single
.tpl-child-profile {
	position: relative;
	
	.profile-meta {
		margin-bottom: $gut;
	}
	
	.entry-preview {
		@include child-photo();
	}
	
	.entry-summary {
		margin-bottom: $gut;
	}
	.campaign-form {		
		margin-top: $gut;
	}
	
	.mobile-sharing {
		margin-top: $gut/2;
	}
	
	.archive-subtitle {
		@include post-title(multiline);
		margin-bottom: 0.75em;
	}
	
	.leyka-scale-button {
		text-align: left;
		padding: 0;
	}
	
	.leyka-scale {
		margin-bottom: $gut;
	}
	
	.leyka-scale-label {
		padding: $base/2 0;	
	}
	
	.widget_child_help {
		margin-bottom: $gut*1.5;
	}
	
	.thnak-you {
		font-size: 1.15em;
		font-style: italic;
	}
}