/** == Posts (_posts.scss) == **/

/* single news */
.single-card {
	background: $color-white;
	box-shadow: 0 1px 3px rgba(200,200,200, 0.4);
}


article.single {
	bakground: $color-secondary;

}

.single-crumb {

	a {
		display: inline-block;
		@include nav-text(crumb);
		color: $color-text-black;
		padding: $base*4 0 $base*2;
	}
}

.single__header {
	position: relative;
	z-index: 1;

	&:before {
		content: '';
		display: block;
		width: 50%;
		height: 100%;
		position: absolute;
		top: 0;
		right: 50%;
		background: $grass;
	}
}

.single__title-block {
	background: $grass;
	padding: $base*3 $base*3 $base*3 0;

	@include for(medium-screens) {
		min-height: $card_base_w * 0.6667;
	}

	h1 {
		@include post-title(single);
		margin-bottom: $base*4;
		margin-top: $base*3;
		color: $color-white;
	}
}

.single-card__meta {
	@include body-text(meta);
	color: $leaf;
}

.single__nav {
	background: $bark;

}

.nav-links {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: stretch;

	@include for(medium-screens) {
		flex-flow: column nowrap;
		height: 100%;
	}

	.nav-links__link{
		text-align: center;
		width: 50%;

		a {
			display: flex;
			flex-flow: column nowrap;
			width: 100%;
			padding: $base*3;
			justify-content: center;
			align-items: center;
		}

		@include for(medium-screens) {
			width: 100%;
			height: 50%;
			a {
				height: 100%;
			}
		}

		&:hover .svg-icon {
			fill: $color-white;
		}
	}

	.svg-icon {
		width: 30px;
		height: 30px;
		fill: $wood;
		pointer-events: none;
		@include transition(all 0.35s);
	}
}

/* Single items */
//menu
.single-item-list {
	li {
		margin-bottom: $element-padding-base/2;
	}

	a {
		@include nav-text();
	}

	.current {
		a {
			//color: $color-text-black;
			font-weight: bold;
		}
	}
}