/*---------------------------------------------------------
 Presets (_presets.scss)
-------------------------------------------------------- */

//Fonts
$body:			"BwSurco", Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Tahoma,sans-serif;
$body_fb:		Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Tahoma,sans-serif;

$heading:		"BwSurco", Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Tahoma,sans-serif;
$heading_fb:	Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Tahoma,sans-serif;

$title:			"BwSurco", Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Tahoma,sans-serif;
$title_fb:		Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Tahoma,sans-serif;

$nav:			"BwSurco", Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Tahoma,sans-serif;
$nav_fb:		Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Tahoma,sans-serif;

$sans:			"BwSurco", Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Tahoma,sans-serif;
$mono:			"Lucida Sans Typewriter", "Lucida Console", Monaco, monospace;


//Break points
$one: 	       480px; //small
$two:          767px; //medium
$three:	       1024px; //large
$four:         1200px; //exlarge
$five:         1400px; //xxlarge

//Page layout
$full_cont:    1192px;
$page_cont:    787px;
$col:		   81px;
$gut:	       20px;
$flex-gut: 	   20px;
$text_col:     840px;

$card_base_w: 298px;
$card_base_h: 482px;

//Dimensions
$base: 8px;
$inpage-baseline: 		$base*3;
$inpage-margin-base:	$base*2;
$element-margin-base: 	$base/2;
$element-padding-base: 	$base*2;

//Adminbar
$adminbar_large_screen: 32px;
$adminbar_small_screen: 46px;


//Colors
$ground: 		#444642; //black - grey
$wetsoil: 		#59705D; //dark green-grey
$moss:	 		#a6bab7; //green-grey
$bark:			#493b29; //black - brown
$wood:          #87623e; //brown
$loam:          #e99c34; //orange
$grass:			#9b9912; //dark olive
$leaf:          #bcc600; //olive
$pollen:        #d7db54; //light olive

$color-text:   #222222;
$color-white:  #ffffff;

$color-link-one:   #EE8C08; //orange
$color-link-two:   #B5BF01 ; //olive adopted for text
$color-link-three: $grass; //light olive
$color-link-four:  $wetsoil; //dark green-grey

$color-text-black:		#222222;
$color-text-semi:		#222;
$color-text-light:		#9b9b9b;
$color-secondary:		#F5F5F5;
$color-secondary-alt:	$wood;
$color-secondary-dark:	$bark;


$color-border-normal: #dfdfdf;
$color-border-light:  #eeeeee;
$color-border-link:   $grass;

$color-form-invalid: red; //to-do find proper color
$color-form-ok : green; //to-do find proper color


//Maps
$map_select:    $grass;


//humburgers settings
$hamburger-padding-x                       : 14px;
$hamburger-padding-y                       : 14px;
$hamburger-layer-width                     : 28px;
$hamburger-layer-height                    : 4px;
$hamburger-layer-spacing                   : 4px;
$hamburger-layer-color                     : $bark;
$hamburger-layer-border-radius             : 4px;
$hamburger-hover-opacity                   : 0.7;

//$hamburger-types: (
//	slider
//);

//default
$hamburger-hover-transition-duration       	: 0.15s !default;
$hamburger-hover-transition-timing-function	: linear !default;
$hamburger-hover-use-filter					: false !default;
$hamburger-hover-filter    					: opacity(50%) !default;


/** Mixins **/


// Typo
@mixin body-text($mod: default) {
	//main text
	font-family: $body_fb;
	color: $color-text;
	font-weight: 400;

	.bwsurco & {
		font-family: $body;
	}

	font-size: 14px;
	line-height: 1.35;


	@if $mod == reading {
		font-size: 14px;
		line-height: 1.35;

		@include for(small-screens){
			font-size: 16px;
		}

		@include for(medium-screens){
			font-size: 18px;
			line-height: 1.2;
		}

	}
	@else if $mod == extra_summary {
		font-size: 16px;
		line-height: 1.35;

		@include for(medium-screens){
			font-size: 18px;
		}

		@include for(large-screens){
			font-size: 21px;
		}
	}
	@else if $mod == meta {
		font-size: 18px;
		line-height: 1.35;

		@include for(medium-screens){
			font-size: 21px;
		}
	}
	@elseif $mod == summary_italic {
		font-size: 14px;
		line-height: 1.35;
		font-style: italic;

		@include for(medium-screens){
			font-size: 16px;
		}

	}
	@elseif $mod == summary_small {
		font-size: 14px;
		line-height: 1.35;

		@include for(medium-screens){
			font-size: 16px;
		}

	}
}


@mixin sub-title($mod: default) {
	//metas
	font-family: $body_fb;
	color: $color-text-semi;
	font-weight: 400;

	.bwsurco & {
		font-family: $body;
	}

	font-size: 13px;
	line-height: 1.5;


	//old
	@if $mod == small {
		font-size: 11px;
	}
	@else if $mod == extend {
		font-size: 14px;
	}
}


@mixin nav-text($mod: default) {
	//buttons, links, menus
	font-family: $nav_fb;
	font-weight: 400;

	.bwsurco & {
		font-family: $nav;
	}

	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;


	@if $mod == button_text {
		font-weight: 700;
	}
	@else if $mod == menu_item {
		font-size: 16px;
		line-height: 22px;
		font-weight: 700;
	}
	@else if $mod == menu_item_small {
		font-size: 13px;
		line-height: 20px;
	}
	@else if $mod == cta_link {
		font-size: 18px;
		line-height: 1.2;
		text-transform: none;

		@include for(medium-screens) {
			font-size: 21px;
		}
	}
	@else if $mod == crumb {
		font-size: 18px;
		line-height: 1.2;
		font-weight: bold;

		@include for(medium-screens) {
			font-size: 21px;
		}
	}
}


@mixin post-title($mod: default) {
	//title of posts in lists, cards, singles
	font-family: $title_fb;
	font-weight: 700;

	.bwsurco-b & {
		font-family: $title;
	}

	font-size: 24px;
	line-height: 32px;	
	
	@if $mod == cover {
		font-size: 28px;
		line-height: 1.35;

		@include for(small-screens) {
			font-size: 32px;
		}

		@include for(medium-screens) {
			font-size: 36px;
		}

		@include for(large-screens) {
			font-size: 40px;
		}
	}
	@else if $mod == cards_regular {
		font-size: 21px;
		line-height: 1.35;
	}
	@else if $mod == cards_textnews {
		font-size: 24px;
		line-height: 1.35;

		@include for(medium-screens) {
			font-size: 28px;
		}
	}
	@else if $mod == cards_side {
		font-size: 18px;
		line-height: 1.35;
	}
	@else if $mod == cards_text {
		font-size: 24px;
		line-height: 1.35;

		@include for(small-screens) {
			font-size: 28px;
		}

		@include for(medium-screens) {
			font-size: 32px;
		}
	}
	@else if $mod == cards_text_feature {
		font-size: 36px;
		line-height: 1.35;

		@include for(small-screens) {
			font-size: 48px;
		}

		@include for(medium-screens) {
			font-size: 54px;
		}
	}
	@else if $mod == single {
		font-size: 28px;
		line-height: 1.25;
		text-transform: uppercase;
		@include for(small-screens) {
			font-size: 32px;
		}
		@include for(medium-screens) {
			font-size: 36px;
		}
	}

}


@mixin header-title($mod: default){
	//page headers, major sections
	font-family: $heading_fb;
	font-weight: 300;
	color: $color-text-black;

	.bwsurco & {
		font-family: $heading;
	}

	font-size: 36px;
	line-height: 44px;


	@if $mod == cover {
		font-size: 40px;
		line-height: 1.2;

		@include for(small-screens) {
			font-size: 44px;
		}

		@include for(large-screens) {
			font-size: 48px;
		}
	}
	@else if $mod == card_text {
		font-size: 28px;
		line-height: 1.2;

		@include for(small-screens) {
			font-size: 32px;
		}

		@include for(large-screens) {
			font-size: 36px;
		}
	}
	@else if $mod == single {
		font-size: 32px;
		@include for(medium-screens) { font-size: 36px; }
		line-height: 1.25;

	}
	@else if $mod == small {
		font-size: 21px;
		line-height: 1.2;
	}

}

@mixin block-title($mod: default) {
	//widgets, sub-sections
	font-family: $heading_fb;
	font-weight: 700;
	text-transform: uppercase;

	.bwsurco & {
		font-family: $heading;
	}

	font-size: 32px;
	line-height: 40px;

	@if $mod == related {
		font-size: 24px;
		line-height: 1.2;
	}
}

@mixin form-text($mod: default) {
	//text in forms

	font-family: $mono;
	color: $color-text;
	font-weight: normal;
	text-transform: none;
	letter-spacing: normal;

	font-size: 14px;
	line-height: 18px;

	@if $mod == small {
		font-size: 12px;
	}
	@else if $mod == semi {
		font-size: 16px;
	}
}




/* Elements */
@mixin green-numero($mod: default) {
	font-family: $title_fb;
	font-weight: 500;

	.bwsurco-b & {
		font-family: $title;
	}

	font-size: 24px;
	line-height: 32px;	
	@if $mod == green {
		font-size: 28px;
		line-height: 1.35;

		@include for(small-screens) {
			font-size: 32px;
		}

		@include for(medium-screens) {
			font-size: 80px;
		}

		@include for(large-screens) {
			font-size: 100px;
		}
	}
}

@mixin red-link() {
	color: $color-link-one;
	@include transition(color 0.3s);

	&:visited { color: $color-link-one; }
	&:hover, &:active, &:focus {
		color: $color-link-three;
	}
}

@mixin green-link() {
	color: $color-link-two;
	@include transition(color 0.3s);

	&:visited { color: $color-link-two; }
	&:hover, &:active, &:focus {
		color: $color-link-three;
	}
}


@mixin button($mod: default){
	font-family: $body_fb;
	font-weight: 700;

	.bwsurco & {
		font-family: $body;
	}

	display: inline-block;
	text-transform: uppercase;
	color: $color-white;

	background: $leaf;
	border: none;

	@include transition(all 0.3s);

	padding: 8px 24px;
	font-size: 14px;
	line-height: 20px;

	&:visited {
		color: $color-white;
	}

	&:hover, &:focus, &:active {
		background: $grass;
		color: $color-white;
	}

	@if $mod == cover {
		text-transform: none;
		padding: 16px 32px;
		font-size: 24px;
		line-height: 30px;
		letter-spacing: 0.5px;

		@include for(medium-screens) {
			padding: 20px 40px;
			font-size: 28px;
			line-height: 36px;
		}
	}
	@else if $mod == submit {
		padding: 16px 28px 15px;
	}

}



@mixin ghost-button($size: 16px, $color: #fff, $hover_text: #000) {
	font-family: $nav;
	font-size: $size;
	text-transform: uppercase;
	display: inline-block;
	padding: 0.5em 1.3em;
	color: $color;
	border: 2px solid $color;
	@include transition(all 0.3s);

	&:visited {
		color: $color;
	}
	&:hover, &:focus, &:active {
		background: $color;
		color: $hover_text;
	}
}


/** == Mq == **/

@mixin for($media) {
	@if $media == small-screens {
		@media screen and (min-width: $one) { @content; }
	}
	@else if $media == medium-screens {
		@media screen and (min-width: $two) { @content; }
	}
	@else if $media == large-screens {
		@media screen and (min-width: $three) { @content; }
	}
	@else if $media == exlarge-screens {
		@media screen and (min-width: $four) { @content; }
	}
	@else if $media == xxlarge-screens {
		@media screen and (min-width: $five) { @content; }
	}
}

@mixin upto($media) {
	@if $media == small-screens {
		@media screen and (max-width: $one - 1) { @content; }
	}
	@else if $media == medium-screens {
		@media screen and (max-width: $two - 1) { @content; }
	}
	@else if $media == large-screens {
		@media screen and (max-width: $three - 1) { @content; }
	}
	@else if $media == exlarge-screens {
		@media screen and (max-width: $four - 1) { @content; }
	}
}

/** == Helpers == **/

@function value_from_map($key, $map) {
	@if map-has-key($map, $key) {
		@return map-get($map, $key);
	}

	@warn "Unknown '#{$key}' in $map.";
	@return null;
}

@mixin hidden { //Hide for both screenreaders and browsers
	display: none;
	visibility: hidden; }

@mixin visuallyhidden { //Hide only visually, but have it available for screenreaders
	position : absolute;
	clip : rect(0 0 0 0);
	overflow : hidden;
	margin: -1px;
	padding : 0;
	height : 1px;
	width : 1px;
	border : 0; }

@mixin image-replace {
	font: 0/0 a;
	text-shadow: none;
	color: transparent;
	text-decoration: none;
}

@mixin no-select {
	-webkit-user-select: none;
	   -moz-user-select: none;
	   	-ms-user-select: none;
	   		user-select: none;
}


/** == Elements == **/
//general cover bg
@mixin progressive-height($mod: default) {

	height: 300px;

	@include for(small-screens) {
		height: 360px;
	}

	@include for(medium-screens) {
		height: 482px;
	}

	@if $mod == cover {
		height: 320px;

		@include for(small-screens) {
			height: 400px;
		}

		@include for(medium-screens) {
			height: 596px;
		}
	}
}

@mixin link-label() {
	display: block;
	padding: $base*2;

	@include post-title(cards_regular);
	padding: $base*2.5 $base*3 $base*3.5;
	overflow: hidden;
	text-overflow: fade(10px);
	@include post-title(cards_regular);

	@include for(small-screens) {
		padding: $base*3;
	}

	h4 {
		font-weight: bold;
	}
}

@mixin link-label-box() {
	width: $card_base_w;
	height: auto;
	min-height: auto;

	@include for(small-screens) {
		min-height: $card_base_h - $card_base_w;
	}
}

@mixin card-icon-size() {
	width: 54px;
	height: 54px;

	@include for(large-screens) {
		width: 90px;
		height: 90px;
	}
}
