/** Social buttons and subscribtions **/

/** == Common settings == **/
$social_color: (
	vk:        #5a87ad,
	facebook:  #4c6fa8,
	twitter:   #00bcf0,
    ok:        #ffb061,

	telegram:  #2CA5E0,
	whatsapp:  #69BD35,
	viber:     #774C98,

    instagram: #B7308C,
    pinterest: #DE2127,
    youtube:   #E21D17,
	mail:	   #E23100
);

@function social_color($key) {
	@if map-has-key($social_color, $key) {
		@return map-get($social_color, $key);
	}

	@warn "Unknown '#{$key}' in $social_color.";
	@return null;
}


@mixin social-button-link($button-size, $icon-size) {
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	@include transition(all 0.2s);
	text-decoration: none;
	width: $button-size;
	height: $button-size;
	padding: ($button-size - $icon-size)/2 0;

	.svg-icon { fill: #262832; }
}




/** == Sharing == **/
.sharing-list {
	@include clearfix;
}

.sharing-list  {
	cursor: pointer;

	a {
		@include social-button-link(44px, 20px);
	}

	li {
		float: left;
		@include transition(background 0.35s);

		@include for(medium-screens) {
			float: none;
		}
	}

	.svg-icon {
		display: inline-block;
		width: 20px;
		height: 20px;
	}
}

@each $item in vk, facebook, twitter, telegram, whatsapp, viber, ok, mail  {

	.sharing-list li.#{$item} {
		.svg-icon { fill: social_color($item); }

		&:hover, &:focus, &:active {
			background: social_color($item);
			.svg-icon { fill: $color-white; }
		}

	}
}

//hide
.sharing-list {

	&.regular {
		.whatsapp, .viber { display: none; }

		@include upto(small-screens) {
			.ok, .twitter, .mail { display: none; }
		}

	}

	&.mobile-agent {
		.vk, .ok, .mail, .facebook { display: none; }
	}
}

/* sharing position */
.sharing {
	background: $color-white;

	@include for(medium-screens) {
		position: fixed;
		left: 0;
		top: 208px;
	}
}

/* join whatsapp */
.join-whatsapp-group {
	background: $color-link-one;
	color: $color-white;
	padding: $base*2;

	.card__button {
	    width: 100%;
	    display: block;
	    position: relative;
	    text-align: center;
		cursor: pointer;
	    @include button(join);

	    span {
	        display: inline-block;
	        padding-left: 38px;
	        text-align: left;
	    }

	    .svg-icon {
	        width: 30px;
	        height: 30px;
	        fill: $color-white;
	        position: absolute;
	        top: 50%;
	        left: 18px;
	        @include transform(translateY(-50%));
	    }
	}

	.form-area {
		max-width: 400px;
		margin: 0 auto;
		
		p {
			text-align: left;
			margin-bottom: $base*3;
		}

		input {
			width: 100%;
			background: $color-white;
			border-radius: 3px;
			font-family: monospace;
			font-size: 16px;
			line-height: 16px;
			padding: 14px 6px;
			border: none;

			&:focus {
				box-shadow: inset 1px 1px 3px rgba(0,0,0, 0.4);
			}
		}
	}


	.field {
		margin-bottom: $gut/2;
	}

	.field__error {
		display: none;

		&.show {
			display: block;
			color: $color-white;
			font-size: 13px;
			padding: 4px;
		}
	}

	.loading {
		position: relative;
		z-index: 1;

		&:after {
			content: '';
			display: block;
			width: 104%;
			height: 104%;
			position: absolute;
			top: -2%;
			left: -2%;
			z-index: 100;
			background: rgba(255,255,255, 0.65);
			border-radius: 3px;
		}
	}
}
