/** Social buttons and subscribtions **/

/** == Common settings == **/
$social_color: (
	vk:        #5a87ad,
	facebook:  #4c6fa8,
	twitter:   #00bcf0,
    ok:        #ffb061,
	
	telegram:  #2CA5E0,
	whatsapp:  #69BD35,
	viber:     #774C98,
	
    instagram: #B7308C,
    pinterest: #DE2127,
    youtube:   #E21D17,
);

@function social_color($key) {
	@if map-has-key($social_color, $key) {
		@return map-get($social_color, $key);
	}

	@warn "Unknown '#{$key}' in $social_color.";
	@return null;
}


@mixin social-button-link($button-size, $icon-size) {
	display: inline-block;			
	text-align: center;
	vertical-align: middle;	
	@include transition(all 0.2s);
	text-decoration: none;
				
	background: #262832;
	color: #fff;
	width: $button-size;
	height: $button-size;
	padding: ($button-size - $icon-size)/2 0;			
}


/** == Menu == **/
.social-menu {	
	list-style-type: none;
	margin: 0;
	padding: 0;
	@include clearfix;
	
	li {
		float: left;
		margin-right: 8px;
		
		a {
			@include social-button-link(46px, 20px);			
			span { display: none; }
		}
		
		.svg-icon {
			display: inline-block;			
			fill: #ffffff;					
			vertical-align: top;
			width: 20px;
			height: 20px;
		}
	}
	
	@each $item in vk, facebook, youtube, twitter, instagram {
		
		.#{$item} a {
			background: social_color($item);
			&:hover, &:focus, &:active {
				background: darken(social_color($item), 5%);
			}
		}
	}	
}

.bottom-bar {
	
	@each $item in vk, facebook, youtube, twitter, instagram {		
		.social-menu .#{$item} a {
			background: $color-link-two;
			&:hover, &:focus, &:active {
				//background: social_color($item);
				background: $color-white;
				
				.svg-icon { fill: social_color($item);}
			}
		}
	}	
}


/** == Sharing == **/
.social-likes {
	@include clearfix;	
}

.social-likes__widget  {			
	cursor: pointer;
		
	a {
		@include social-button-link(44px, 22px);
		padding: 9px 0;
	}
	
	.sh-text { display: none; }
	
	.svg-icon {
		display: inline-block;
		vertical-align: moddle;
		fill: #ffffff;					
		vertical-align: middle;
		width: 22px;
		height: 22px;
	}
}

@each $item in vk, facebook, twitter, telegram, whatsapp, viber, ok  {
		
	.social-likes__widget_#{$item} a {
		background: social_color($item);
		
		&:hover, &:focus, &:active {
			background: transparentize(call(social_color, $item), 0.2);
		}
		
		&:last-of-type {
			border: none;
		}		
	}
}




/* Yandex share buttons */
.frupalo-share-buttons {
    width:350px;
    height:47px;
    position:relative;
    
    @include upto(small-screens) {
        width:300px;
    }

    .ya-share2 {
        position:absolute;
        background-color:$color-white;
        padding-top:9px;
        height:47px;
        width:100%;

        .ya-share2__list {
            margin-left:0px;
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
        }
        
        .ya-share2__item:before {
            content:"";
        }
        
        .ya-share2__container_size_m {
            .ya-share2__item {
                padding-left:0px;
                width:88px;
                overflow:hidden;
                
                @include upto(small-screens) {
                    width:70px;
                }
                
                &.ya-share2__item_service_vkontakte, &.ya-share2__item_service_vkontakte .ya-share2__icon, &.ya-share2__item_service_vkontakte .ya-share2__counter {
                    background-color:social_color(vk);
                    @include upto(medium-screens) {
                        display:none;
                    }
                }
                
                &.ya-share2__item_service_facebook, &.ya-share2__item_service_facebook .ya-share2__icon, &.ya-share2__item_service_facebook .ya-share2__counter {
                    background-color:social_color(facebook);
                    @include upto(medium-screens) {
                        display:none;
                    }
                }

                &.ya-share2__item_service_twitter, &.ya-share2__item_service_twitter .ya-share2__icon, &.ya-share2__item_service_twitter .ya-share2__counter {
                    background-color:social_color(twitter);
                    width:46px;
                }

                &.ya-share2__item_service_odnoklassniki, &.ya-share2__item_service_odnoklassniki .ya-share2__icon, &.ya-share2__item_service_odnoklassniki .ya-share2__counter {
                    background-color:social_color(ok);
                    @include upto(medium-screens) {
                        display:none;
                    }
                }
                
                &.ya-share2__item_service_viber, &.ya-share2__item_service_viber .ya-share2__icon, &.ya-share2__item_service_viber .ya-share2__counter {
                    background-color:social_color(viber);
                    @include for (medium-screens) {
                        display:none;
                    }
                }
                
                &.ya-share2__item_service_whatsapp, &.ya-share2__item_service_whatsapp .ya-share2__icon, &.ya-share2__item_service_whatsapp .ya-share2__counter {
                    background-color:social_color(whatsapp);
                    @include for (medium-screens) {
                        display:none;
                    }
                }
                
                &.ya-share2__item_service_telegram, &.ya-share2__item_service_telegram .ya-share2__icon, &.ya-share2__item_service_telegram .ya-share2__counter {
                    background-color:social_color(telegram);
                    @include for (medium-screens) {
                        display:none;
                    }
                }
                
                a.ya-share2__link {
                    border-bottom:none;
                    width:100%;
                    height:29px;
                }
                
                .ya-share2__icon {
                    width:29px;
                    height:29px;
                    background-repeat:no-repeat;
                }
                
                .ya-share2__counter {
                    padding:2px 8px 1px 8px;
                    width:60px;
                    height:29px;
                    cursor:pointer;
                    display:inline-block;
                    margin:0px;
                    
                    &::before {
                        display:none;
                    }
                }
            }
        }
    }
}

.frupalo-share-buttons-row {
    
    height:47px;
    
    

    .frupalo-share-buttons {
        margin-left:auto;
        margin-right:auto;
        
        @include for(medium-screens) {
            margin-left:-45px;
        }
        
        @include for(large-screens) {
            margin-left:-15px;
        }
        
        .ya-share2 {
    
            .ya-share2__list {
                padding-right:11px;
                padding-left:11px;
                
                @include upto(small-screens) {
                    padding-right:7px;
                    padding-left:7px;
                }
            }
        }
    }
}

.frupalo-share-buttons-row.bottom-share-block {
    margin-top:-12px;
    margin-bottom:12px;
}

.no-twitter  {
	.frupalo-share-buttons {
		margin-left: auto;
        margin-right: auto;
		width: 250px;
		
		@include for(small-screens) {
			width: 300px;
			margin-left: 130px;
			margin-right: 0;
		}
		
		@include for(medium-screens) {
			width: 100%;
			max-width: 300px;
			margin-left: 0;
			margin-right: 0;
		}
	}
	
	.ya-share2__item_service_twitter { display: none !important; }
}