/** == Helpers and in-page styles (_utility.scss) == */

.screen-reader-text {
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	clip: rect(1px, 1px, 1px, 1px);
	border: 0 none;
	padding: 0;
}

img.wp-smiley {
	margin-bottom: 0; //reset
	margin-top: 0; //teset
	padding: 0; //reset
	border: none;
}


/* text alignment */
.text-left   {
	text-align: left; }

.text-right  {
	text-align: right; }

.text-center {
	text-align: center; }


/* utilities */
.clear {
	clear: both; }

.cf {
	@include clearfix; }

.ir {
	@include image-replace; }

.hidden {
	@include hidden; }

.visuallyhidden {
	@include visuallyhidden; }

.invisible { //Hide visually and from screenreaders, but maintain layout
	visibility: hidden; }

.break {
	word-break: break-word;
	word-wrap: break-word; }


/* selections */
a:link {
	-webkit-tap-highlight-color: $leaf;
	-webkit-tap-highlight-color : $leaf; } /*  highloght color for Safari iOS */

::-webkit-selection {
	background : $leaf;
	color : $color-white;
	text-shadow : none; }

::-moz-selection {
	background : $leaf;
	color : $color-white;
	text-shadow : none; }

::selection {
	background : $leaf;
	color : $color-white;
	text-shadow : none; }



/** == Post content elements == **/
@mixin link-in-content {

}


@mixin the-content {

	a { @include link-in-content(); }

	//headings
	h2, h3, h4, h5, h6 {
		margin: $inpage-margin-base * 1.5 0 $inpage-margin-base;

		&:first-child { margin-top: 0; }
		&:last-child { margin-bottom: 0; }

		color: $color-text-black;
		strong, b { font-weight: normal; }
	}

	h2, h3 {
		//@include post-title(general_card);
		color: $color-text-black;
	}

	h4 {
		//@include header-title(featured-label);
		color: $color-text-black;
	}

	h5 {
		//@include body-text(general_card);
		text-transform: uppercase;
	}

	h6 {
		font-weight: bold;
	}



	h2 + h3, h2 + h4, h2 + h5, h2 + h6,
	h3 + h4, h3 + h5, h3 + h6,
	h4 + h5, h4 + h6,
	h5 + h6 {
		margin-top: $inpage-margin-base / 2;
	}

	//texts
	p, iframe, blockquote {
		margin-bottom: $inpage-margin-base;
		&:last-child { margin-bottom: 0; }
	}

	figure {
		margin: $inpage-margin-base*2 0;
		&:last-child { margin-bottom: 0; }
		&:first-child { margin-top: 0; }
	}

	figure + figure,
	h3 + figure,
	h4 + figure,
	h5 + figure,
	h6 + figure {
		margin-top: $inpage-margin-base;
	}


	// Lists
	ul {
		margin: $inpage-margin-base 0 $inpage-margin-base 1.5em;

		li {
			position: relative;
			padding-left: 20px;

			&:before {
				content: '–';
				color: #000;
				display: inline-block;
				line-height: inherit;
				position: absolute;
				left: 0;
				top: 0;
			}

			li {
				padding-left: 0;
				break-inside: avoid;
				&:before { display: none; }
			}
		}

		&:first-child {	margin-top: 0;	}
	}

	ul ul { list-style: circle; }
	ul ul ul { list-style: square; }

	ol {
	   list-style: decimal;
	   margin: $inpage-margin-base 0 $inpage-margin-base 1.5em;
	   &:first-child {	margin-top: 0;	}
	}

	ol ol { list-style: lower-alpha; }
	ol ol ol { list-style: lower-roman; }

	ul ul,
	ul ol,
	ol ul,
	ol ol {
	   margin-bottom: 0;
	}

	li {
		margin-bottom: $inpage-margin-base;
		&:last-child { margin-bottom: 0; }
	}

	ul + p,
	ol + p { margin-top:  $inpage-margin-base }

	blockquote {
	    border-left: 4px solid $leaf;
	    padding-left: $base*5;
	    color: $moss;
	    font-style: italic;
	    margin: $base*5 $inpage-baseline $base*5 0;
		line-height: 1.3em

	}
	//in text shortcodes



	//image caption
	.wp-caption {
		max-width: 100%;
	}

	.wp-caption-text {
		//@include figcaption-single();
	}

	//block of summary stiled text in main content
	.summary-like {
		@include body-text();
		line-height: 1.65;
	}

	//image in text
	.alignleft.size-thumbnail {
		display: block;
		margin-bottom: $inpage-margin-base;

		@include for(small-screens) {
			float: left;
			margin-right: 30px;
			margin-bottom: 10px;
		}
	}

	img.alignleft,
	img[align ="left"] {
		display: block;
		margin-bottom: $inpage-margin-base;

		@include for(small-screens) {
			float: left;
			margin-right: 30px;
			margin-bottom: 10px;
			max-width: 30%;
			height: auto;
		}
	}

	//blockquote


}


.green-number {
	border:none;
    color: #bcc600;
    display:inline-block;
    padding:10px 30px;
    text-decoration:none;
	@include green-numero(green);
	float: left;
}
.green-title {
	border:none;
    color: #bcc600;
    display:inline-block;
    padding:10px 30px;
    text-decoration:none;

}
.for-green-number {
	display: table-cell;
	float: left;
}
.for-green-title {
	display: table-cell;

	&:after {
		clear: both;
		display: block;
		content: "";
	}
}

.single-body--entry  {
	@include the-content();
}

/* view pdf */
.tst-view-pdf-popup {
	position: fixed;
	width: 100%;
	height: 0px;
	z-index: 10000;
	top:0px;
	left:0px;

	.tst-close-pdf-button {

		position:absolute;
		top:65px;
		cursor:pointer;
		z-index: 10001;

        right:10px;
		width: 21px;
		height: 21px;
		padding-top: 5px;

        text-align: center;
		border-radius: 25px;
		border: 2px solid $color-white;
		background-color: $leaf;

        @include for(medium-screens) {
            right:30px;
            width: 31px;
            height: 31px;
            border-radius: 50px;
            padding-top: 6px;
            background-color: none;
        }

        @include for(large-screens) {
            right:50px;
        }

	   .icon-close {
           fill: $color-white;
           width:8px;
           height:8px;
           vertical-align:top;

	       @include for(medium-screens) {
				width:14px;
				height:14px;
	       }
	   }
	}

	iframe {
		position: absolute;
		width: 100%;
		height: 100%;
		top:0px;
		left:0px;
	}
}

/* loader */
.load-more {
    text-align:center;
    padding: 80px 0px 15px 0px;

    .loader {
        display:none;
        color: $color-link-two;
    }

    .load-more-btn {
        @include button();
    }

    &.loading {
        .loader {
            display:inline-block;
        }

        .load-more-btn {
            display:none;
        }
    }
}
