/** Widgets **/


.widget {	
	margin-bottom: $gut;
	&:last-of-type { margin-bottom: 0; }
	
	& > h3, .widget-title {
		margin-bottom: $base;		
		@include header-title(widget);		
	}
	
	.textwidget {		
		p:last-child { margin-bottom: 0; }
		
		h5 {
			@include post-title(small_title);
			margin-bottom: $base;
			&:last-child { margin-bottom :0;}
		}
		
	}
	
	.ghost-button {
		@include ghost-button(14px, $color-link-three, $color-white);
	}
		
	p { //temp		
		margin-bottom: $gut/2;
	}
	
	&.red {
		background: $color-link-three;
		padding: $gut/2;
		color: rgba(255,255,255, 0.98);
		h3, .widget-title, h5 { color: inherit; }
		
		a { color: $color-white; }
		
		.ghost-button {
			margin-top: $base;
			@include ghost-button(16px, $color-white, $color-link-three);
		}
		
		.button  {
			@include button(white);
		}
	}
	
	&.text-center {
		text-align: center;
	}
	
}

.widget_nav_menu {
	@include nav-text();	
	li { margin-bottom: $base/2; }
	
	.hide-on-large & {
		margin-bottom: 0;
		li {
			display: inline-block;
			margin: 0 18px 9px 0;
		}
	}
}

.donation_cta {
	text-align: center;
	
	h3, .widget-title, h5 { color: inherit; }
	
	h5 {
		@include post-title(small_title);
		margin-bottom: $base;
		&:last-child { margin-bottom :0;}
	}
	
	
}



/** Page builder widgets **/
@mixin local-menu-default {
	ul {
		margin: 0;
	}
	
	li {
		list-style-type: none;		
		&:before { display: none; }
	}
	
	a {
		color: $color-link-one;
		display: inline-block;		
		padding: 0 6px;
		white-space: nowrap;		
	}
	
	.current-menu-item {
		a {
			border-bottom: 1px solid $color-link-one;;
		}
	}
}

@mixin local-menu-horizont {
	ul { margin-left: -12px; }
		
	li {
		display: inline-block;
		margin: 0 8px;
		padding: 0;		
	}	
}

.so-panel.widget_nav_menu {	
	@include local-menu-default();
	.inpage-h-menu {
		@include local-menu-horizont();
	}
}

.heading-menu {
	@include local-menu-default();
	@include local-menu-horizont();
	margin: $base 0 0;
}

.tpl-page-fullwidth {
	margin-bottom: $gut*1.5;
	overflow-x: hidden;
	position: relative;
}

.taxonomy-intro {
	overflow-x: hidden;
	position: relative;
}

//rows and widgets modifiers
.panel-grid {
	.container-extended  { //for string
		@include container-extended();		
	}
	
	.container-narrowed { // for widget in the center
		max-width: 770px;
		margin: 0 auto;
	}
	
	.no-bottom-margin.panel-cell-style .so-panel.widget { //no margin after widget
		margin-bottom: 0 !important;
	}
	
	.content-center { //center widget text
		text-align: center;
	}
	
	.colored-row { //grey row  of normal width
		padding: $gut;
		background: $color-secondary;
	}
	
	.colored-red { //grey row  of normal width
		padding: $gut;
		background: $color-link-three;
		color: $color-white;
		p,h1, h2, h3, h4, h5, h6, li, a {
			color: $color-white;
		}
	}
	
	.back-to-container div[class *= "so-widget-"]{ //widget limited to container width
		max-width: $page_cont;
		margin: 0 auto;
	}
	
	.title-red {
		.widget-title {
			color: $color-link-one;
		}
	}
}




//colored bg
.container-extended-colored {
	@include container-extended();
	background: $colored-block-bg;
	padding-top: $gut*1.5;
	padding-bottom: $gut*1.5;
	color: $colored-block-text;
	
	h1, h2, h3, h4, h5, h6, li {
		color: $colored-block-text;
	}
	
	a {
		color: $colored-block-text;
		text-decoration: underline;
		&:hover, &:focus, &:active {
			color: $color-link-three;				
		}
	}
	
	.frm_forms { 
		border: none;
		box-shadow: 1px 1px 3px rgba(0,0,0, 0.5);
	}
}

//pictured bg
.container-extended-pictured {
	@include container-extended();
	padding-top: $gut*1.5;
	padding-bottom: $gut*1.5;
		
	.text-white {
		padding: $gut 0;
		
		h2, h3, h4 { color: $color-white; }
		color: $color-white;
		
		a {
			color: $color-white;
			text-decoration: underline;
			
			&:hover, &:focus, &:active {
				background: $color-link-one;				
			}
		}
	}
	
	&.blurred {
		z-index: 1;
		position: relative;
		
		div[id *="pl-"] {
			z-index: 10;
			position: relative;
		}
		
		&:after {
			content: '';
			display: block;
			width: 100%;
			height: 100%;			
			background: $color-secondary-black;
			position: absolute;
			top: 0;
			left: 0;
			z-index: 2;
		}
		
	}
}

//cta
.container-cta {
	//border-top: 6px solid $color-link-three;
	//border-bottom: 6px solid $color-link-three;
	padding: $base*3 0 0;
	text-align: center;
	background: url(../img/wave-l-l.png) repeat-x left top;
	background: url(../img/wave-l-l.svg) repeat-x left top;
	
	
	h4 { margin: 0; }
	h4 + p {
		margin-top: $base;
	}
}

.rdc-button,
.button {
	@include button();
}	

//section title
.pb-section-title {
	
	&.align-left {
		text-align: left;
	}
	
	&.align-right {
		text-align: right;
	}
	
	&.align-center {
		text-align: center;
	}
	
	h3 {
		@include header-title(section);
		margin: 0;		
	}
	
	h4 {
		@include post-title(popup);
		margin: 0;		
	}
	
	h3 + h4 { margin-top: 1em; }
	
	&.page-header {
		padding-top: $gut;
		
		h3 {
			@include header-title(section);
		}
	}
	
	.text-white & {
		h3, h4 { color: $color-white; }
	}
}

/* featured section */
.featured-section {
	@include container-extended();
	color: $color-white;
	padding: 20% 0;
	z-index: 1;
	position: relative;
	
	@include for(large-screens) {
		padding: 13% 0;
	}
	
	&:after {
		content: '';
		display: block;
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		background: $color-secondary-black;
		z-index: 3;
	}
}

.fs-content-wrap {
	position: relative;
	color: $color-white;
	z-index: 20;
	
	.fs-content {		
		margin: 0 auto;
		position: relative;
	}
	
	.fs-title {
		@include header-title(head_title);
		margin-bottom: $gut;		
		color: $color-white;
	}
	
	.fs-desc {
		color: transparentize($color-white, 0.05);		
	}
	
	.fs-icon {
		width: 150px;
		margin-bottom: $gut;
			
		.dashicons {
			font-size: 150px;
			width: 150px;
			height: 150px;
		}
	}
	
	@include for(small-screens) {
		.fs-desc,
		.fs-title { margin-left: 180px;}
		
		.fs-icon {
			position: absolute;
			top: -15px;
			left: 0;
			margin-bottom: 0;
		}
	}
	
	@include for(medium-screens) {
		.fs-desc,
		.fs-title { margin-left: 200px;}
	}
}


/* intro widget */
.intro-head-content {
	display:block;
	
	.ihc-title {
		display: inline-block;
		background: none;
		@include header-title(intro);		
		color: $color-white;
		padding: 10px 20px 0px 20px;
		margin-bottom: 0px;
	}
	
	.ihc-content {
		margin-top: 0px;
	}
		
	&.text-over-image {
		.ihc-content {
			margin: 0;			
		}
		
		.ihc-title {
			background: none;
			padding: 0;
			
			span {
				color: $color-white;
				background: none;
				display: inline-block;
				padding: 8px 0;
				margin-left: 8px;
				
                @include upto (medium-screens) {
                    margin-left: 2px;
                }
                
                @include upto (medium-screens) {
                    padding: 0px 0;
                }
                
                @include upto (large-screens) {
                    padding: 8px 0;
                }
                
			}
		}
		
		.ihc-desc {
			@include body-text(intro);
			padding: 8px;
			margin-top:3px;
			color: rgba(255,255,255, 0.95);
			h2, h3, h4, h5, h6 { color: $color-white;}
			
            display:none;
            @include for(small-screens) { }
            @include for(medium-screens) { display:block; }
            @include for(large-screens) { display:block; }
		}
		
		.cta {
			@include button();
			margin-top: $base;
		}
	}
}

.intro-container  {
    background: url(../img/intro.jpg) repeat-x left top;
    @include upto(medium-screens) {
        padding-bottom:0px;
    }
    
    @include for(medium-screens) {
        padding-top:20px;
    }
    
    @include for(medium-screens) {
        padding-top:40px;
    }
}

.homepage-intro {
    .intro-head-content {
        .ihc-content {
            float:left;
            margin-top: 12px;

            @include for(small-screens) {
            }
    
            @include for(medium-screens) {
                max-width: 500px;
                margin-top: 0px;
                margin-left:17px;
            }
            
            @include for(large-screens) {
                max-width: 665px;
                margin-left:12px;
                margin-top: 19px;
            }
            
            @include for(exlarge-screens) {
                max-width: 757px;
            }
            
        }
    }	
}

.so-widget-tst-introfrupalo {
    .svg-icon.pic-butterfly {
        display:block;
        float:left;
        height: 80px;
        width: 80px;
        margin-left: 0px;
        margin-top: -30px;
    
        @include for(small-screens) {
            height: 100px;
            width: 100px;
            margin-left: 0px;
        }

        @include for(medium-screens) {
            height:150px;
            width: 150px;
            margin-top: 10px;
            margin-left: 0px;
        }
        
        @include for(large-screens) {
            height:205px;
            width:205px;
            margin-top:32px;
            margin-left: 0px;
            margin-right: 47px;
        }
    }
}

/* intro stats */
$color-link-intro: #FA9200;
.frupalo-intro-stats {
    margin-top:-10px;
    margin-bottom:30px;
    padding-left:0px;

    @include for(small-screens) {
        margin-top:10px; 
        padding-left:0px;
    }
    @include for(medium-screens) {
        margin-top:-5px; 
        padding-left:0px;
    }
    @include for(large-screens) {
        margin-top:55px; 
        padding-left:0px;
    }
    
    .frupalo-intro-stats-item {
        color:$color-white;
        font-size:14px;
        line-height:22px;
        
        .widget-title {
            color:$color-white;
            font-size:24px;
            font-weight:700;
            text-transform:none;
            margin-bottom:18px;
            
            @include upto(small-screens) {
                margin-bottom:10px;
            }
        }
        
        .intro-stats-big-link h3 a {
            text-decoration:underline;
            color:$color-link-intro;
            
            &:hover, &:focus, &:active {
                color: $color-link-three;
            }
        }
        
    }
}

/* share buttons */
.frupalo-share-buttons {
    margin-left:auto;
    margin-right:auto;
    
    .widget-title {
        display:none;
    }
}

.frupalo-share-buttons-row {
    margin-top:-50px;
    height:47px;
    
    @include upto(small-screens) {
        margin-top:-45px;
    }

    @include for(medium-screens) {
        margin-top:-65px;
    }
    
    @include for(large-screens) {
        margin-top:-50px;
    }

    .frupalo-share-buttons { 
    
        .textwidget {
            width:350px;
            margin-left:auto;
            margin-right:auto;
            position:relative;
            
            @include upto(small-screens) {
                width:300px;
            }

            @include for(medium-screens) {
                margin-left:-45px;
            }
            
            @include for(large-screens) {
                margin-left:-15px;
            }
        }
        
        .ya-share2 {
            position:absolute;
            background-color:$color-white;
            padding-top:9px;
            height:47px;
            width:100%;
    
            .ya-share2__list {
                padding-right:11px;
                padding-left:11px;
                
                @include upto(small-screens) {
                    padding-right:7px;
                    padding-left:7px;
                }
                
                margin-left:0px;
                display: flex;
                flex-flow: row nowrap;
                justify-content: space-between;
            }
            
            .ya-share2__item:before {
                content:"";
            }
            
            .ya-share2__container_size_m {
                .ya-share2__item {
                    padding-left:0px;
                    width:88px;
                    
                    @include upto(small-screens) {
                        width:70px;
                    }
                    
                    &.ya-share2__item_service_vkontakte, &.ya-share2__item_service_vkontakte .ya-share2__icon {
                        background-color:#5a87ad;
                    }
                    
                    &.ya-share2__item_service_facebook, &.ya-share2__item_service_facebook .ya-share2__icon {
                        background-color:#4c6fa8;
                    }
    
                    &.ya-share2__item_service_twitter, &.ya-share2__item_service_twitter .ya-share2__icon {
                        background-color:#00bcf0;
                        width:46px;
                    }
    
                    &.ya-share2__item_service_odnoklassniki, &.ya-share2__item_service_odnoklassniki .ya-share2__icon {
                        background-color:#ffb061;
                    }
    
                    .ya-share2__icon {
                        width:29px;
                        height:29px;
                        background-repeat:no-repeat;
                    }
                }
            }
        }
    }
}

.frupalo-share-buttons-row.bottom-share-block {
    margin-top:-12px;
    margin-bottom:12px;
}

/** Donation **/
.so-widget-tst-donationhystory {
	.all-link {
		margin-top: $base;
		font-size: 0.8em;
	}
}


/** Form widget **/
.entry-content .frm_form_widget, 
.frm_form_widget {
	.widget-title {
		display: none;		
	}
	
	.frm_forms {
		marign: 0;
	}
}
