/** Widgets **/


.widget {	
	margin-bottom: $gut;
	&:last-of-type { margin-bottom: 0; }
	
	& > h3, .widget-title {
		margin-bottom: $base;		
		@include header-title(widget);		
	}
	
	.textwidget {		
		p:last-child { margin-bottom: 0; }
		
		h5 {
			@include post-title(small_title);
			margin-bottom: $base;
			&:last-child { margin-bottom :0;}
		}
		
	}
	
	.ghost-button {
		@include ghost-button(14px, $color-link-three, $color-white);
	}
		
	p { //temp		
		margin-bottom: $gut/2;
	}
	
	&.red {
		background: $color-link-three;
		padding: $gut/2;
		color: rgba(255,255,255, 0.98);
		h3, .widget-title, h5 { color: inherit; }
		
		a { color: $color-white; }
		
		.ghost-button {
			margin-top: $base;
			@include ghost-button(16px, $color-white, $color-link-three);
		}
		
		.button  {
			@include button(white);
		}
	}
	
	&.text-center {
		text-align: center;
	}
	
}

.widget_nav_menu {
	@include nav-text();	
	li { margin-bottom: $base/2; }
	
	.hide-on-large & {
		margin-bottom: 0;
		li {
			display: inline-block;
			margin: 0 18px 9px 0;
		}
	}
}

.donation_cta {
	text-align: center;
	
	h3, .widget-title, h5 { color: inherit; }
	
	h5 {
		@include post-title(small_title);
		margin-bottom: $base;
		&:last-child { margin-bottom :0;}
	}
	
	
}



/** Page builder widgets **/
@mixin local-menu-default {
	ul {
		margin: 0;
	}
	
	li {
		list-style-type: none;		
		&:before { display: none; }
	}
	
	a {
		color: $color-link-one;
		display: inline-block;
		padding-top: 6px;
		border-bottom: 1px solid transparentize($color-link-one, 0.75);
		white-space: nowrap;
		
		&:hover {
			color: $color-link-three;
			border-color: $color-link-three;
		}
	}
	
	.current-menu-item {
		a, a:hover {
			border-bottom-color: $color-border-normal;
			color: $color-text;
			cursor: default;
		}
	}
}

@mixin local-menu-horizont {
			
	li {
		display: inline-block;
		margin: 0 12px;
		padding: 0;		
	}	
}

.so-panel.widget_nav_menu {	
	@include local-menu-default();
	.inpage-h-menu {
		@include local-menu-horizont();
	}
}

.heading-menu {
	@include local-menu-default();
	@include local-menu-horizont();
	margin: $base 0 0;
}

.tpl-page-fullwidth {
	margin-bottom: $gut*1.5;
	overflow-x: hidden;
	position: relative;
}

.taxonomy-intro {
	overflow-x: hidden;
	position: relative;
}

//rows and widgets modifiers
.panel-grid {
	.container-extended  { //for string
		@include container-extended();		
	}
	
	.container-narrowed { // for widget in the center
		max-width: 770px;
		margin: 0 auto;
	}
	
	.no-bottom-margin.panel-cell-style .so-panel.widget { //no margin after widget
		margin-bottom: 0 !important;
	}
	
	.content-center { //center widget text
		text-align: center;
	}
	
	.colored-row { //grey row  of normal width
		padding: $gut;
		background: $color-secondary;
	}
	
	.colored-red { //grey row  of normal width
		padding: $gut;
		background: $color-link-three;
		color: $color-white;
		p,h1, h2, h3, h4, h5, h6, li, a {
			color: $color-white;
		}
	}
	
	.back-to-container div[class *= "so-widget-"]{ //widget limited to container width
		max-width: $page_cont;
		margin: 0 auto;
	}
	
	.title-red {
		.widget-title {
			color: $color-link-one;
		}
	}
}




//colored bg
.container-extended-colored {
	@include container-extended();
	background: $colored-block-bg;
	padding-top: $gut*1.5;
	padding-bottom: $gut*1.5;
	color: $colored-block-text;
	
	h1, h2, h3, h4, h5, h6, li {
		color: $colored-block-text;
	}
	
	a {
		color: $colored-block-text;
		text-decoration: underline;
		&:hover, &:focus, &:active {
			color: $color-link-three;				
		}
	}
	
	.frm_forms { 
		border: none;
		box-shadow: 1px 1px 3px rgba(0,0,0, 0.5);
	}
}

//pictured bg
.container-extended-pictured {
	@include container-extended();
	padding-top: $gut*1.5;
	padding-bottom: $gut*1.5;
		
	.text-white {
		padding: $gut 0;
		
		h2, h3, h4 { color: $color-white; }
		color: $color-white;
		
		a {
			color: $color-white;
			text-decoration: underline;
			
			&:hover, &:focus, &:active {
				background: $color-link-one;				
			}
		}
	}
	
	&.blurred { 
		z-index: 1;
		position: relative;
		
		div[id *="pl-"] {
			z-index: 10;
			position: relative;
		}
		
		&:after {
			content: '';
			display: block;
			width: 100%;
			height: 100%;			
			background: rgba(0,0,30, 0.5);
			position: absolute;
			top: 0;
			left: 0;
			z-index: 2;
		}
		
	}
}

//cta
.container-cta {
	//border-top: 6px solid $color-link-three;
	//border-bottom: 6px solid $color-link-three;
	padding: $base*3 0 0;
	text-align: center;
	background: url(../img/wave-l-l.png) repeat-x left top;
	background: url(../img/wave-l-l.svg) repeat-x left top;
	
	
	h4 { margin: 0; }
	h4 + p {
		margin-top: $base;
	}
}

.rdc-button,
.button {
	@include button();
}	

//section title
.pb-section-title {
	
	&.align-left {
		text-align: left;
	}
	
	&.align-right {
		text-align: right;
	}
	
	&.align-center {
		text-align: center;
	}
	
	h3 {
		@include header-title(section);
		margin: 0;		
	}
	
	h4 {
		@include post-title(popup);
		margin: 0;		
	}
	
	h3 + h4 { margin-top: 1em; }
	
	&.page-header {
		padding-top: $gut;
		
		h3 {
			@include header-title(section);
		}
	}
	
	.text-white & {
		h3, h4 { color: $color-white; }
	}
}

/* Form widget */
.entry-content .frm_form_widget, 
.frm_form_widget {
	.widget-title {
		display: none;		
	}
	
	.frm_forms {
		marign: 0;
	}
}

/* Icon block */
.iconic-block {
	text-align: center;
	@include clearfix();
	
	.ib-icon {		
		margin-bottom: $base;
		@include transition(all 0.35s);
	}
	
	.pic-donations {
		width: 82px;
		height: 75px;
	}
	
	.pic-letter-pro,
	.pic-letter {
		width: 94px;
		height: 75px;
	}
	.pic-petition {
		width: 55px;
		height: 75px;
	}
	.pic-volunteer {
		width: 94px;
		height: 75px;
	}
	.pic-offline,
	.pic-online {
		width: 75px;
		height: 75px;
	}
	
	.ib-title {
		margin-bottom: $gut/2;
		@include transition(all 0.35s);
		
		&.regular {
			@include post-title();
			color: $color-text-black;
		}
		
		&.compact {
			@include header-title(widget);
			color: $color-link-one;
		}
	}
	
	.ib-content {
		color: $color-text;
		p:last-child { margin: 0; }
		
		b {
			@include transition(all 0.35s);
			font-weight: normal;
			text-decoration: underline; }
	}
	
	.ib-url {
		display: block;
		
		
		&:hover {
			.ib-title {
				color: $color-link-three;		
				//text-decoration: underline;
			}
						
			.ib-icon {
				filter: saturate(120%);
			}
			
			.ib-content b { color: $color-link-three;	}
		}
		
	}
	
	@include for(small-screens) {
		.ib-icon {
			float: left;
			width: 95px;
		}
		
		.ib-title, .ib-content {
			margin-left: 130px;
			text-align: left;
		}
	}
	
	@include for(medium-screens) {
		.ib-icon {
			float: none;
			width: 100%;
		}
		
		.ib-title, .ib-content {
			margin-left: 0;
			text-align: center;
		}
	}
}

/** Stat block **/
.stat-block {
	p { margin: 0; }	
	text-align: center;	
	.linked { font-size: 0.85em; }
}


/* Title section on pages  */
.featured-section {
	@include container-extended();
	color: $color-white;
	padding: 20% 0;
	z-index: 1;
	position: relative;
	
	@include for(large-screens) {
		padding: 13% 0;
	}
	
	&:after {
		content: '';
		display: block;
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		background: $color-secondary-black;
		z-index: 3;
	}
}

.fs-content-wrap {
	position: relative;
	color: $color-white;
	z-index: 20;
	
	.fs-content {		
		margin: 0 auto;
		position: relative;
	}
	
	.fs-title {
		@include header-title(head_title);
		margin-bottom: $gut;		
		color: $color-white;
	}
	
	.fs-desc {
		color: transparentize($color-white, 0.05);		
	}
	
	.fs-icon {
		width: 150px;
		margin-bottom: $gut;
			
		.dashicons {
			font-size: 150px;
			width: 150px;
			height: 150px;
		}
	}
	
	@include for(small-screens) {
		.fs-desc,
		.fs-title { margin-left: 180px;}
		
		.fs-icon {
			position: absolute;
			top: -15px;
			left: 0;
			margin-bottom: 0;
		}
	}
	
	@include for(medium-screens) {
		.fs-desc,
		.fs-title { margin-left: 200px;}
	}
}


/* intro widget */
.intro-head-content {
	display:block;
	
	.ihc-title {
		display: inline-block;
		background: none;
		@include header-title(intro);		
		color: $color-white;
		padding: 10px 20px 0px 20px;
		margin-bottom: 0px;
	}
	
	.ihc-content {
		margin-top: 0px;
	}
		
	&.text-over-image {
		.ihc-content {
			margin: 0;			
		}
		
		.ihc-title {
			background: none;
			padding: 0;
			
			span {
				color: $color-white;
				background: none;
				display: inline-block;
				padding: 8px 0;
				margin-left: 8px;
				
                @include upto (medium-screens) {
                    margin-left: 2px;
                }
                
                @include upto (medium-screens) {
                    padding: 0px 0;
                }
                
                @include upto (large-screens) {
                    padding: 8px 0;
                }
                
			}
		}
		
		.ihc-desc {
			@include body-text(intro);
			padding: 8px;
			margin-top:3px;
			color: rgba(255,255,255, 0.95);
			h2, h3, h4, h5, h6 { color: $color-white;}
			
            display:none;
            @include for(small-screens) { }
            @include for(medium-screens) { display:block; }
            @include for(large-screens) { display:block; }
		}
		
		.cta {
			@include button();
			margin-top: $base;
		}
	}
}




/** Donation **/
.so-widget-tst-donationhystory {
	.all-link {
		margin-top: $base;
		font-size: 0.8em;
	}
}




